//Setting Up Variables

:root {
	--dark-bg: #186d8c;
	--dark-text-color: #f5f5f5;
	--light-bg: #f5f5f5;
	--light-text-color: #186d8c; 
	--primary-btn: #4daaf2;
	--nf-primary: #186d8c;
	--nf-secondary: #f5f5f5;
}

// Theme 

$dark-bg: var(--dark-bg);
$dark-text-color: var(--dark-text-color);
$light-bg: var(--light-bg);
$light-text-color: var(--light-text-color);
$nf-primary: var(--nf-secondary);
$nf-secondary: var(--nf-secondary);


// Button
$primary-btn: var(--primary-btn);

// color pallete
$black: #1C272F;
$dark-grey: #686E74;
$medium-grey: #B4B8BB;
$light-grey: #E0E1E3;
$light-blue: #C3D7EE;
$green: #20A466;
$light-green: #A8CCAD;
$white: #fff;
$blue: #3C7AE2;

$a_hover: #c3d5f2;

// netfluence font family
$fontOpenSans: 'Open Sans', sans-serif;
$fontPoppins: 'Poppins', sans-serif;
$fontPtSans: 'PT Sans', sans-serif;
$fontAbeeze: 'ABeeZee', sans-serif;

$max-width: 1140px;
$max-width_1280: 900px;

$breakpoints-mobile: 730px;
$breakpoints-tablet: 768px;
$breakpoints-largeScreen: 1440px;

