/* Display Position */
.fit-to-centered {
  object-fit: none;
}

.fit-to-width {
  object-fit: cover;
}

.fit-to-height {
  object-fit: contain;
}

.fit-to-fill {
  object-fit: fill;
}


// overlay
.nf-image-overlay, .nf-section{
	position: relative;
}
.nf-image-overlay::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .5;

}
.nf-container {
  .nf-row {
    display: flex;
    @media(max-width: nf-breakpoints(md)){
      flex-wrap: wrap;
      flex-direction: column;
    }
    &.nf-fc {
      flex-direction: column;
    }
    .nf-fc.reverse {
      flex-direction: column-reverse;
    }
    &.nf-fr {
      flex-direction: row;
    }
    &.nf-fr.reverse {
      flex-direction: row-reverse;
    }
    .nf-col{
      margin: auto;
      .nf-content{
        padding: 30px;
      }
    }

  }
}