*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
} 

.header-container-wrapper .container-fluid{
  padding-right: 0;
  padding-left: 0;
  max-width: none;
}

.body-container-wrapper .container-fluid{
  padding-right: 0;
  padding-left: 0;
}

.footer-container-wrapper .container-fluid{
  padding-right: 0;
  padding-left: 0;
}

.container-fluid .row-fluid .nf-page-center {
  float: none;
  // max-width: $max-width;
  margin: 0 auto;
  padding: 0 15px;
}

.nf-container {
  position: relative;
  @include make-container();
  @include make-container-max-widths();

  @media(max-width: nf-breakpoints(md)){
    max-width: 100%;
  }
}
/* Website background color and default font styles */
// Theme
/*  Themes */

  // $dark-bg: var(--dark-bg);
  // $dark-title-color: var(--dark-title-color);
  // $dark-desc-color: var(--dark-desc-color);

  // // light
  // $light-bg: var(--light-bg);
  // $light-title-color: var(--light-title-color);
  // $light-desc-color: var(--light-desc-color);

.nf-dark {
  background-color: $dark-bg;
  color: $dark-desc-color;
  .content-header{
    color: $dark-title-color;
    *{
      color: inherit;
    }
  }
  .content-desc{
    color: $dark-desc-color;
    *{
      color: inherit;
    }
  }
}
.nf-light {
  background-color: $light-bg;
  color: $light-desc-color;
  .content-header{
    color: $light-title-color;
    *{
      color: inherit;
    }
  }
  .content-desc{
    color: $light-desc-color;
    *{
      color: inherit;
    }
  }
}

body {
  background: $body_backgroundColor;
  color: $body_textColor;
  font-family: 	$body_fontFamily; 
  font-size: $body_fontSize;
  line-height: $body_lineHeight;
  font-style: $body_fontStyle;
  font-weight: $body_fontWeight;
  margin-top: $body_marginTop;
  margin-left: $body_marginLeft;
  margin-bottom: $body_marginBottom;
  margin-right:  $body_marginRight;            
  padding-top: $body_paddingTop;
  padding-left: $body_paddingLeft;
  padding-bottom: $body_paddingBottom;
  padding-right: $body_paddingRight;
  opacity: $body_opacity;
  border-radius:   $body_borderRadius;                            
  border-color:  $body_borderColor;
  border-style:  $body_borderStyle;        
  border-width: $body_borderWidth;   

    

}


h1 {
  background: $h1_backgroundColor;
  color: $h1_textColor;
  font-family:  $h1_fontFamily; 
  font-size: $h1_fontSize;
  line-height: $h1_lineHeight;
  font-style: $h1_fontStyle;
  font-weight: $h1_fontWeight;
  margin-top: $h1_marginTop;
  margin-left: $h1_marginLeft;
  margin-bottom: $h1_marginBottom;
  margin-right:  $h1_marginRight;            
  padding-top: $h1_paddingTop;
  padding-left: $h1_paddingLeft;
  padding-bottom: $h1_paddingBottom;
  padding-right: $h1_paddingRight;
  opacity: $h1_opacity;
  border-radius:   $h1_borderRadius;                            
  border-color:  $h1_borderColor;
  border-style:  $h1_borderStyle;        
  border-width: $h1_borderWidth;             
}

h2 {
  background: $h2_backgroundColor;
  color: $h2_textColor;
  font-family:  $h2_fontFamily; 
  font-size: $h2_fontSize;
  line-height: $h2_lineHeight;
  font-style: $h2_fontStyle;
  font-weight: $h2_fontWeight;
  margin-top: $h2_marginTop;
  margin-left: $h2_marginLeft;
  margin-bottom: $h2_marginBottom;
  margin-right:  $h2_marginRight;            
  padding-top: $h2_paddingTop;
  padding-left: $h2_paddingLeft;
  padding-bottom: $h2_paddingBottom;
  padding-right: $h2_paddingRight;
  opacity: $h2_opacity;
  border-radius:   $h2_borderRadius;                            
  border-color:  $h2_borderColor;
  border-style:  $h2_borderStyle;        
  border-width: $h2_borderWidth;             
}

h3 {
  background: $h3_backgroundColor;
  color: $h3_textColor;
  font-family:  $h3_fontFamily; 
  font-size: $h3_fontSize;
  line-height: $h3_lineHeight;
  font-style: $h3_fontStyle;
  font-weight: $h3_fontWeight;
  margin-top: $h3_marginTop;
  margin-left: $h3_marginLeft;
  margin-bottom: $h3_marginBottom;
  margin-right:  $h3_marginRight;            
  padding-top: $h3_paddingTop;
  padding-left: $h3_paddingLeft;
  padding-bottom: $h3_paddingBottom;
  padding-right: $h3_paddingRight;
  opacity: $h3_opacity;
  border-radius:   $h3_borderRadius;                            
  border-color:  $h3_borderColor;
  border-style:  $h3_borderStyle;        
  border-width: $h3_borderWidth;             
}

h4 {
  background: $h4_backgroundColor;
  color: $h4_textColor;
  font-family:  $h4_fontFamily; 
  font-size: $h4_fontSize;
  line-height: $h4_lineHeight;
  font-style: $h4_fontStyle;
  font-weight: $h4_fontWeight;
  margin-top: $h4_marginTop;
  margin-left: $h4_marginLeft;
  margin-bottom: $h4_marginBottom;
  margin-right:  $h4_marginRight;            
  padding-top: $h4_paddingTop;
  padding-left: $h4_paddingLeft;
  padding-bottom: $h4_paddingBottom;
  padding-right: $h4_paddingRight;
  opacity: $h4_opacity;
  border-radius:   $h4_borderRadius;                            
  border-color:  $h4_borderColor;
  border-style:  $h4_borderStyle;        
  border-width: $h4_borderWidth;             
}

h5 {
  background: $h5_backgroundColor;
  color: $h5_textColor;
  font-family:  $h5_fontFamily; 
  font-size: $h5_fontSize;
  line-height: $h5_lineHeight;
  font-style: $h5_fontStyle;
  font-weight: $h5_fontWeight;
  margin-top: $h5_marginTop;
  margin-left: $h5_marginLeft;
  margin-bottom: $h5_marginBottom;
  margin-right:  $h5_marginRight;            
  padding-top: $h5_paddingTop;
  padding-left: $h5_paddingLeft;
  padding-bottom: $h5_paddingBottom;
  padding-right: $h5_paddingRight;
  opacity: $h5_opacity;
  border-radius:   $h5_borderRadius;                            
  border-color:  $h5_borderColor;
  border-style:  $h5_borderStyle;        
  border-width: $h5_borderWidth;             
}

h6 {
  background: $h6_backgroundColor;
  color: $h6_textColor;
  font-family:  $h6_fontFamily; 
  font-size: $h6_fontSize;
  line-height: $h6_lineHeight;
  font-style: $h6_fontStyle;
  font-weight: $h6_fontWeight;
  margin-top: $h6_marginTop;
  margin-left: $h6_marginLeft;
  margin-bottom: $h6_marginBottom;
  margin-right:  $h6_marginRight;            
  padding-top: $h6_paddingTop;
  padding-left: $h6_paddingLeft;
  padding-bottom: $h6_paddingBottom;
  padding-right: $h6_paddingRight;
  opacity: $h6_opacity;
  border-radius:   $h6_borderRadius;                            
  border-color:  $h6_borderColor;
  border-style:  $h6_borderStyle;        
  border-width: $h6_borderWidth;             
}

li {
  background: $li_backgroundColor;
  color: $li_textColor;
  font-family:  $li_fontFamily; 
  font-size: $li_fontSize;
  line-height: $li_lineHeight;
  font-style: $li_fontStyle;
  font-weight: $li_fontWeight;
  margin-top: $li_marginTop;
  margin-left: $li_marginLeft;
  margin-bottom: $li_marginBottom;
  margin-right:  $li_marginRight;            
  padding-top: $li_paddingTop;
  padding-left: $li_paddingLeft;
  padding-bottom: $li_paddingBottom;
  padding-right: $li_paddingRight;
  opacity: $li_opacity;
  border-radius:   $li_borderRadius;                            
  border-color:  $li_borderColor;
  border-style:  $li_borderStyle;        
  border-width: $li_borderWidth;             
}

.body-container.container-fluid {
    padding: 0;
}


.container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
/* Highlighted Text */
::-moz-selection {
  color: #fff;
  background: #ccc;
  text-shadow: none;
}
::selection {
  color: #fff;
  background: #ccc;
  text-shadow: none;
}

a{

  font-size: $anchor_fontSize;
  color: $anchor_textColor;
  font-style:   $anchor_style;
  text-decoration:  $anchor_textDecoration;
  &:hover{
    color: $anchor_hoverColor;
    text-decoration: $anchor_hoverDecoration;
  }
}

blockquote, q {
  margin-left: 30px;
  border-left: 5px solid #dfe3eb;
  padding-left: 10px;

}


@media screen and (max-width: $breakpoints-tablet) {

  /* Website background color and default font styles */
  body {
    background: $tab-body_backgroundColor;
    color: $tab-body_textColor;
    font-family:  $tab-body_fontFamily; 
    font-size: $tab-body_fontSize;
    line-height: $tab-body_lineHeight;
    font-style: $tab-body_fontStyle;
    font-weight: $tab-body_fontWeight;
    margin-top: $tab-body_marginTop;
    margin-left: $tab-body_marginLeft;
    margin-bottom: $tab-body_marginBottom;
    margin-right:  $tab-body_marginRight;            
    padding-top: $tab-body_paddingTop;
    padding-left: $tab-body_paddingLeft;
    padding-bottom: $tab-body_paddingBottom;
    padding-right: $tab-body_paddingRight;
    opacity: $tab-body_opacity;
    border-radius:   $tab-body_borderRadius;                            
    border-color:  $tab-body_borderColor;
    border-style:  $tab-body_borderStyle;        
    border-width: $tab-body_borderWidth; 
                
  }


  h1 {
    background: $tab-h1_backgroundColor;
    color: $tab-h1_textColor;
    font-family:  $tab-h1_fontFamily; 
    font-size: $tab-h1_fontSize;
    line-height: $tab-h1_lineHeight;
    font-style: $tab-h1_fontStyle;
    font-weight: $tab-h1_fontWeight;
    margin-top: $tab-h1_marginTop;
    margin-left: $tab-h1_marginLeft;
    margin-bottom: $tab-h1_marginBottom;
    margin-right:  $tab-h1_marginRight;            
    padding-top: $tab-h1_paddingTop;
    padding-left: $tab-h1_paddingLeft;
    padding-bottom: $tab-h1_paddingBottom;
    padding-right: $tab-h1_paddingRight;
    opacity: $tab-h1_opacity;
    border-radius:   $tab-h1_borderRadius;                            
    border-color:  $tab-h1_borderColor;
    border-style:  $tab-h1_borderStyle;        
    border-width: $tab-h1_borderWidth;             
  }

  h2 {
    background: $tab-h2_backgroundColor;
    color: $tab-h2_textColor;
    font-family:  $tab-h2_fontFamily; 
    font-size: $tab-h2_fontSize;
    line-height: $tab-h2_lineHeight;
    font-style: $tab-h2_fontStyle;
    font-weight: $tab-h2_fontWeight;
    margin-top: $tab-h2_marginTop;
    margin-left: $tab-h2_marginLeft;
    margin-bottom: $tab-h2_marginBottom;
    margin-right:  $tab-h2_marginRight;            
    padding-top: $tab-h2_paddingTop;
    padding-left: $tab-h2_paddingLeft;
    padding-bottom: $tab-h2_paddingBottom;
    padding-right: $tab-h2_paddingRight;
    opacity: $tab-h2_opacity;
    border-radius:   $tab-h2_borderRadius;                            
    border-color:  $tab-h2_borderColor;
    border-style:  $tab-h2_borderStyle;        
    border-width: $tab-h2_borderWidth;             
  }

  h3 {
    background: $tab-h3_backgroundColor;
    color: $tab-h3_textColor;
    font-family:  $tab-h3_fontFamily; 
    font-size: $tab-h3_fontSize;
    line-height: $tab-h3_lineHeight;
    font-style: $tab-h3_fontStyle;
    font-weight: $tab-h3_fontWeight;
    margin-top: $tab-h3_marginTop;
    margin-left: $tab-h3_marginLeft;
    margin-bottom: $tab-h3_marginBottom;
    margin-right:  $tab-h3_marginRight;            
    padding-top: $tab-h3_paddingTop;
    padding-left: $tab-h3_paddingLeft;
    padding-bottom: $tab-h3_paddingBottom;
    padding-right: $tab-h3_paddingRight;
    opacity: $tab-h3_opacity;
    border-radius:   $tab-h3_borderRadius;                            
    border-color:  $tab-h3_borderColor;
    border-style:  $tab-h3_borderStyle;        
    border-width: $tab-h3_borderWidth;             
  }

  h4 {
    background: $tab-h4_backgroundColor;
    color: $tab-h4_textColor;
    font-family:  $tab-h4_fontFamily; 
    font-size: $tab-h4_fontSize;
    line-height: $tab-h4_lineHeight;
    font-style: $tab-h4_fontStyle;
    font-weight: $tab-h4_fontWeight;
    margin-top: $tab-h4_marginTop;
    margin-left: $tab-h4_marginLeft;
    margin-bottom: $tab-h4_marginBottom;
    margin-right:  $tab-h4_marginRight;            
    padding-top: $tab-h4_paddingTop;
    padding-left: $tab-h4_paddingLeft;
    padding-bottom: $tab-h4_paddingBottom;
    padding-right: $tab-h4_paddingRight;
    opacity: $tab-h4_opacity;
    border-radius:   $tab-h4_borderRadius;                            
    border-color:  $tab-h4_borderColor;
    border-style:  $tab-h4_borderStyle;        
    border-width: $tab-h4_borderWidth;             
  }

  h5 {
    background: $tab-h5_backgroundColor;
    color: $tab-h5_textColor;
    font-family:  $tab-h5_fontFamily; 
    font-size: $tab-h5_fontSize;
    line-height: $tab-h5_lineHeight;
    font-style: $tab-h5_fontStyle;
    font-weight: $tab-h5_fontWeight;
    margin-top: $tab-h5_marginTop;
    margin-left: $tab-h5_marginLeft;
    margin-bottom: $tab-h5_marginBottom;
    margin-right:  $tab-h5_marginRight;            
    padding-top: $tab-h5_paddingTop;
    padding-left: $tab-h5_paddingLeft;
    padding-bottom: $tab-h5_paddingBottom;
    padding-right: $tab-h5_paddingRight;
    opacity: $tab-h5_opacity;
    border-radius:   $tab-h5_borderRadius;                            
    border-color:  $tab-h5_borderColor;
    border-style:  $tab-h5_borderStyle;        
    border-width: $tab-h5_borderWidth;             
  }

  h6 {
    background: $tab-h6_backgroundColor;
    color: $tab-h6_textColor;
    font-family:  $tab-h6_fontFamily; 
    font-size: $tab-h6_fontSize;
    line-height: $tab-h6_lineHeight;
    font-style: $tab-h6_fontStyle;
    font-weight: $tab-h6_fontWeight;
    margin-top: $tab-h6_marginTop;
    margin-left: $tab-h6_marginLeft;
    margin-bottom: $tab-h6_marginBottom;
    margin-right:  $tab-h6_marginRight;            
    padding-top: $tab-h6_paddingTop;
    padding-left: $tab-h6_paddingLeft;
    padding-bottom: $tab-h6_paddingBottom;
    padding-right: $tab-h6_paddingRight;
    opacity: $tab-h6_opacity;
    border-radius:   $tab-h6_borderRadius;                            
    border-color:  $tab-h6_borderColor;
    border-style:  $tab-h6_borderStyle;        
    border-width: $tab-h6_borderWidth;             
  }

  li {
    background: $tab-li_backgroundColor;
    color: $tab-li_textColor;
    font-family:  $tab-li_fontFamily; 
    font-size: $tab-li_fontSize;
    line-height: $tab-li_lineHeight;
    font-style: $tab-li_fontStyle;
    font-weight: $tab-li_fontWeight;
    margin-top: $tab-li_marginTop;
    margin-left: $tab-li_marginLeft;
    margin-bottom: $tab-li_marginBottom;
    margin-right:  $tab-li_marginRight;            
    padding-top: $tab-li_paddingTop;
    padding-left: $tab-li_paddingLeft;
    padding-bottom: $tab-li_paddingBottom;
    padding-right: $tab-li_paddingRight;
    opacity: $tab-li_opacity;
    border-radius:   $tab-li_borderRadius;                            
    border-color:  $tab-li_borderColor;
    border-style:  $tab-li_borderStyle;        
    border-width: $tab-li_borderWidth;             
  }
  a{

    font-size: $tab-anchor_fontSize;
    color: $tab-anchor_textColor;
    font-style:   $tab-anchor_style;
    text-decoration:  $tab-anchor_textDecoration;
    &:hover{
      color: $tab-anchor_hoverColor;
      text-decoration: $tab-anchor_hoverDecoration;
    }
  }

  blockquote, q {
    margin-left: 30px;
    border-left: 5px solid #dfe3eb;
    padding-left: 10px;

  }

}

@media screen and (max-width: $breakpoints-mobile) {
  /* Website background color and default font styles */
  body {
    background: $mob-body_backgroundColor;
    color: $mob-body_textColor;
    font-family:  $mob-body_fontFamily; 
    font-size: $mob-body_fontSize;
    line-height: $mob-body_lineHeight;
    font-style: $mob-body_fontStyle;
    font-weight: $mob-body_fontWeight;
    margin-top: $mob-body_marginTop;
    margin-left: $mob-body_marginLeft;
    margin-bottom: $mob-body_marginBottom;
    margin-right:  $mob-body_marginRight;            
    padding-top: $mob-body_paddingTop;
    padding-left: $mob-body_paddingLeft;
    padding-bottom: $mob-body_paddingBottom;
    padding-right: $mob-body_paddingRight;
    opacity: $mob-body_opacity;
    border-radius:   $mob-body_borderRadius;                            
    border-color:  $mob-body_borderColor;
    border-style:  $mob-body_borderStyle;        
    border-width: $mob-body_borderWidth;             
  }


  h1 {
    background: $mob-h1_backgroundColor;
    color: $mob-h1_textColor;
    font-family:  $mob-h1_fontFamily; 
    font-size: $mob-h1_fontSize;
    line-height: $mob-h1_lineHeight;
    font-style: $mob-h1_fontStyle;
    font-weight: $mob-h1_fontWeight;
    margin-top: $mob-h1_marginTop;
    margin-left: $mob-h1_marginLeft;
    margin-bottom: $mob-h1_marginBottom;
    margin-right:  $mob-h1_marginRight;            
    padding-top: $mob-h1_paddingTop;
    padding-left: $mob-h1_paddingLeft;
    padding-bottom: $mob-h1_paddingBottom;
    padding-right: $mob-h1_paddingRight;
    opacity: $mob-h1_opacity;
    border-radius:   $mob-h1_borderRadius;                            
    border-color:  $mob-h1_borderColor;
    border-style:  $mob-h1_borderStyle;        
    border-width: $mob-h1_borderWidth;             
  }

  h2 {
    background: $mob-h2_backgroundColor;
    color: $mob-h2_textColor;
    font-family:  $mob-h2_fontFamily; 
    font-size: $mob-h2_fontSize;
    line-height: $mob-h2_lineHeight;
    font-style: $mob-h2_fontStyle;
    font-weight: $mob-h2_fontWeight;
    margin-top: $mob-h2_marginTop;
    margin-left: $mob-h2_marginLeft;
    margin-bottom: $mob-h2_marginBottom;
    margin-right:  $mob-h2_marginRight;            
    padding-top: $mob-h2_paddingTop;
    padding-left: $mob-h2_paddingLeft;
    padding-bottom: $mob-h2_paddingBottom;
    padding-right: $mob-h2_paddingRight;
    opacity: $mob-h2_opacity;
    border-radius:   $mob-h2_borderRadius;                            
    border-color:  $mob-h2_borderColor;
    border-style:  $mob-h2_borderStyle;        
    border-width: $mob-h2_borderWidth;             
  }

  h3 {
    background: $mob-h3_backgroundColor;
    color: $mob-h3_textColor;
    font-family:  $mob-h3_fontFamily; 
    font-size: $mob-h3_fontSize;
    line-height: $mob-h3_lineHeight;
    font-style: $mob-h3_fontStyle;
    font-weight: $mob-h3_fontWeight;
    margin-top: $mob-h3_marginTop;
    margin-left: $mob-h3_marginLeft;
    margin-bottom: $mob-h3_marginBottom;
    margin-right:  $mob-h3_marginRight;            
    padding-top: $mob-h3_paddingTop;
    padding-left: $mob-h3_paddingLeft;
    padding-bottom: $mob-h3_paddingBottom;
    padding-right: $mob-h3_paddingRight;
    opacity: $mob-h3_opacity;
    border-radius:   $mob-h3_borderRadius;                            
    border-color:  $mob-h3_borderColor;
    border-style:  $mob-h3_borderStyle;        
    border-width: $mob-h3_borderWidth;             
  }

  h4 {
    background: $mob-h4_backgroundColor;
    color: $mob-h4_textColor;
    font-family:  $mob-h4_fontFamily; 
    font-size: $mob-h4_fontSize;
    line-height: $mob-h4_lineHeight;
    font-style: $mob-h4_fontStyle;
    font-weight: $mob-h4_fontWeight;
    margin-top: $mob-h4_marginTop;
    margin-left: $mob-h4_marginLeft;
    margin-bottom: $mob-h4_marginBottom;
    margin-right:  $mob-h4_marginRight;            
    padding-top: $mob-h4_paddingTop;
    padding-left: $mob-h4_paddingLeft;
    padding-bottom: $mob-h4_paddingBottom;
    padding-right: $mob-h4_paddingRight;
    opacity: $mob-h4_opacity;
    border-radius:   $mob-h4_borderRadius;                            
    border-color:  $mob-h4_borderColor;
    border-style:  $mob-h4_borderStyle;        
    border-width: $mob-h4_borderWidth;             
  }

  h5 {
    background: $mob-h5_backgroundColor;
    color: $mob-h5_textColor;
    font-family:  $mob-h5_fontFamily; 
    font-size: $mob-h5_fontSize;
    line-height: $mob-h5_lineHeight;
    font-style: $mob-h5_fontStyle;
    font-weight: $mob-h5_fontWeight;
    margin-top: $mob-h5_marginTop;
    margin-left: $mob-h5_marginLeft;
    margin-bottom: $mob-h5_marginBottom;
    margin-right:  $mob-h5_marginRight;            
    padding-top: $mob-h5_paddingTop;
    padding-left: $mob-h5_paddingLeft;
    padding-bottom: $mob-h5_paddingBottom;
    padding-right: $mob-h5_paddingRight;
    opacity: $mob-h5_opacity;
    border-radius:   $mob-h5_borderRadius;                            
    border-color:  $mob-h5_borderColor;
    border-style:  $mob-h5_borderStyle;        
    border-width: $mob-h5_borderWidth;             
  }

  h6 {
    background: $mob-h6_backgroundColor;
    color: $mob-h6_textColor;
    font-family:  $mob-h6_fontFamily; 
    font-size: $mob-h6_fontSize;
    line-height: $mob-h6_lineHeight;
    font-style: $mob-h6_fontStyle;
    font-weight: $mob-h6_fontWeight;
    margin-top: $mob-h6_marginTop;
    margin-left: $mob-h6_marginLeft;
    margin-bottom: $mob-h6_marginBottom;
    margin-right:  $mob-h6_marginRight;            
    padding-top: $mob-h6_paddingTop;
    padding-left: $mob-h6_paddingLeft;
    padding-bottom: $mob-h6_paddingBottom;
    padding-right: $mob-h6_paddingRight;
    opacity: $mob-h6_opacity;
    border-radius:   $mob-h6_borderRadius;                            
    border-color:  $mob-h6_borderColor;
    border-style:  $mob-h6_borderStyle;        
    border-width: $mob-h6_borderWidth;             
  }

  li {
    background: $mob-li_backgroundColor;
    color: $mob-li_textColor;
    font-family:  $mob-li_fontFamily; 
    font-size: $mob-li_fontSize;
    line-height: $mob-li_lineHeight;
    font-style: $mob-li_fontStyle;
    font-weight: $mob-li_fontWeight;
    margin-top: $mob-li_marginTop;
    margin-left: $mob-li_marginLeft;
    margin-bottom: $mob-li_marginBottom;
    margin-right:  $mob-li_marginRight;            
    padding-top: $mob-li_paddingTop;
    padding-left: $mob-li_paddingLeft;
    padding-bottom: $mob-li_paddingBottom;
    padding-right: $mob-li_paddingRight;
    opacity: $mob-li_opacity;
    border-radius:   $mob-li_borderRadius;                            
    border-color:  $mob-li_borderColor;
    border-style:  $mob-li_borderStyle;        
    border-width: $mob-li_borderWidth;             
  }
  a{

    font-size: $mob-anchor_fontSize;
    color: $mob-anchor_textColor;
    font-style:   $mob-anchor_style;
    text-decoration:  $mob-anchor_textDecoration;
    &:hover{
      color: $mob-anchor_hoverColor;
      text-decoration: $mob-anchor_hoverDecoration;
    }
  }

  blockquote, q {
    margin-left: 30px;
    border-left: 5px solid #dfe3eb;
    padding-left: 10px;

  }

}