{# background variables #}
{% macro convertColor(color) %}rgba({{ color.color|convert_rgb }}, {{color.opacity /100}}){% endmacro %}
{# color #}
{% set bg_color = module.styles.background_color.color|convert_rgb %}
{% set bg_color_op = module.styles.background_color.opacity %}

{# gradient #}
{% set bg_grad_top_col = module.styles.gradient_top_color.color|convert_rgb %}
{% set bg_grad_top_op = module.styles.gradient_top_color.opacity %}
{% set bg_grad_bot_col = module.styles.gradient_bottom_color.color|convert_rgb %}
{% set bg_grad_bot_op = module.styles.gradient_bottom_color.opacity %}

{# Image #}
{% set bg_image_scr = module.styles.background_image.src %}
{% set bg_image_alt = module.styles.background_image.alt %}
{% set bg_image_add_overlay = module.styles.add_overlay %}
{% set bg_image_overlay_color = module.styles.overlay.overlay_color.color|convert_rgb %}
{% set bg_image_overlay_op = module.styles.overlay.overlay_color.opacity/100 %}
{% set bg_image_x_position = module.styles.x_position  %}
{% set bg_image_y_position = module.styles.y_position  %}
{% set is_overlay = module.styles.add_overlay %}

{% macro bg_type(type, is_overlay) %}
  {% if type == 'nf_bg-gradient' %}
    .nf-styles-{{ name }}.nf_bg-gradient {
      background: -moz-linear-gradient(top, rgba({{ bg_grad_top_col }}, 100% ) {{bg_grad_top_op}}%, rgba({{ bg_grad_bot_col }}, 100% ) {{bg_grad_bot_op }}%);
      background: -webkit-linear-gradient(top, rgba({{ bg_grad_top_col }}, 100% ) {{bg_grad_top_op}}%, rgba( {{bg_grad_bot_col }}, 100% ) {{bg_grad_bot_op }}%);
      background: linear-gradient(to bottom, rgba({{ bg_grad_top_col }}, 100%) {{bg_grad_top_op}}%, rgba({{ bg_grad_bot_col }},100% ) {{bg_grad_bot_op }}%);
    }
  {% elif type == 'nf_bg-image' %}
    .nf-styles-{{ name }}.nf_bg-image {
      background-image: url('{{ bg_image_scr }} ');
      background-position: {%if module.styles.background_position != 'custom' %} {{module.styles.background_position}}{% else %}{{ bg_image_x_position }}% {{ bg_image_y_position }}%  {% endif %};
      background-repeat: no-repeat;
      background-size: cover;
}

    {% if is_overlay %}
      .nf-styles-{{ name }}.nf_bg-image::before {
        background-color: rgba({{ bg_image_overlay_color }}, {{ bg_image_overlay_op }});
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
      }
      .nf-styles-{{ name }} .nf-section {
        position: relative;
      }
    {% endif %}
  {% else %}
    .nf-styles-{{ name }}.nf_bg-color {
      background-color: rgba({{ bg_color }}, {{ bg_color_op }} );
    }
  {% endif %}
{% endmacro %}


{% macro filterGroup()%}
<div class="tl_filter_group">
  <div class="tl_filter_wrap">
    <div class="tl_filter_label">
       
        <span class="tl_filter_label_span {% if module.content_settings.filter_option.show_  == false %} hidden {% endif %}">{{ module.content_settings.filter_option.pos_label }}</span>
      
    </div>
  <div class="tl_filter_select_group">
    <form id="nf_filter">
      <select id="position" placeholder="position"  {% if module.content_settings.position_options.show_  == false %}class="hidden"{% endif %}>
      <option value="default"  selected="selected">{{ module.content_settings.position_options.pos_label }}</option>
      {% for item in module.content_settings.position_options.filter_dropdowns %}
          <option value="{{ item }}" >{{ item }}</option>
        {% endfor %}
      </select>
      <select id="location"  {% if module.content_settings.location_options.show_  == false %}class="hidden"{% endif %}>
       <option value="default"  selected="selected">{{ module.content_settings.location_options.pos_label }}</option>
        {% for item in module.content_settings.location_options.filter_dropdowns %}
          <option value="{{ item }}" >{{ item }}</option>
        {% endfor %}
      </select>
      <select id="interest"  {% if module.content_settings.interest_options.show_  == false %}class="hidden"{% endif %}>
        <option value="default"  selected="selected">{{ module.content_settings.interest_options.pos_label }}</option>
        {% for item in module.content_settings.interest_options.filter_dropdowns %}
          <option value="{{ item }}" >{{ item }}</option>
        {% endfor %}
      </select>
    </form>
   </div>
  </div>
</div>
{% endmacro %}

{% macro author_item(member) %}
  <li class="tl_listing_item" data-location="{{ member.loc|capitalize }}" data-interest="{{ member.interest|capitalize }}" data-position="{{member.pos|capitalize}}" >
    <{{ member.add_link != True ? "div" : "a" }} class="tl_listing_thumbnail" href="{{ member.url.url.href }}"  target='{{ member.url.open_in_new_tab == True ? "_blank" : "" }}' style="background-image: url('{{ member.image }}')">
    </{{ member.add_link != True ? "div" : "a" }}>
    <div class="tl_listing_desc">
      <span class="tl_author_name">{{ member.name }}</span>
      <span class="tl_job_title">{{member.pos|capitalize}}</span>
    </div>
  </li>

{% endmacro %}

{% require_css %}
<style>
  {{ bg_type( module.styles.background_type ) }}
  {{ bg_type( module.styles.background_type, bg_image_add_overlay ) }}
</style>
{% end_require_css %}

<section id="section_{{name}}" class="nf-styles-{{ name }} {{ module.styles.background_type }} nf-team-listing">
  <div id="{{ module.renamed_from_id }}" class="nf-section">   
    <div class="nf-container">
      <!--   start your code here    -->
      <div class="nf-con-tl">
        {{ filterGroup() }}
        <span class="result-txt " style="display: none;">No Results</span>
        <div class="tl_listing_items scroll-active">
         
          <div id="author_list">
          <ul class="list">
            {% for item in module.content_settings.list_items %}
              {% set member = 
              {
                'name': item.author_name,
                'pos': item.position,
                'loc': item.location,
                'interest': item.interest,
                'add_link': item.add_redirect,
                'url': item.url_field,
                'image': item.image.src
              }
              %}
              {{ author_item(member) }}
            {% endfor %}
            
            <li class="tl_listing_item_cta">
              <div>
                <span class="tags">{{ module.content_settings.banner_group.tag }}</span>
                <h3 class="title">
                  {{ module.content_settings.banner_group.title }}
                </h3>
                <p class="content">
                 {{ module.content_settings.banner_group.content }}
                </p>
                <div class="cta-button">
                  {% cta guid="{{ module.content_settings.banner_group.cta }}" %}
                </div>
              </div>
            </li>
          </ul>
            <div class="page_nav_container">
              
         
            <div class="page_prev page_nav">
              <a href="#"><i class="fas fa-angle-left"></i> <span>{{ module.pagination_settings.left_text }}</span></a>
             </div>
           <ul class="pagination">
            
            
           </ul>
             
            <div class="page_next page_nav">
              <a href="#"><span>{{ module.pagination_settings.right_text }}</span>  <i class="fas fa-angle-right"></i></a>
              
            </div>
           </div>
          </div>
        </div> 
        <div class="cta-container">
          
        </div>
        
              </div>
        </div>
  </div>
</section>
{% require_css %}
 <style>
    #section_{{name}} .nf-section{
      padding-top:     {{ module.general_settings.adjust_section_height_and_spacing.padding_top }}px;
      padding-bottom:  {{ module.general_settings.adjust_section_height_and_spacing.padding_bottom }}px;   
      min-height: {{ module.general_settings.adjust_section_height_and_spacing.height }}px;
    }
   
   @media (max-width: 820px){
    #section_{{name}} .nf-section{
      padding-top:     0px;
    } 
      #author_list .list {
        margin-top: 0;
     }
     #section_widget_1568348983917 .nf-section {
        padding-bottom: 91px;
    }
   }
  </style>
{% end_require_css %}

{% require_js %}


<script>
(function(){
const authors = $('.list').html();
function initSelect(){
  var location_options = [];
  var position_options = [];
  var interest_options = [];

  $('.tl_listing_item').map( function(item, index){
    var loc = $(this).data('location');
    var pos = $(this).data('position');
    var interest = $(this).data('interest')
    
    location_options.push(loc);
    position_options.push(pos);
    interest_options.push(interest);
  })
  
  location_options  = filterData(location_options);
  position_options  = filterData(position_options);
  interest_options  = filterData(interest_options);

  
  location_options.map(function(item, index){
    var node = `<option value="${item}">${item}</option>`;
    $('#location').append(node);
  })
  
  position_options.map(function(item, index){
    var node = `<option value="${item}">${item}</option>`;
    $('#position').append(node);
  })
  
  interest_options.map(function(item, index){
    var node = `<option value="${item}">${item}</option>`;
    $('#interest').append(node);
  })  
}
function filterData(names) { return names.filter((v,i) => names.indexOf(v) === i)}
function formatText(str){
  return str.replace(/\s+/g, '-').toLowerCase();   
}
function filterItems(){
  var pos = $('#position').val().trim().toLowerCase();
  var loc = $('#location').val().toLowerCase().trim();
  var interest = $('#interest').val().toLowerCase().trim();
  if (pos != 'default' || loc != 'default' || interest != 'default') {
          var displayedItems = 0;
          $('.tl_listing_item').hide();
          $('.tl_listing_item').each(function(){
            var hasAttrib = 0;
            var requirements = 0;
            var $this = $(this);

            if (pos != 'default') {
              if ($this.data('position').trim().toLowerCase() == pos) {
                hasAttrib++;
              }

              requirements++;
            }

            if (loc != 'default') {
              if ($this.data('location').trim().toLowerCase() == loc) {
                hasAttrib++;
              }

              requirements++;
            }

            if (interest != 'default') {
              if ($this.data('interest').trim().toLowerCase() == interest) {
                hasAttrib++;
              }

              requirements++;
            }

            if (hasAttrib == requirements) {
              $this.show();
              displayedItems++;
            }
            
            if (displayedItems == 0){
              $('.result-txt').show();
              
            }else{
              $('.result-txt').hide();
              $('.tl_listing_items ').removeClass("scroll-active")
            }
            $('.tl_listing_item_cta').appendTo('.cta-container');
          });
    }else{
       initCards();
      $('.result-txt').hide();
//        $('.tl_listing_item').show('card-hidden');
       $('.tl_listing_items ').addClass('scroll-active')
       
    }
   
}

function initCards(){
  $(".tl_listing_item").slice(0, 12).show();
  if($(window).width() > 821){
  $('.tl_listing_items ul.list > li:nth-child({{ module.pagination_settings.field_group.banner_position_desktop - 1 }})').after($('.tl_listing_item_cta'));
  }else if ($(window).width() > 820){
   $('.tl_listing_items ul.list  > li:nth-child({{ 12 - 1 }})').after($('.tl_listing_item_cta'));
  }else if ($(window).width() > 734){
   $('.tl_listing_items ul.list  > li:nth-child({{ module.pagination_settings.field_group.banner_position_mobile - 1 }})').after($('.tl_listing_item_cta'));
  }
}
  
function loadmore(){
  if (!load_active){
    if ($('.tl_listing_items').hasClass('scroll-active')){
      $(".tl_listing_item:hidden").slice(0, 10).show();
      load_active = true;
    }
    
  }
}

// init filter options
  initSelect();
  initCards();
  $('#nf_filter').on('change', function(){
    filterItems();
  })
  var load_active = true;
  $(window).scroll(function () { 
    if (load_active && $(window).scrollTop() + $(window).height() >= $('.nf__cbFooter').position().top + $('.nf__cbFooter').outerHeight() - 300) {
      load_active = false;
      loadmore();
    }
  });



function init_tablet(){
 $('.tl_listing_item').show();
  setTimeout(()=>{
    if ($(window).width() < 769){
      var monkeyList = new List('author_list', {
        valueNames: ['name'],
        page: 24,
        pagination: true,
        plugins: [ ListPagination({
          outerWindow: 1,
          innerWindow: 3,
          left: 1,
          right: 1
        })] 
      });
      monkeyList.on('updated', function (list) {
        var elmnt = document.querySelector('.nf-team-listing');
        elmnt.scrollIntoView()
    })
    }
  }, 1000)
}


$('document').ready(function(){
  init_tablet();
})

$(window).resize(function(){
  if($(window).width() <= 768){
    if ($('.pagination').children().length ==0){
      init_tablet();
    }
    $('.pagination').show()
    
  }else{
   $('.list').html(authors);
   $('.pagination').hide()
  }
})

$('body').on('click', '.page_prev', function(e){
    e.preventDefault()
  var elmnt = document.querySelector('.nf-team-listing');
      elmnt.scrollIntoView()
    var $pagination = $('.page_nav_container .pagination')
    var $active = $pagination.find('.active').prev();
    $active.click();
   
})
$('body').on('click', '.page_next', function(e){
    e.preventDefault()
  var elmnt = document.querySelector('.nf-team-listing');
      elmnt.scrollIntoView()
    var $pagination = $('.page_nav_container .pagination')
    var $active = $pagination.find('.active').next();
    $active.click();
   
})
  
  

  
  
})();
</script>
{% end_require_js%}
