{% set whiteBGColor = 'background-color: #fff;' %}
{% set blueBGColor = 'background-image: linear-gradient(#22386F 0%, rgba(0, 152, 199, 0.8) 100%, #0098C7 100%);' %}

{% macro background_color(colored) %}
  {% if colored %}
    {% if module.display_options.background_color is equalto 'blue_gradient' %}
      {{ blueBGColor }}
    {% else %}
      {% if module.display_options.color_options.gradient_color_ %}
        {{ 'background-image: linear-gradient(' ~ module.display_options.main_color.color ~ ', ' ~ module.display_options.color_options.secondary_color.color ~ ');' }}
      {% else %}
        {{ 'background-color:' ~ module.display_options.main_color.color ~ ';' }}
      {% endif %}
    {% endif %}
  {% else %}
    {{ 'background-color:#fff;' }}
  {% endif %}
{% endmacro %}

{% macro section_color(colored) %}
  {% if colored %}
    {% if module.display_options.background_color is equalto 'blue_gradient' %} {{ '#22386F' }} {% else %} {{ module.display_options.main_color.color }} {% endif %}  
  {% else %}
    {{ '#fff' }}
  {% endif %}
{% endmacro %}

{% macro element_color_class(bgcolored, type) %}
  {% if type is equalto 'title' %}
    {% if bgcolored %} {{ 'white-section-title' }} {% else %} {{ 'blue-section-title' }} {% endif %}
  {% elif type is equalto 'text' %}
    {% if bgcolored %} {{ 'white-section-title' }} {% else %} {{ 'blue-section-text' }} {% endif %}
  {% elif type is equalto 'section' %}
    {% if bgcolored %} {{ 'blue-section' }} {% else %} {{ 'white-section' }} {% endif %}
  {% elif type is equalto 'fin' %}
    {% if bgcolored %} {{ 'blue-section-fin' }} {% else %} {{ 'white-section' }} {% endif %}
  {% endif %}
{% endmacro %}

{% macro display_author_section(item, position) %}
  {% if position is equalto 'left' %}
    <div class="author-info-container">
      {% if item.author_info.display_picture.src %}
        <img class="author-image" src="{{ item.author_info.display_picture.src }}" alt="{{ item.author_info.display_picture.alt }}" width="{{ item.author_info.display_picture.width }}" height="{{ item.author_info.display_picture.height }}">
      {% else %}
        <img class="default-author-img author-image" src="https://cdn2.hubspot.net/hubfs/3974729/simplr%20logo%20gray-142546-edited.png">
      {% endif %}
      <div class="author-info-group-left">
        <div class="float-left details-section">
          <div class="author-name {{ element_color_class(module.display_options.colored_background_, 'text') }}">{% inline_text field="author_info.author_name" value="{{ item.author_info.author_name }}" %}</div>
          <div class="author-desc {{ element_color_class(module.display_options.colored_background_, 'text') }}">{{item.author_info.position_description}}</div>
          <div class="author-company-org {{ element_color_class(module.display_options.colored_background_, 'text') }}">{{item.author_info.company_organization}}</div>  
          {{author_profile_link(item)}}
        </div>
        <div class="float-left spacer"></div>
      </div>
    </div>
  {% elif position is equalto 'bottom' %}
    <div class="author-info-container">
      <ul class="author-info-group-bottom">
        <li>
          {% if item.author_info.display_picture.src %}
            <img class="author-image" src="{{ item.author_info.display_picture.src }}" alt="{{ item.author_info.display_picture.alt }}" title="{{ item.author_info.display_picture.alt }}" width="{{ item.author_info.display_picture.width }}" height="{{ item.author_info.display_picture.height }}">
          {% else %}
            <img class="default-author-img author-image" src="https://cdn2.hubspot.net/hubfs/3974729/simplr%20logo%20gray-142546-edited.png">
          {% endif %}
        </li>
        <li>
          <div class="float-left spacer"></div>
        </li>
        <li>
          <div class="float-left details-section">
            <div class="author-name {{ element_color_class(module.display_options.colored_background_, 'text') }}">{% inline_text field="author_info.author_name" value="{{ item.author_info.author_name }}" %}</div>
            <div class="author-desc {{ element_color_class(module.display_options.colored_background_, 'text') }}">{{item.author_info.position_description}}</div>
            <div class="author-company-org {{ element_color_class(module.display_options.colored_background_, 'text') }}">{{item.author_info.company_organization}}</div>  
            {{author_profile_link(item)}}  
          </div>
        </li>
      </ul>
    </div>
  {% endif %}
{% endmacro %}

{% macro multiple_quotes_class(count) %}
  {% if count is equalto 2%}
    {{ 'two-column' }}
  {% elif count is equalto 3 %}
    {{ 'three-column' }}
  {% else %}
    {{ 'single-column' }}
  {% endif %}
{% endmacro %}

{% macro quotes_count_class(count) %}
  {% if count is equalto 2%} {{ 'two-qcolumn' }} {% elif count is equalto 3 %} {{ 'three-qcolumn' }} {% else %} {{ 'one-qcolumn' }} {% endif %}
{% endmacro %}

{% macro author_bio_link(item) %}
  {# if item.author_info.bio is string_containing "none" #}
    <div class="quote-social-icons"></div>
  {# else %}
    <div class="quote-social-icons">
      {% if item.author_info.bio is string_containing "linkedin" %}
        <a href="{% if (!item.author_info.linkedin_url) %} https://linkedin.com/company/gosimplr/{% else %}https://linkedin.com/in/{{item.author_info.linkedin_url}} {% endif %}" class="author-social-icon" target="_blank">LinkedIn<!--//i class="fa fa-linkedin"></i//--></a>
      {% elif item.author_info.bio is string_containing "twitter" %}
        <a href="https://twitter.com/{% if (!item.author_info.twitter_url) %}simplr{% else %}{{item.author_info.twitter_url}} {% endif %}" class="author-social-icon" target="_blank">Twitter<!--//i class="fa fa-twitter"></i//--></a>
      {% endif %}
    </div>
  {% endif #}
{% endmacro %}

{% macro author_profile_link(item) %}
  {% if item.author_info.bio is string_containing "none" %}
    <div class="quote-social-profile"></div>
  {% else %}
    <div class="quote-social-profile">
      {% if item.author_info.bio is string_containing "linkedin" %}
        <a href="{% if (!item.author_info.linkedin_url) %} https://linkedin.com/company/gosimplr/{% else %}https://linkedin.com/in/{{item.author_info.linkedin_url}} {% endif %}" class="{{ element_color_class(module.display_options.colored_background_, 'text') }}" target="_blank">LinkedIn</a>
      {% elif item.author_info.bio is string_containing "twitter" %}
        <a href="https://twitter.com/{% if (!item.author_info.twitter_url) %}simplr{% else %}{{item.author_info.twitter_url}} {% endif %}" class="{{ element_color_class(module.display_options.colored_background_, 'text') }}" target="_blank">Twitter</a>
      {% endif %}
    </div>
  {% endif %} 
{% endmacro %}

{% if module.display_section %}
  {% require_css %}  
  <style>
    @media (max-width:736px) {  
      {{ '.' ~ name}} .white-section {
        background-color: #fff !important; 
      }

      {{ '.' ~ name}} .blue-section {
        background-image: none !important;
        background-color: {{section_color(module.display_options.colored_background_)}} !important;
      }

      {{ '.' ~ name}} .blue-section-fin {
        background-color: {{section_color(module.display_options.colored_background_)}} !important;
      }
    }
  </style>
  {% end_require_css %}

  <section id="{{ module.section_id }}" class="main-container {{name}}" data-name="{{name}}">
    <div class="{{element_color_class(module.display_options.colored_background_, 'section')}} {{quotes_count_class(module.quote_section_items|count)}}" style="{{background_color(module.display_options.colored_background_)}}" data-main-color="{{module.display_options.main_color.color}}">  
      <div class="quote-container">
        <div class="section-title-mobile {{element_color_class(module.display_options.colored_background_, 'title')}}">
          {% if module.add_a_section_title_ %}
            {% inline_text field="section_title" value="{{ module.section_title }}" %}
          {% endif %}
        </div>
        {% if module.quote_section_items|count == 1 %}
          <div class="single-column">
            {% for item in module.quote_section_items %}
              <div class="float-left left-author-info">
                {{ display_author_section(item, 'left') }}
              </div>
              <div class="float-left quote-body">
                <div class="float-left side-fin"></div>
                <div class="float-left quote-body-container">
                  <div class="section-title {{element_color_class(module.display_options.colored_background_, 'title')}}">
                    {% if module.add_a_section_title_ %}
                      {% inline_text field="section_title" value="{{ module.section_title }}" %}
                    {% endif %}
                  </div>
                  <div class="quote-item">
                    {% inline_rich_text field="quote_section.quote_body" value="{{ item.quote_section.quote_body }}" %}
                    {{ author_bio_link(item) }}
                  </div>
                  <div class="bottom-fin-mobile">&nbsp;</div>
                  <div class="bottom-author-info author-mobile">
                    {{ display_author_section(item, 'bottom') }}
                  </div>
                </div>
                
              </div>
              
            {% endfor %}
          </div>
        {% else %}
          <div class="{{multiple_quotes_class(module.quote_section_items|count)}}">
            <div class="section-title {{element_color_class(module.display_options.colored_background_, 'title')}}">
              {% if module.add_a_section_title_ %}
                {% inline_text field="section_title" value="{{ module.section_title }}" %}
              {% endif %}
            </div>
            <ul class="quote-items" style="padding-inline-start: 0px !important">
              {% for item in module.quote_section_items %}
                <li class="quote-item-wrapper">
                  <div class="quote-item-container">
                    <div class="quote-item">
                      <div class="quote-body-content">{% inline_rich_text field="quote_section.quote_body" value="{{ item.quote_section.quote_body }}" %}</div>
                      {{ author_bio_link(item) }}
                    </div>
                    <div class="bottom-fin-mobile">&nbsp;</div>
                    <div class="bottom-author-info author-mobile">
                      {{ display_author_section(item, 'bottom') }}
                    </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    </div>
  </section>

{% endif %}
