.white-section-title {
  color: #fff; 
}

a.white-section-title:hover {
  color: #fff;
}

/*.white-section {
  background-color: #fff; 
}*/

.blue-section-text {
  color: #124750;
}

a.blue-section-text:hover {
  color: #124750;
}

.float-left {
  float: left; 
}

.spacer {
  border-style: solid;
  border-color: #1BC2EB;
  border-width: 2px;
  border-radius: 5px; 
  width: 1px;
  min-height: 49px;
}

.quote-container {
  display: table;   /* Allow the centering to work */
  width: 100%;
}

.quote-item {
  background-color: #fff;
  display: inline-block;
  filter: drop-shadow(0px 0px 2px rgba(0,0,0,.5));
}

/*Author Info Styles*/
.author-social-icon {
  color: #22386F;
  width: 27px;
  height: 27px;
  /*text-align: center;*/
  /*border-radius: 50%;*/
  display: inline-block;
  /*font-size: 17px;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /*border: 2px solid #22386f;*/
  text-decoration: none;

  font-family: lato,sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: .8px;
}

/*.single-column .author-info-group .spacer {
  min-height: 49px; 
}*/

.author-social-icon:hover {
  color: #22386F;
  text-decoration: none;
}

.author-name {
  font-family: lato,sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.8px;
  word-wrap: break-word;
}

.author-desc, .author-company-org {
  font-family: lato,sans-serif;
  /*font-weight: lighter;*/
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.8px;
  word-wrap: break-word;
}

.author-info-group-bottom .author-image {
  width: 61px;
  height: 61px;
  border-radius: 50%; 
}

.author-image {
  object-fit: cover;
}

ul.author-info-group-bottom {
  list-style-type: none;
  display: inline;
  padding-inline-start: 0px !important;
  -webkit-padding-start: 0px !important;
} 

ul.author-info-group-bottom li {
  float: left; 
}

ul.author-info-group-bottom .details-section {
  margin-bottom: 35px;
}

.bottom-author-info .author-info-container {
  width: 100%;
}

.default-author-img {
  background-color: #D8D8D8;
}

.single-column .quote-social-profile {
  text-align: right;
}

.two-column .quote-social-profile, .three-column .quote-social-profile {
  text-align: left;
}

.quote-social-profile {
  font-family: lato,sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.8px;
  margin-top: 12px;
}
/*End of Author Info Styles*/

/*Mobile View Styles*/
@media (max-width:736px) {  
  .single-column .quote-body {
    width: 100%; 
  }
  
  .quote-container {
    margin: 0;
  }
    
  .section-title-mobile {
    font-family: lato,sans-serif,fontawesome;
    font-size: 22px;
    line-height: 47px;
    text-align: left;
    letter-spacing: 0.38px; 
    padding: 2% 6%;
  }
  
  .blue-section-title {
    color: #22386F;
  }
  
  .single-column .float-left {
    float: none;
  }
  
  .single-column .left-author-info {
    display: none; 
  }
  
  .single-column .section-title {
    display: none; 
  }
  
  .quote-item {
    padding: 4% 6%;
    font-family: lato,sans-serif,fontawesome;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    letter-spacing: 0.71px;
    color: #124750;
    font-weight: 300;
    border-radius: 0px;
  }
  
  .quote-social-icons {
    margin-top: 4%; 
    /*min-height: 17px;*/
  }
  
  .author-name, .author-desc, .author-company-org {
    text-align: left; 
    max-width: 100% !important;
  }

  .author-info-group-bottom .author-image {
    margin-left: 15px;
  }

  .two-column .quote-items li.quote-item-wrapper {
    width: 100%;
  }
  
  .two-column .section-title, .three-column .section-title {
    display: none; 
  }
  
  .two-column ul.quote-items, .three-column ul.quote-items {
    margin-top: 0px; 
  }
  
  ul.author-info-group-bottom .details-section {
    /*max-width: 169%;
    min-width: 150%;*/
    max-width:100%;
  }

  /*ul.quote-items {
    margin-left: -40px;
  }*/

  /*.quote-social-profile {
    display: none;
  }*/

  ul.author-info-group-bottom .details-section {
    margin-bottom: 15px;
  }

  .single-column .quote-social-profile {
    text-align: left;
  }
}
/*End of Mobile View Styles*/

/*Tab and Desktop Styles*/
@media (min-width: 737px) {
  .single-column {
    margin: 0 auto; 
  }

  .main-container .blue-section, .main-container .white-section {
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .main-container .one-qcolumn {
    padding-bottom: 5% !important;
  }
  
  .quote-item {
    border-radius: 6px;
  }
  
  .quote-container {
    margin: 0 auto;
  }
    
  .section-title {
    font-family: lato,sans-serif,fontawesome;
    font-size: 26px;
    line-height: 47px;
    text-align: left;
    letter-spacing: 0.45px; 
    margin-bottom: 35px;
  }
  
  .section-title-mobile {
    display: none; 
  }
  
  .blue-section-title {
    color: #1A6774; 
  }

  .single-column .blue-section-text {
    color: #1A6774 !important;
  }

  .single-column a.blue-section-text:hover {
    color: #1A6774 !important;
  }  
  
  .single-column .author-mobile {
    display: none;
  }
  
  .single-column .quote-item, .two-column .quote-item, .three-column .quote-item {
    font-family: lato,sans-serif,fontawesome;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    letter-spacing: 0.8px;
    color: #124750;
    font-weight: 300;
  }

  .single-column .quote-item {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 3%;
  }

  .two-column .quote-item {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 6.5%;
    padding-bottom: 4%;
  } 

  .three-column .quote-item {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
    padding-bottom: 4%;
  }
  
  .single-column .quote-social-icons, .two-column .quote-social-icons, .three-column .quote-social-icons {
    margin-top: 4%; 
    /*min-height: 17px;*/
  }
  
  .single-column .quote-body-container {
    width: 97%;
  }

  .single-column .side-fin {
    width: 3%; 
    min-height: 200px;
    background-image: url("https://cdn2.hubspot.net/hubfs/3974729/white_left_shark_fin.svg");
    background-repeat: no-repeat;
    background-position: 1px 114px;

    filter: drop-shadow(-2px -1px 1px rgba(0,0,0,0.35));
    z-index: 100;
    left: 1px;
    position: relative;
  }
  
  .single-column .left-author-info .author-info-container .author-image {
    width: 88px;
    height: 88px;
    border-radius: 50%; 
  }
  
  .single-column .left-author-info .author-info-container {
    margin-top: 86px;
  }
  
  .single-column .left-author-info .author-info-container .author-info-group-left {
    width: 100%; 
    margin-top: 20px;
  }
  
  .single-column .author-info-group-left .details-section {
    width: 84%; 
    margin-right: 10%;
  }
  
  .single-column .author-info-group-left .spacer {
    margin-top: 9px;
  }
  
  .author-desc {
    margin-top: 2px; 
  }
  
  .single-column .author-name, .single-column .author-desc, .single-column .author-company-org {
    text-align: right; 
  }
  
  .single-column .bottom-fin-mobile {
    display: none; 
  }

  .bottom-fin-mobile {
    width: 100%; 
    height: 25px;
    background-image: url("https://cdn2.hubspot.net/hubfs/3974729/white_bottom_shark_fin.svg");
    background-repeat: no-repeat;

    filter: drop-shadow(-1px 2px 1px rgba(0,0,0,0.35));
    z-index: 100;
    bottom: 1px;
    position: relative;
  }

  .two-column .quote-items li.quote-item-wrapper {
    display: inline;
    float: left;
    width: 47%; 
    margin-left: 1.5%;
    margin-right: 1.5%; 
  }
  
  .two-column .bottom-author-info, .three-column .bottom-author-info {
    margin-top: 5%; 
  }
  
  .two-column ul.quote-items {
    min-width: 696px; 
    padding-top: 10px;
  }
  
  .three-column ul.quote-items {
    padding-top: 10px;
  }
  
  .three-column .quote-items li.quote-item-wrapper {
    display: inline;
    float: left;
    width: 30.3%; 
    margin-left: 1.5%;
    margin-right: 1.5%; 
  }

  /*.quote-social-icons {
    display: none;
  }*/

  .quote-social-icons a {
    display: none;
  }

  .two-column ul.author-info-group-bottom .details-section, .three-column ul.author-info-group-bottom .details-section {
    margin-top: -5px;
  }

  .quote-body-content {
    max-height: 160px;
    min-height: 160px;
    overflow-y: hidden;
    font-size: 16px;
  }
}
/*End of Tab and Desktop Styles*/

/*iPhone 5/5S/SE Styles*/
@media (max-width: 320px) {
  .bottom-author-info .author-info-container {
    padding-top: 2%;
    padding-left: 1%;
  } 
  
  ul.author-info-group-bottom .spacer {
    margin-left: 19px;
    margin-right: 19px;
    margin-top: 5px;
  } 
  
  .bottom-fin-mobile {
    width: 100%; 
    height: 22px;
    background-image: url("https://cdn2.hubspot.net/hubfs/3974729/white_bottom_shark_fin.svg");
    background-repeat: no-repeat;
    background-position: 122px -1px;

    filter: drop-shadow(-1px 2px 1px rgba(0,0,0,0.35));
    z-index: 100;
    bottom: 1px;
    position: relative;
  }
  
  ul.author-info-group-bottom li:last-child {
    max-width: 50%;
  }

  .author-image {
    margin-right: 0px !important;
  }

  .details-section {
    min-width: 100% !important;
    /*max-width: 119% !important;*/
    max-width: 100% !important;
  }
}
/*End of iPhone 5/5S/SE Styles*/

/*iPhone 6/6S/7/8/X and up Styles*/
@media (min-width: 321px) {
  .single-column ul.author-info-group-bottom .spacer, .two-column ul.author-info-group-bottom .spacer {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5px;
  } 
  
  .three-column ul.author-info-group-bottom .spacer {
    margin-left: 25px;
    margin-right: 25px;
    /*margin-left: 23px;
    margin-right: 27px;*/
    margin-top: 5px;
  }
  
  .single-column ul.author-info-group-bottom li:last-child, .two-column ul.author-info-group-bottom li:last-child {
    max-width: 54%;
  }

  .three-column ul.author-info-group-bottom li:last-child {
    max-width: 48%;
  }
}
/*End of iPhone 6/6S/7/8/X and up Styles*/

/*iPhone 6/6S/7/8/X Styles*/
@media (min-width: 321px) and (max-width: 375px) {
  .bottom-author-info .author-info-container {
    padding-top: 2%;
    padding-left: 2%;
  }
}
/*End of iPhone 6/7/8/X Styles*/

/*iPhone 6/7/8 Plus and up Styles*/
@media (min-width: 376px) and (max-width: 736px) {
  .bottom-author-info .author-info-container {
    padding: 1% 3%;  
  }
}
/*End of iPhone 6/7/8 Plus and up Styles*/

/*iPhone 6/6S/7/8/X/Plus Styles*/
@media (min-width: 321px) and (max-width: 736px) {
  .bottom-fin-mobile {
    width: 100%; 
    height: 22px;
    background-image: url("https://cdn2.hubspot.net/hubfs/3974729/white_bottom_shark_fin.svg");
    background-repeat: no-repeat;
    background-position: 139px -1px;

    filter: drop-shadow(-1px 2px 1px rgba(0,0,0,0.35));
    z-index: 100;
    bottom: 1px;
    position: relative;
  }
}
/*End of iPhone 6/6S/7/8/X/Plus Styles*/

/*iPad Styles*/
@media (min-width: 415px) and (max-width: 768px) {
  .single-column {
    /*width: 104%; */
    width: 100%;
  } 
  
  .single-column .left-author-info .author-info-container .author-image {
    margin-right: 25px;
  }

  .single-column .left-author-info {
    width: 30%;
    text-align: right; 
    margin-left: 2%;
  }

  .single-column .quote-body-container {
    width: 90% !important;
  }

  .single-column .quote-body {
    width: 65%; 
  }

  .two-column, .three-column {
    margin: 0 auto;
    text-align: center;
  }

  .two-column .bottom-fin-mobile {
    background-position: 125px -1px;
  }

  .three-column ul.author-info-group-bottom .spacer {
    margin-left: 2px !important;
    margin-right: 5px !important;
  }

  .three-column .author-image {
    margin-right: 5px;
  }

  .three-column .bottom-fin-mobile {
    background-position: 77px -1px;
  }
}
/*End of iPad Styles*/

/*iPad Pro Styles*/
@media (min-width: 769px) and (max-width: 1024px) {
  .single-column {
    width: 100%; 
  }
  
  .single-column .left-author-info .author-info-container .author-image {
    margin-right: 35px;
  }

  .single-column .left-author-info {
    width: 25%;
    text-align: right; 
    margin-left: 2%;
  }

  .single-column .quote-body {
    width: 70%; 
  }

  .two-column, .three-column {
    margin: 0 auto;
    text-align: center;
  }

  .two-column .bottom-fin-mobile {
    background-position: 125px -1px;
  }

  .three-column ul.author-info-group-bottom .spacer {
    margin-left: 15px !important;
    margin-right: 21px !important;
  }

  .three-column .bottom-fin-mobile {
    background-position: 103px -1px;
  }
}
/*End of iPad Pro Styles*/

/*Desktop Styles*/
@media (min-width:1025px) {
  .single-column {
    width: 61%; 
  }
  
  .single-column .left-author-info .author-info-container .author-image {
    margin-right: 35px;
  }

  .single-column .left-author-info {
    width: 23%;
    text-align: right; 
  }

  .single-column .quote-body {
    width: 72%; 
  }

  .two-column .bottom-fin-mobile, .three-column .bottom-fin-mobile {
    background-position: 116px -1px;
  }
}
/*End of Desktop Styles*/

/*Small Laptop Resolution Styles*/
@media screen and (min-width:1025px) and (max-width:1600px) {
  .two-column {
    margin: 0 auto;
    text-align: center;
    width: 65%;
  }

  .three-column {
    margin: 0 auto;
    text-align: center;
    width: 93%;
  }
}
/*End of Small Laptop Resolution Styles*/

/*Large Laptop Resolution Styles*/
@media screen and (min-width: 1601px) {
  .two-column {
    margin: 0 auto;
    text-align: center;
    width: 44%;
  }

  .three-column {
    margin: 0 auto;
    text-align: center;
    width: 68%;
  }
}
/*End of Large Laptop Resolution Styles*/

/*Multiple Quotes Styles*/
ul.quote-items {
  list-style: none;
  padding-inline-start: 0px !important;
  -webkit-padding-start: 0px !important;
}

ul.quote-items li.quote-item-wrapper {
  display: inline;
}

.two-column .section-title, .three-column .section-title {
  margin-left: 1.3%;
} 

/*.two-column .quote-items li .quote-item, .two-column .quote-items li .bottom-author-info {
  width: 100% !important;
}*/

.two-column ul.author-info-group-bottom .details-section {
  /*max-width: 169%;
  min-width: 150%;*/
  max-width: 100%;
}

.two-column .author-name, .two-column .author-desc, .two-column .author-company-org {
  text-align: left;
  /*max-width: 90%;*/
  max-width: 100%;
}

.three-column ul.author-info-group-bottom .details-section {
  /*max-width: 142%;
  min-width: 130%;*/
  max-width: 100%;
}

.three-column .author-name, .three-column .author-desc, .three-column .author-company-org {
  text-align: left;
  /*max-width: 115%;*/
  max-width: 100%;
}

/*End of Multiple Quotes Styles*/

