{# background variables #}
{# color #}
{% set bg_color = module.styles.background_color.color|convert_rgb %}
{% set bg_color_op = module.styles.background_color.opacity %}

{# gradient #}
{% set bg_grad_top_col = module.styles.gradient_top_color.color|convert_rgb %}
{% set bg_grad_top_op = module.styles.gradient_top_color.opacity/100 %}
{% set bg_grad_bot_col = module.styles.gradient_bottom_color.color|convert_rgb %}
{% set bg_grad_bot_op = module.styles.gradient_bottom_color.opacity/100 %}

{# Image #}
{% set bg_image_scr = module.styles.background_image.src %}
{% set bg_image_alt = module.styles.background_image.alt %}
{% set bg_image_add_overlay = module.styles.add_overlay %}
{% set bg_image_overlay_color = module.styles.overlay.overlay_color.color|convert_rgb %}
{% set bg_image_overlay_op = module.styles.overlay.overlay_color.opacity/100 %}
{% set bg_image_x_position = module.styles.x_position  %}
{% set bg_image_y_position = module.styles.y_position  %}
{% set is_overlay = module.styles.add_overlay %}



{% macro bg_type(type, is_overlay) %}
  {% if type == 'nf_bg-gradient' %}
    .nf-styles-{{ name }}.nf_bg-gradient {
      background: -moz-linear-gradient(top, rgba({{bg_grad_top_col}}, {{bg_grad_top_op}}), rgba({{bg_grad_bot_col}}, {{bg_grad_bot_op}}));
      background: -webkit-linear-gradient(top, rgba({{bg_grad_top_col}}, {{bg_grad_top_op}}), rgba({{bg_grad_bot_col}}, {{bg_grad_bot_op}}));
      background: linear-gradient(to bottom, rgba({{bg_grad_top_col}}, {{bg_grad_top_op}}), rgba({{bg_grad_bot_col}}, {{bg_grad_bot_op}}));
    }
  {% elif type == 'nf_bg-image' %}
    .nf-styles-{{ name }}.nf_bg-image {
      background-image: url('{{ bg_image_scr }} ');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: {%if module.styles.background_position != 'custom' %} {{module.styles.background_position}}{% else %}{{ bg_image_x_position }}% {{ bg_image_y_position }}%  {% endif %}  
    }

    {% if is_overlay %}
      .nf-styles-{{ name }}.nf_bg-image::before {
        background-color: rgba({{ bg_image_overlay_color }}, {{ bg_image_overlay_op }});
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
      }

      .nf-styles-{{ name }} .nf-section {
        position: relative;
      }
    {% endif %}
  {% else %}
    .nf-styles-{{ name }}.nf_bg-color {
      background-color: rgba({{bg_color}}, {{bg_color_op}}%);
    }
  {% endif %}
{% endmacro %}

{% macro textAlignment()  %}
    {% if module.content.button.cta_button_aligment == "left" %}text-aligment-left{% elif module.content.button.cta_button_aligment == "center" %}text-aligment-center
    {% elif module.content.button.cta_button_aligment == "right" %}text-aligment-right{% endif %}
{% endmacro %}

{% macro animationEffect(dataDuration, dataAnimation, dataDelay, dataEasing)  %}
  data-sal-duration="{{ dataDuration }}"
  data-sal="{{ dataAnimation }}"
  data-sal-delay="{{ dataDelay }}"
  data-sal-easing="{{ dataEasing }}"
{% endmacro %}

{% require_css %}
<style>
  {{ bg_type( module.styles.background_type ) }}
  {{ bg_type( module.styles.background_type, bg_image_add_overlay ) }}
</style>

{% end_require_css %}

{% macro textOnly()%}
<div class="text-only">
  <div class="head-text">
    <div class="type-animation">
      <h1>{{ module.content.head_text }}</h1>
    </div>
  </div>
  <div class="content-text">
    {{ module.content.content_text }}
  </div>
  {% if module.content.add_cta == "true" %}
      {% if module.content.button.add_call_to_action_simple_button == "call_to_action"  %}
      <div class="call-to-action {{ textAlignment() }}">
        {% cta guid="{{ module.content.button.call_to_action }}" %}
      </div>
      {% else %}
      <div class="simple-button {{ textAlignment() }}">
        {% set href = module.content.button.button_link.url.href %}
        {% if module.content.button.button_link.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
        {% endif %}
        <a href="{{ href }}"
           {% if module.content.button.button_link.open_in_new_tab %}target="_blank"{% endif %}
           {% if module.content.button.button_link.no_follow %}rel="nofollow"{% endif %}
           >
          {{ module.content.button.button_label }}
        </a>
      </div>
      {% endif %}
    {% endif %}
</div>
{% endmacro %}
{% macro textWithImage()%}
<div class="text-with-image">
  <div class="text-section">
    <div class="head-text">
      <h2>{{ module.content.head_text }}</h2>
    </div>
    <div class="content-text">
      {{ module.content.content_text }}
    </div>
    {% if module.content.add_cta == "true" %}
      {% if module.content.button.add_call_to_action_simple_button == "call_to_action"  %}
      <div class="call-to-action {{ textAlignment() }}">
        {% cta guid="{{ module.content.button.call_to_action }}" %}
      </div>
      {% else %}
      <div class="simple-button {{ textAlignment() }}">
        {% set href = module.content.button.button_link.url.href %}
        {% if module.content.button.button_link.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
        {% endif %}
        <a href="{{ href }}"
           {% if module.content.button.button_link.open_in_new_tab %}target="_blank"{% endif %}
           {% if module.content.button.button_link.no_follow %}rel="nofollow"{% endif %}
           >
          {{ module.content.button.button_label }}
        </a>
      </div>
      {% endif %}
    {% endif %}
  </div>
  <div class="image-section">
    {% if module.content.image.src %}
    	<img src="{{ module.content.image.src }}" alt="{{ module.content.image.alt }}" width="{{ module.content.image.width }}" height="{{ module.content.image.height }}">
    {% endif %}
  </div>
</div>
{% endmacro %}


<section id="section_{{name}}" class="nf-styles-{{ name }} {{ module.styles.background_type }}" {{ animationEffect('1200', 'fade', '600', 'ease-out-bounce') }}>
  <div id="" class="nf-section heroshot_animation_cta">   
    <div class="nf-container">
      {% if module.content.add_image %}
        {{ textWithImage() }}
      {% else %}
        {{ textOnly() }}
      {% endif %}
    </div>
  </div>
</section>


{% require_css %}
  <style>
    #section_{{name}} .nf-section{
      padding-top:     {{ module.styles.padding_top }}px;
      padding-bottom:  {{ module.styles.padding_bottom }}px;   
      min-height: {{ module.styles.height }}px;
    }
    {% if module.content.add_image %}
    #section_{{name}} .heroshot_animation_cta .nf-container {
      max-width: 1400px;
    }
    {% endif %}
  </style>
{% end_require_css %}



