{# background variables #}
{# color #}
{% set bg_color = module.styles.background_color.color|convert_rgb %}
{% set bg_color_op = module.styles.background_color.opacity %}

{# gradient #}
{% set bg_grad_top_col = module.styles.gradient_top_color.color|convert_rgb %}
{% set bg_grad_top_op = module.styles.gradient_top_color.opacity/100 %}
{% set bg_grad_bot_col = module.styles.gradient_bottom_color.color|convert_rgb %}
{% set bg_grad_bot_op = module.styles.gradient_bottom_color.opacity/100 %}

{# Image #}
{% set bg_image_scr = module.styles.background_image.src %}
{% set bg_image_alt = module.styles.background_image.alt %}
{% set bg_image_add_overlay = module.styles.add_overlay %}
{% set bg_image_overlay_color = module.styles.overlay.overlay_color.color|convert_rgb %}
{% set bg_image_overlay_op = module.styles.overlay.overlay_color.opacity/100 %}
{% set bg_image_x_position = module.styles.x_position  %}
{% set bg_image_y_position = module.styles.y_position  %}
{% set is_overlay = module.styles.add_overlay %}

{% macro bg_type(type, is_overlay) %}
  {% if type == 'nf_bg-gradient' %}
    .nf-styles-{{ name }}.nf_bg-gradient {
      background: -moz-linear-gradient(top, rgba({{bg_grad_top_col}}, {{bg_grad_top_op}}), rgba({{bg_grad_bot_col}}, {{bg_grad_bot_op}}));
      background: -webkit-linear-gradient(top, rgba({{bg_grad_top_col}}, {{bg_grad_top_op}}), rgba({{bg_grad_bot_col}}, {{bg_grad_bot_op}}));
      background: linear-gradient(to bottom, rgba({{bg_grad_top_col}}, {{bg_grad_top_op}}), rgba({{bg_grad_bot_col}}, {{bg_grad_bot_op}}));
    }
  {% elif type == 'nf_bg-image' %}
    .nf-styles-{{ name }}.nf_bg-image {
      background-image: url('{{ bg_image_scr }} ');
      background-position: {%if module.styles.background_position != 'custom' %} {{module.styles.background_position}}{% else %}{{ bg_image_x_position }}% {{ bg_image_y_position }}%  {% endif %}  
    }

    {% if is_overlay %}
      .nf-styles-{{ name }}.nf_bg-image::before {
        background-color: rgba({{ bg_image_overlay_color }}, {{ bg_image_overlay_op }});
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
      }

      .nf-styles-{{ name }} .nf-section {
        position: relative;
      }
    {% endif %}
  {% else %}
    .nf-styles-{{ name }}.nf_bg-color {
      background-color: rgba({{bg_color}}, {{bg_color_op}}%);
    }
  {% endif %}
{% endmacro %}

{% macro animationEffect(dataDuration, dataAnimation, dataDelay, dataEasing)  %}
  data-sal-duration="{{ dataDuration }}"
  data-sal="{{ dataAnimation }}"
  data-sal-delay="{{ dataDelay }}"
  data-sal-easing="{{ dataEasing }}"
{% endmacro %}
{# animationEffect('1200', 'fade', '600', 'ease-out-bounce') #}

{% macro simpleButtonStyle(style) %}
  {% if style == 'primary' %} cta-btn-primary {% elif style == 'secondary' %} cta-btn-secondary {% elif style == 'dark' %} cta-btn-dark {% elif style == 'link' %} link-cta text18 {% endif %}
{% endmacro %}

{% macro displayChevronRight(style) %}
  {% if style == 'link' %} <i class="fa fa-chevron-right" aria-hidden="true"></i> {% endif %}
{% endmacro %}

{% require_css %}
<style>
  {{ bg_type( module.styles.background_type ) }}
  {{ bg_type( module.styles.background_type, bg_image_add_overlay ) }}
</style>
{% end_require_css %}


<section id="section_{{name}}" class="nf-styles-{{ name }} {{ module.styles.background_type }}">
  {% if module.styles.add_top_left_accent %}
    <div class="nf-container text-image-accent">
      <div class=" background-accent-top-left">
        <div class="accent-item"></div>
        <div class="accent-item"></div>
        <div class="accent-item"></div>
        <div class="accent-item"></div>
      </div>
    </div>
  {% endif %}
  <div class="background-accent"></div>
  <div class="container-accent"></div>
  <div id="" class="nf-section text-image-module">   

    {% if module.content_settings.image.push_image_display_to_the_edge %}
    
      <div class="text-image-container">
        
        <div class="img-content">
          <div class="img-wrapper">
            {% if module.content_settings.image.section_image.src %}
              <img src="{{ module.content_settings.image.section_image.src }}" alt="{{ module.content_settings.image.section_image.alt }}">
            {% endif %}
          </div>
        </div>

        <div class="nf-container txt-content">
          <div class="txt-content-container">
            <h3 class="title">{{ module.content_settings.text.section_title }}</h3>
            <div class="display-text display-text-left">{{ module.content_settings.text.heading }}</div>
            <div class="body-text text18">{{ module.content_settings.text.subheading }}</div>

            {% if module.content_settings.add_call_to_action_ %}
              <div class="call-to-action-container">
                {% if module.content_settings.call_to_action.call_to_action_type == 'cta' %}
                  {% cta guid="{{ module.content_settings.call_to_action.hubspot_cta }}" %}
                {% elif module.content_settings.call_to_action.call_to_action_type == 'simple' %}
                    {% set href = module.content_settings.call_to_action.button_link.url.href %}
                    {% if module.content_settings.call_to_action.button_link.url.type is equalto "EMAIL_ADDRESS" %}
                      {% set href = "mailto:" + href %}
                    {% endif %}
                    <a class="{{simpleButtonStyle(module.content_settings.call_to_action.button_style)}}" href="{{ href }}"
                      {% if module.content_settings.call_to_action.button_link.open_in_new_tab %}target="_blank"{% endif %}
                      {% if module.content_settings.call_to_action.button_link.no_follow %}rel="nofollow"{% endif %}>
                      
                      {{ module.content_settings.call_to_action.button_label }} {{ displayChevronRight(module.content_settings.call_to_action.button_style) }}
                    </a>
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>

      </div>
      
    {% else %}
    
      <div class="nf-container nf-container-flex {% if module.content_settings.swap_text_and_image_content %} swap-content-position {% endif %}">
        <div class="text-content-container">
          <h3 class="title {% if module.general_settings.advance_settings == true %} top-spacer title-fs {% endif %}">{{ module.content_settings.text.section_title }}</h3>
          <div class="display-text display-text-left {% if module.general_settings.advance_settings == true %} display-text-lr-padding display-fs {% endif %}">{{ module.content_settings.text.heading }}</div>
          <div class="body-text text18">{{ module.content_settings.text.subheading }}</div>

          {% if module.content_settings.add_call_to_action_ %}
            <div class="call-to-action-container">
              {% if module.content_settings.call_to_action.call_to_action_type == 'cta' %}
                {% cta guid="{{ module.content_settings.call_to_action.hubspot_cta }}" %}
              {% elif module.content_settings.call_to_action.call_to_action_type == 'simple' %}
                  {% set href = module.content_settings.call_to_action.button_link.url.href %}
                  {% if module.content_settings.call_to_action.button_link.url.type is equalto "EMAIL_ADDRESS" %}
                    {% set href = "mailto:" + href %}
                  {% endif %}
                  <a class="{{simpleButtonStyle(module.content_settings.call_to_action.button_style)}}" href="{{ href }}"
                    {% if module.content_settings.call_to_action.button_link.open_in_new_tab %}target="_blank"{% endif %}
                    {% if module.content_settings.call_to_action.button_link.no_follow %}rel="nofollow"{% endif %}>
                    
                    {{ module.content_settings.call_to_action.button_label }} {{ displayChevronRight(module.content_settings.call_to_action.button_style) }}
                  </a>
              {% endif %}
            </div>
          {% endif %}
        </div>
        <div class="image-content-container">
          {% if module.content_settings.image.section_image.src %}
            <img src="{{ module.content_settings.image.section_image.src }}" alt="{{ module.content_settings.image.section_image.alt }}" width="{{ module.content_settings.image.section_image.width }}" height="{{ module.content_settings.image.section_image.height }}">
          {% endif %}
        </div>
      </div>

    {% endif %}

    <div class="cloud-mobile-spacer"></div>
  </div>
</section>


{% require_css %}
  <style>
    #section_{{name}} {
      position: relative;
    }
    /*swap text and image on mobile*/
    @media (max-width: 700px) {
      {% if module.content_settings.swap_content_on_mobile %}
      #section_{{name}} .text-image-module .text-content-container {
        order: 2;
      }
      #section_{{name}} .text-image-module .image-content-container {
        order: 1;
      }
      {% endif %}
    }
    /*Background Accent*/
    {% if module.styles.add_top_accent_ %}
      #section_{{name}} .background-accent {
        position: absolute;
        top: 0%;
        right: 0%;
        display: block;
        width: 957px;
        height: 29px;
        background-color: #fff;
      }

      @media screen and (max-width: 834px) {
        #section_{{name}} .background-accent {
          display: none;
        }
      }
    {% else %}
      #section_{{name}} .background-accent {
        display: none;
      }
    {% endif %}

    /*General Settings*/
    #section_{{name}} .nf-section{
      padding-top: {{ module.general_settings.adjust_section_spacing.padding_top }}px;
      padding-bottom: {{ module.general_settings.adjust_section_spacing.padding_bottom }}px;   
      min-height: {{ module.general_settings.adjust_section_spacing.height }}px;
    }

    #section_{{name}} h3 {
      color: rgba({{ module.content_settings.text.section_title_color.color|convert_rgb }}, {{ module.content_settings.text.section_title_color.opacity/100 }});
      text-align: left;
    }

    #section_{{name}} .display-text {
      color: rgba({{ module.content_settings.text.heading_color.color|convert_rgb }}, {{ module.content_settings.text.heading_color.opacity/100 }});
    }

    /*Layout and Image Display*/
    #section_{{name}} .cloud-mobile-spacer {
      display: none;
    }

    {% if module.content_settings.image.overlap_image_with_module_on_top_ %}
      .text-image-module .image-content-container img {
        position: relative;
        top: -20px;
      }
    {% endif %}

    {% if module.content_settings.layout_type == 'equal' %}
      #section_{{name}} .text-content-container, #section_{{name}} .image-content-container {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
      }

      #section_{{name}} .img-wrapper, #section_{{name}} .txt-content-container {
        width: 50%;
      }
    {% elif module.content_settings.layout_type == 'larger-image' %}
      #section_{{name}} .text-content-container {
        -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
      }

      #section_{{name}} .image-content-container {
        -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
      }

      #section_{{name}} .txt-content-container {
        width: 40%;
      }

      #section_{{name}} .img-wrapper {
        width: 57%;
      }
    {% elif module.content_settings.layout_type == 'larger-text' %}
      #section_{{name}} .text-content-container {
        -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
      }

      #section_{{name}} .image-content-container {
        -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
      }

      #section_{{name}} .txt-content-container {
        width: 60%;
      }

      #section_{{name}} .img-wrapper {
        width: 42.3%;
      }      
    {% endif %}

    #section_{{name}} .img-wrapper img {
      position: relative;
      left: 10%;
    }

    {% if module.content_settings.swap_text_and_image_content %}
      #section_{{name}} .img-content {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: end;
      }

      #section_{{name}} .txt-content {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
      }
    {% else %}
      #section_{{name}} .img-content {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
      }

      #section_{{name}} .txt-content {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: end;
      }
    {% endif %}

    @media screen and (max-width: 1440px) {
      #section_{{name}} .img-wrapper {
        overflow: hidden;
      }
    }

    @media screen and (max-width: 834px) {
      #section_{{name}} .nf-section{
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }

    @media screen and (max-width: 736px) {
      #section_{{name}} .nf-section{
        padding-top: 50px;
        padding-bottom: 50px;
      }

      #section_{{name}} .cloud-mobile-spacer {
        {% if module.general_settings.adjust_section_spacing.add_cloud_spacer_mobile_only_ %}
          display: block;
        {% endif %}
        background-image: url('https://cdn2.hubspot.net/hubfs/224957/VPB-Assets/Text-Image%20Module/cloud-spacer.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 67px;
        width: 85%;
        margin: 10% auto;
      }

      {% if module.general_settings.adjust_section_spacing.add_cloud_spacer_mobile_only_ %}
        #section_{{name}} .nf-container-flex {
          margin-bottom: 25%;
        }
      {% endif %}

      #section_{{name}} .text-content-container, #section_{{name}} .text-content-container h3.title, #section_{{name}} .text-content-container .display-text, #section_{{name}} .text-content-container .body-text p, #section_{{name}} .txt-content-container, #section_{{name}} .txt-content-container h3.title, #section_{{name}} .txt-content-container .display-text, #section_{{name}} .txt-content-container .body-text p {
        text-align: {{ module.content_settings.text.mobile_text_alignment }};
      }

      #section_{{name}} .text-image-container {
        {% if module.content_settings.swap_text_and_image_content %}
          flex-direction: column;
        {% else %}
          flex-direction: column-reverse;
        {% endif %}
      }

      #section_{{name}} .txt-content-container, #section_{{name}} .img-wrapper {
        width: 100%;
      }     

      #section_{{name}} .img-content, #section_{{name}} .txt-content {
        -webkit-box-pack: unset;
        -ms-flex-pack: unset;
        justify-content: unset;
      }
    }
    
    {# Advance Settings #}
    #section_{{name}} .text-image-module .top-spacer {
      margin-top: {{ module.general_settings.desktop_advance_settings.text_content_top_spacer }}px;
    } 
    #section_{{name}} .text-image-module .display-text-lr-padding {
      padding: 0 {{ module.general_settings.desktop_advance_settings.display_text_left_and_right_padding }}px;
    }
    #section_{{name}} .text-image-module .title-fs {
      font-size: {{ module.general_settings.desktop_advance_settings.title_font_size }}px;
    }
    #section_{{name}} .text-image-module .display-fs {
      font-size: {{ module.general_settings.desktop_advance_settings.display_text_font_size }}px;
    }
    @media screen and (max-width: 834px) {
      #section_{{name}} .text-image-module .top-spacer {
        margin-top: {{ module.general_settings.tablet_advance_settings.text_content_top_spacer }}px;
      } 
      #section_{{name}} .text-image-module .display-text-lr-padding {
        padding: 0 {{ module.general_settings.tablet_advance_settings.display_text_left_and_right_padding }}px;
      }
      #section_{{name}} .text-image-module .title-fs {
        font-size: {{ module.general_settings.tablet_advance_settings.title_font_size }}px;
      }
      #section_{{name}} .text-image-module .display-fs {
        font-size: {{ module.general_settings.tablet_advance_settings.display_text_font_size }}px;
      }
    }
    @media screen and (max-width: 736px) {
      #section_{{name}} .text-image-module .top-spacer {
        margin-top: {{ module.general_settings.mobile_advance_settings.text_content_top_spacer }}px;
      } 
      #section_{{name}} .text-image-module .display-text-lr-padding {
        padding: 0 {{ module.general_settings.mobile_advance_settings.display_text_left_and_right_padding }}px;
      }
      #section_{{name}} .text-image-module .title-fs {
        font-size: {{ module.general_settings.mobile_advance_settings.title_font_size }}px;
      }
      #section_{{name}} .text-image-module .display-fs {
        font-size: {{ module.general_settings.mobile_advance_settings.display_text_font_size }}px;
      }
    }
    {# Advance Settings #}
  </style>
{% end_require_css %}

{% require_js %}
  <script>
    $(document).ready(function() {
      {% if module.content_settings.add_call_to_action_ %}
        {% if module.content_settings.call_to_action.call_to_action_type == 'btn' %}
          $('#section_{{name}} .call-to-action-container button').on('click', function(){
            window.location.href = "{{ module.content_settings.call_to_action.button_redirect.href }}";
          });
        {% endif %}
      {% endif %}
    });
  </script>
{% end_require_js %}
  