@mixin title-text {
  font-style: normal;
  text-transform: uppercase;
  line-height: 26px;
  letter-spacing: 1px;
  font-weight:  800;
}
@mixin body-text {
  // @include proxima-nova-regular;
  font-size: 16px;
  line-height: 24px;
  @media screen and (max-width: nf-breakpoints(md)) {
    // font-size: 16px;
  }
}
@mixin text-align-center-mobile {
  @media screen and (max-width: nf-breakpoints(sm)) {
    text-align: center;
  }
}

.nf__cbFooter {
  .main-footer-section {
    min-height: 386px;
    padding-top: 80px;
    @media screen and (max-width: nf-breakpoints(md)) {
      padding-top: 46px;
      padding-bottom: 8px;
    }
    @media screen and (max-width: nf-breakpoints(sm)) {
      padding-top: 28px;
      padding-bottom: 38px;
    }
    .main-footer-content{
      display: grid;
      grid-template-columns: 30.2% 23% 24% 23%;
      @media screen and (max-width: nf-breakpoints(md)) and (min-width: nf-breakpoints(sm)) {
        max-width: 738px;
      }
      @media screen and (max-width: nf-breakpoints(md)) {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: "item-1 item-1 item-1 item-4  item-4 item-4"
                             "item-2 item-2 item-3 item-3 item-3 item-3";
      }
      @media screen and (max-width: nf-breakpoints(sm)) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "item-1"
                             "item-4"
                             "item-2"
                             "item-3";
      }
      &.container {
        &:before {
          content: unset;
        }
        &:after {
          content: unset;
        }
      }
      .content-item {
        @include text-align-center-mobile;
        &.item-1 {
          @media screen and (max-width: nf-breakpoints(md)) {
            grid-area: item-1;
          }
          .company-logo {
            padding-top: 7px;
            padding-bottom: 26px;
            @media screen and (max-width: nf-breakpoints(md)) {
              padding-bottom: 18px;
            }
            img {
              @media screen and (max-width: nf-breakpoints(md)) {
                width: 227px;
              }
              @media screen and (max-width: nf-breakpoints(sm)) {
                width: 228px;
              }
            }
          }
          .description-text {
            @media screen and (max-width: nf-breakpoints(sm)) {
              display: none;
            }
            p {
              @include body-text;
              width: 76%;
              @media screen and (max-width: nf-breakpoints(md)) {
                width: 85%;
                line-height: 20px;
                margin-bottom: 20px;
              }
              br {
                @media screen and (max-width: nf-breakpoints(md)) {
                  display: none;
                }
              }
            }
          }
        }
        &.item-2 {
          @media screen and (max-width: nf-breakpoints(md)) {
            grid-area: item-2;
            padding-top: 51px;
            padding-bottom: 55px;
          }
          @media screen and (max-width: nf-breakpoints(sm)) {
            padding-top: 7px;
            padding-bottom: 0;
          }
          .sub-item {
            .title-text{
              @include title-text;
              @include text-align-center-mobile;
              @media screen and (max-width: nf-breakpoints(sm)) {
                margin-bottom: 11px;
              }
            }
            .body-text {
              p {
                @include body-text;
                @include text-align-center-mobile;
                font-size: 16px;
              }
            }
            .link {
              margin-bottom: 4px;
              a {
                text-decoration: unset;
                -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
              }
            }
            &.link-item {
              padding-top: 8px;
            }
          }
        }
        &.item-3 {
          @media screen and (max-width: nf-breakpoints(md)) {
            display: flex;
            grid-area: item-3;
            padding-top: 51px;
          }
          @media screen and (max-width: nf-breakpoints(sm)) {
            padding-top: 35px;
          }
          @media screen and (max-width: nf-breakpoints(sm)) {
            display: block;
          }
          .sub-item {
            @media screen and (max-width: nf-breakpoints(md)) {
              padding-left: 5px;
              width: 50%
            }
            @media screen and (max-width: nf-breakpoints(sm)) {
              padding-left: 0;
              width: 100%
            }
            .title-text {
              @include title-text;
                @include text-align-center-mobile;
                @media screen and (max-width: nf-breakpoints(sm)) {
                  margin-bottom: 11px;
                }
            }
            .body-text {
              p {
                @include body-text;
                @include text-align-center-mobile;
              }
            }
            &:last-child {
              @media screen and (max-width: nf-breakpoints(sm)) {
                margin-top: 33px;
              }
            }
          }
        }
        &.item-4 {
          @media screen and (max-width: nf-breakpoints(md)) {
            grid-area: item-4;
            padding-top: 27px;
            padding-left: 6px;
          }
          @media screen and (max-width: nf-breakpoints(sm)) {
            padding-top: 36px;
            padding-left: 0;
          }
          .title-text {
            @include title-text;
            @include text-align-center-mobile;
            @media screen and (max-width: nf-breakpoints(sm)) {
              margin-bottom: -7px;
            }
          }
          .email-subscribe {
            form {
              position: relative;
              padding: 0;
              .hs_email {
                .input {
                  position: relative;
                  &:before {
                    content: '';
                    width: 0;
                    height: 1px;
                    // background: $bgWhite;
                    position: absolute;
                    left: 0;
                    bottom: 18%;
                    -webkit-transition: all 0.3s ease-out;
                    transition: all 0.3s ease-out;
                  }
                  &.click {
                    &:before {
                      width: 100%;
                    }
                    input[type="email"] {
                      background: #555555;
                      -webkit-transition: all 0.3s ease-out;
                      transition: all 0.3s ease-out;
                    }
                  }
                }
              }
              input[type="email"] {
                // @include proxima-nova-regular;
                // color: $bgWhite;
                width: 100%;
                padding: 0;
                border-radius: unset;
                background: #656464;
                // border-bottom: 1px solid #fff;
                // border-right: 1px solid #fff;
                padding: 17px 16px 11px !important;
                margin-top: -12px;
                @media screen and (max-width: nf-breakpoints(sm)) {
                  padding: 21px 16px 3px;
                  margin-top: -22px !important;
                  margin-bottom: 27px;
                }
                &:focus {
                  box-shadow: unset;
                }
                @media screen and (max-width: nf-breakpoints(md)) {
                  border-right: unset;
                  border-bottom: 0.5px solid #fff;
                  margin-top: -11.5px;
                  width: 99%;
                }
                @media screen and (max-width: nf-breakpoints(sm)) {
                  border-bottom: 1px solid #fff;
                  margin-top: -25.5px;
                  width: 87.5%;
                }
              }
              input[type="email"]::placeholder {
                  color: #fff;
              }
              .hs-submit {
                position: absolute;
                top: 23px;
                right: 0;
                @media screen and (max-width: nf-breakpoints(sm)) {
                  top: 7px;
                  right: 17px;
                }
              }
              input[type="submit"] {
                background: url(https://cdn2.hubspot.net/hubfs/224957/VPB-Assets/Footer/arrow-right-1.png) no-repeat center transparent !important;
                color: transparent !important;
                margin: 0;
                padding: 0 !important;
                @media screen and (max-width: nf-breakpoints(sm)) {
                  margin-top: 10px !important
                }
                &:focus {
                  outline: unset;
                }
              }
              .hs-error-msg {
                // color: $error1;
              }
            }
            .submitted-message {
              color: inherit;
            }
          }
        }
      }
    }
  }
  .copyright-section {
    min-height: 85px;
    padding-top: 25px;
    @media screen and (max-width: nf-breakpoints(md)) {
      min-height: 71px;
      padding-top: 18px;
      padding-right: 50px;
    }
    @media screen and (max-width: nf-breakpoints(sm)) {
      padding-right: 0px;
    }
    .copyright-section-content {
      display: grid;
      grid-template-columns: 50% 50%;
      
      @media screen and (max-width: nf-breakpoints(md)) {
        grid-template-columns: 58% 50%;
      }
      @media screen and (max-width: nf-breakpoints(sm)) {
        grid-template-columns: 100%;
        grid-template-areas: "social-follow"
                             "privacy-policy";
      }
      @media screen and (max-width: nf-breakpoints(md)) and (min-width: nf-breakpoints(sm)) {
        max-width: 681px;
      }
      &.container {
        &:before {
          content: unset;
        }
        &:after {
          content: unset;
        }
      }
      .left-side {
        display: flex;
        @media screen and (max-width: nf-breakpoints(sm)) {
          justify-content: center;
          grid-area: privacy-policy;
          padding: 10px 0;
        }
        p {
          // @include proxima-nova-regular;
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 0;
          margin-top: 7px;
          @media screen and (max-width: nf-breakpoints(sm)) {
            width: 44%;
            text-align: center;
          }
          a {
            text-decoration: unset;
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
          }
        }
      }
      .right-side {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media screen and (max-width: nf-breakpoints(sm)) {
          justify-content: center;
          grid-area: social-follow;
          padding: 14px 0;
        }
        .social-item {
          margin-left: 26px;
          @media screen and (max-width: nf-breakpoints(md)) {
            margin-left: 17px;
          }
          &:first-child {
            @media screen and (max-width: nf-breakpoints(md)) {
              margin-left: 0;
            }
          }
          &:last-child {
            margin-right: 4px;
            @media screen and (max-width: nf-breakpoints(md)) {
              margin-right: 0;
            }
          }
          i {
            font-size: 32px;
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
          }
        }
      }
    }
  }
}
