$res1280: 1280px;
$res820: 820px;
$res730: 730px;
$res414: 414px;


header.cloudBaker_Header {

	@media(max-width: nf-breakpoints(md)){
		position: fixed;
   		width: 100%;
    	background: #fff;
    	z-index: 999999;
	}
  .container-fluid{
  	padding: 0;
  }
	.cb_headerContent {
	    display: flex;
	    justify-content: space-between;
	    padding: 0 42px 0 38px;
	    box-shadow: 0px 1px 5px #CBCCCD;
	    position: relative;
	    font-family: inherit;
	   		@media(max-width: nf-breakpoints(md)){
	    		flex-direction: column;
	    		padding: 0;
	    		// min-height: 55px;
	    	}
	    .logoSection{
	    	min-height: 80px;
	    	display: flex;
    	 	position: relative;
	    	@media(max-width: nf-breakpoints(md)){
	    		width: 100%;
	    		min-height: 55px;
	    		padding: 0 30px;
    		    box-shadow: 0px 1px 5px #CBCCCD;
			    position: relative;
			    z-index: 100;
	    	}
	    	@media(max-width: nf-breakpoints(sm)){
	    		padding: 0 20px;
	    	}
	    	> a {
	    		display: flex;
			    flex-direction: column;
			    justify-content: center;
			    @media(max-width: nf-breakpoints(md)){
		    	    margin: auto;
			    }
	    	}
	    	img{
	    		margin: auto;
	    		@media(max-width: nf-breakpoints(md)){
    			    max-height: 22px;
	    		}
	    		@media(max-width: nf-breakpoints(sm)){
		    		max-height: 22.5px;
		    	}
	    	}

	    	.hamburger-menu {
			    z-index: 2;
			    position: absolute;
			    top: 15px;
			    width: 18px;
			    height: 25px;
			    cursor: pointer;
		        display: none;

	        	@media(max-width: nf-breakpoints(md)){
	        		display: inline-block;
	        	}

	        	.bar, .bar:after, .bar:before {
				    width: 15px;
    				height: 2px;
				}
				.bar{
					 position: relative;
				    transform: translateY(12px);
				    background: #333333;
				    transition: all 0ms 300ms;

				    &:before {
					    content: "";
					    position: absolute;
					    left: 0;
					    bottom: 5px;
					    background: #333333;
					    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
					}
					&:after {
					    content: "";
					    position: absolute;
					    left: 0;
					    top: 5px;
					    background: #333333;
					    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
					}
					&.animate{
						background: transparent;
					}
					&.animate:after {
						top: 0;
						transform: rotate(45deg);
						transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
					}

					&.animate:before {
						bottom: 0;
						transform: rotate(-45deg);
						transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
					}

				}
			}

	    }

		.rightSection {
		    display: flex;
		    flex-direction: column;
		    justify-content: center;
		    // transition: .5s ease;
		    	@media(max-width: nf-breakpoints(md)){
    				display: none;
    				position: relative;
    				// top: 55px;
    				// width: 100%;
    				background: #fff;

			    }

			    &.menu-hide{
			    	@media(max-width: nf-breakpoints(md)){
				    	left: 100%;
				    	opacity:0;
			    	}
			    }
			    &.menu-show{
			    	left: 0;
			    	opacity:1;
			    }
				ul.cb_nav {
			    display: flex;
			    list-style: none;
			    margin: 0;

			    @media(max-width: nf-breakpoints(md)){
		    	    flex-direction: column;
    				text-align: center;
    				padding:  20px 0;
			    }
			    @media(max-width: nf-breakpoints(sm)){
			    	padding: 0;
			    }
			    li.cb_nav_item {
			    	position: static;
			        padding: 30px 18px 25px;
				    border-bottom: 5px solid transparent;
				    @media(max-width: nf-breakpoints(md)){
		    	      	padding: 0 30px;
    					text-align: left;
    					border-bottom:none;
				    }
				    &:hover {
							  // border-color: #37BED8;

							  @media(max-width: nf-breakpoints(md)){
							  	border: none;
							  }
							}
				    a {
				    	
				    	// color: $primary2;
				    	text-decoration: none;
					    font-weight: 700;
					    position: relative;
					    font-size: 18px;
					    line-height: 20px;
					    text-align: center;
					    letter-spacing: 0px;
					    display: block;
					    text-align: left;
					    @media(max-width: nf-breakpoints(md)){
					    	padding: 15px 0;
					    }
					    @media(max-width: nf-breakpoints(sm)){
					    	font-size: 18px;
						    line-height: 20px;
						    letter-spacing: 1.1px;
						    padding: 15px 0;
	    	      	    	border-bottom: 1px solid #ECECEC;
	    	      	    	padding: 15px 0;
					    }
					    i{
							color: #37BED8;
							display: none;
							@media(max-width: nf-breakpoints(md)){
								color: #37BED8;
							    display: inline-block;
							    // position: absolute;
							    // right: 0;
							    // top: 50%;
							    // transform: translateY(-50%);
							}
					    }
					    &:hover {
					    	// color: #343333 !important;
					    }
				    }

				}
			}
		}
		.mobile-navigation-items{
			display: none;
			@media(max-width: nf-breakpoints(md)){
				display: block;
				position: absolute;
				top: 55px;
				width: 100%;
				background: #fff;
				transition: .5s ease;
				top: 0;
			}


			 &.menu-hide{
			    	@media(max-width: nf-breakpoints(md)){
				    	left: 100%;
				    	opacity:0;
			    	}
			    }
		    &.menu-show{
		    	left: 0;
		    	opacity:1;
		    }
		    .mob-nav-back {
			    position: absolute;
			    z-index: 99999;
			    right: 15px;
			    top: 10px;
			}
			 li.cb_nav_item {
		    	position: static;
		    	
				    @media(max-width: nf-breakpoints(md)){
		    	      	padding: 15px 30px;
						text-align: left;
						list-style: none;
						display: none;
						background: #F5F5F5;
					    border-bottom: 2px solid #ECECEC;
				    }
				> a{
					
				    	// color: $primary2;
				    	text-decoration: none;
				    	font-weight: 700;
				    	position: relative;
				    	display: inline-block;
				    	padding-left: 30px;
					    > i{
							color: #37BED8;
							display: none;
							@media(max-width: nf-breakpoints(md)){
								color: #37BED8;
							    display: block;
							    position: absolute;
							    left: 0;
							    top: 50%;
							    transform: translateY(-50%);
							}
					    }
				    }


			}
		}
	}

	.cb_headerHoverContent{
		position: absolute;
		top: 80px !important;
	    background: #fff;
	    display: none;
	    left: 0;
	    z-index: 999;
	    width: 100%;
        box-shadow: 0px 1px 5px #CBCCCD;

	     @media(max-width: nf-breakpoints(md)){
	    		top: 52px !important;
	    	}
	    	@media(max-width: nf-breakpoints(sm)){
	    		max-height: calc(100vh - 100px);
    			overflow: scroll;
	    	}
    .cb_hoverItemContent{
    	display: flex;
    	.leftContent-1 {
		    background: #D8D8D8;
		    width: 38%;
		    display: flex;
		    flex-direction: column;
		    justify-content: center;
		    text-align: right;
		    padding: 30px;
		    padding-left: 240px;
		    @media (max-width: $res1280){
		    	padding-left: 85px;
		    }
		    @media(max-width: nf-breakpoints(md)){
	    		padding-left: 30px;
	    		background: transparent;
	    	}
	    	@media(max-width: nf-breakpoints(sm)){
	    		display: none;
	    		// background: transparent;
	    	}
    		.lc_navDetails {
		        display: inline-block;
			    width: auto;
			    text-align: left;
			    // margin-left: auto;

				    h3{
			    	    font-size: 24px;
					    font-weight: 500;
					    line-height: 32px;
					    // color: $primary2;
				        margin-bottom: 2px;
				    	@media(max-width: nf-breakpoints(md)){
			    			font-size: 18px;
							font-weight: 400;
							line-height: 32px;
							letter-spacing: -0.075px;
							color: inherit;

				    	}
				    }
				    p{
			    	    font-size: 18px;
					    font-weight: 400;
					    line-height: 26px;
				        margin: 0;
				    	@media(max-width: nf-breakpoints(md)){
					    	font-size: 14px;
							font-weight: 400;
							line-height: 20px;
						}
				    }
				    a.navDetails__link{
				    	// color: $linkBlueText;
				    	text-align: left;
				    	margin-bottom: 33px;
    					margin-top: 7px;
    					text-decoration: none;
				    	i{
				    		display: inline-block;
						    top: 1px;
						    position: relative;
				    	}
				    	@media(max-width: nf-breakpoints(md)){
				    		margin-bottom: 0;
				    		margin-top: 15px;
				    		display: inline-block;
				    	}
				    }

				}
			}
    	.rightContent-1 {
		    background: #fff;
		    width: 60%;
		    padding: 30px;
			padding-right: 60px;
		    @media (max-width: $res1280){
		    	padding-right: 30px;
		    }
		    @media(max-width: nf-breakpoints(md)){
	    		padding-right: 0;
	    		padding-left: 0;
	    		width: 100%;
	    		background: transparent;
	    	}
	    	@media(max-width: nf-breakpoints(sm)){
	    		padding: 0;
	    	}
		    .navIconList {
			    display: flex;
			    flex-wrap: wrap;
			    width: 100%;
			    // @media(max-width: nf-breakpoints(sm)){
			    // 	max-height: calc(100vh - 100px);
    			// 	overflow: scroll;
			    // }
			    .navIconItem {
				    width: 50%;
				    padding: 20px 6px;
				    @media(max-width: nf-breakpoints(md)){
				    	width: 50%;
    					padding: 10px;
				    }
				    @media(max-width: nf-breakpoints(sm)){
				    	width: 100%;
    					// padding: 15px 30px;
    					padding: 0;

				    }
				    &.mobile_only{
				    	display: none !important;
				    	@media(max-width: nf-breakpoints(sm)){
				    		display: block !important;
				    	}
				    }
				    a{
				    	display: flex;
				    	text-decoration: none;
				    	position: relative;
				    	position: relative;
					    font-size: 21px;
					    font-weight: 500;
					    line-height: 28px;
					    letter-spacing: 1px;

					    
				    	@media(max-width: 1024px) and (min-width: 900px){
				    		font-size: 16px;
						    font-weight: 500;
						    line-height: normal;
				    	}
					    @media(max-width: nf-breakpoints(sm)){
					    	font-size: 18px;
						    font-weight: 400;
						    line-height: 32px;
						    letter-spacing: -0.075px;
						    padding: 0 30px;
						    i{
						    	line-height: 28px;
						    }
					    }
				    }
			    	img {
	       			width: 30px;
					max-height: 30px;
					@media (max-width: 1024px){
						display: none;
					}
	       		}
	       		.navLink {
						  margin-left: 20px;

						  br{
						  	@media(max-width: nf-breakpoints(md)){
						    	display: none;
						    }

						  }
						  // @media(max-width: nf-breakpoints(md)){
						  // 	margin-left: 0;
						  // }
						   @media(max-width: 1400px){
						   	font-size: 18px;
						   }
						  @media(max-width: 1250px){
						    	margin-left: 0;
						    	font-size: 18px;
							    font-weight: 400;
							    line-height: 32px;
							    letter-spacing: -0.075px;
							    color: inherit;

						    }
						    @media(max-width: nf-breakpoints(sm)){
						    	padding: 10px 0;
						    	border-bottom: 1px solid #ECECEC;
					    	    width: 100%;
						    }
						    i{
						    	display: inline-block;
    							margin-left: 10px;
							    position: relative;
    							top: 1px;
    							color: #37BED8;
						    }
						}
					}

				}
				&.rc-two-column{
					// width: 100%;
					display: flex;
			        padding: 28px 30px;
			        @media(max-width: nf-breakpoints(sm)){
		        	    flex-direction: column-reverse;
		        	    padding: 0;

			        }
			    .theme2-nav{
			    	    width: 45%;
					    border-right: 1px solid;
					    padding: 14px 0;
					    padding-left: 38px;
					    @media(max-width: 1024px){
					    	padding-left: 0px;

					    }
					    @media(max-width: nf-breakpoints(md)){
				    		width: 50%;
				    		padding-left: 0;
					    }
					    @media(max-width: nf-breakpoints(sm)){
				    		width: 100%;
				    		border: 0;
			    		    padding: 0;
					    }
				    .nav-title{
				    	font-weight: 700;
					    font-size: 19px;
					    text-transform: uppercase;
					    line-height: 28px;
					    letter-spacing: .4px;
					    // color: $primary2;
					    @media(max-width: nf-breakpoints(md)){
				    		margin-bottom: 20px;
				    		font-size: 16px;
					    }
					    @media(max-width: nf-breakpoints(sm)){
					    	font-size: 16px;
						    padding: 15px 30px;
						    text-align: left;
						    list-style: none;
						    background: #F5F5F5;
						    border-bottom: none;
						    color: inherit;
						    margin: 0;
					    }

				    }
				    ul{
				    	list-style: none;
    					margin: 0;
    					@media(max-width: nf-breakpoints(sm)){
    						padding: 0;
    						background: #f5f5f5;
    					}
    					li{
    						margin-bottom: 21px;

    						&:last-child{
    							margin: 0;

    							a{
	    							@media(max-width: nf-breakpoints(sm)){
	    								border-bottom: 0;
	    							}
	    						}
    						}
    						@media(max-width: nf-breakpoints(sm)){
    							padding: 0 30px;
    							margin:0
    						}
    					}
    					a{
    						margin: 10px 0;
    						@media(max-width: nf-breakpoints(sm)){
    							margin:0;
    							font-size: 18px;
							    font-weight: 400;
							    line-height: 32px;
							    letter-spacing: -0.075px;
							    padding: 10px 0;
							    border-bottom: none;
							    display: inline-block;
    							width: 100%;

    						}
    						i{
	    						display: inline-block;
	    						position: relative;
	    						top: 1px;
	    						@media(max-width: nf-breakpoints(sm)){
    							    color: #37BED8;
	    						}

    						}
    					}

				    }
			    }
			    .navIconList {
			    	flex-wrap: wrap;
    				width: 50%;
    				flex-direction: column;
    				@media(max-width: nf-breakpoints(sm)){
    					width: 100%;
    				}
    				.navIconItem{
					    width: 100%;
					    padding: 20px;
					    @media(max-width: nf-breakpoints(sm)){
					    	padding: 0;
					    	// padding: 0;
					    	}
	    				}
				    }

				}
			}
    }

	  .theme3{
	  	@media(max-width: nf-breakpoints(sm)){
	  		flex-direction: column;
	  		.leftContent-1{
  			    display: block;
		        width: 100%;
	  		}
	  	}
	  	.rc-two-column{
  		    padding: 0 35px;
	  	}
	  	.leftContent-1{
	  		background: #D8D8D8;
	  		 @media(max-width: nf-breakpoints(md)){
	    		background: transparent;
	    	}
	  	}
    	.rc-left.cards {
    		display: flex;
    		@media(max-width: nf-breakpoints(md)){
    			flex-direction: column;

    		}
    		.blog-title {
			   font-size: 13px;
			   font-family: proxima-nova, "Montserrat", sans-serif;
			   font-weight: 700;
			   text-transform: uppercase;
			   letter-spacing: 2px;
			   line-height: 30px;

			}

	    	.rc-card-holder {
			    padding: 20px;
			    @media(max-width: nf-breakpoints(md)){
			    	padding-top: 0;
			    	padding-bottom: 0;
			    }

			   &:last-child{
			   	.blog-title {
			   		 @media(max-width: nf-breakpoints(md)){
				   		display: none;
				   	}
			   	}
			   }
			    .card {
			    	max-width: 275px;
				    border: 0;
				    background: transparent;
				    @media(max-width: nf-breakpoints(md)){
				    	width: 100%;
    					max-width: none;
    					flex-direction: row;
				    }
				     @media(max-width: nf-breakpoints(sm)){
				     	flex-direction: column;
				     }
				    .rc-featuredImage {
					    width: 275px;
					    height: 160px;
					    background: #fff;
				        margin: 9px 0;
					    background-size: cover;
					    // border: 1px solid;

					    @media(max-width: nf-breakpoints(md)){
					    	min-width: 168px;
						    min-height: 98px;
						    max-width: 168px;
						    max-height: 98px;
						    margin-right: 20px;

					    	}
				    	@media(max-width: nf-breakpoints(sm)){
					     	min-width: 100%;
						    min-height: 100%;
						    max-width: 100%;
						    max-height: 100%;
						    margin-right: 0;
					        }
						}
						.rc-card-title {
					    font-size: 18px;
					    font-weight: normal;
					    // color: $primary2;
					    line-height: 28px;
						}
					}
					span.rc-tags {
					    font-size: 13px;
					    font-family: proxima-nova, "Montserrat", sans-serif;
					    font-weight: 700;
					    text-transform: uppercase;
					    letter-spacing: 2px;
					    line-height: 30px;
					}
				}
			}
    }
    .theme4{
    	 @media(max-width: nf-breakpoints(md)){
		    	flex-direction: row-reverse;
		    }
    	.leftContent-1{
    		background: transparent;
		    padding-left: 113px;
		    width: 85%;
    		display: flex;
		    flex-direction: row;

		    @media(max-width: 1024px){
		    	width: 150%;
		    }
		    @media(max-width: nf-breakpoints(sm)){
		    	display: none;
		    }

    		.lc_image {
			    min-width: 299px;
			    min-height: 215px;
			    background: #fff;
			    margin: 20px;
			    margin-right: 60px;
			    // border: 1px solid;
			    background-size: cover;
			    background-position: center;
			    @media(max-width: nf-breakpoints(md)){
			    		display: none;
			    	}
				}
			.lc_navDetails {
			    display: flex;
			    width: auto;
			    flex-direction: column;
			    justify-content: center;
			    @media(max-width: nf-breakpoints(sm)){
		    		text-align: center;
		    		h3{
		    			display: none;
		    		}
		    		p{
		    			text-align: center;
		    		}
		    	}
			}

		&.reverse{
		    flex-direction: row-reverse;
				.lc_image {
				    margin: 20px;
				    margin-left: 60px;
				    border: 1px solid;
				}
			}
    	}
    	.rightContent-1.rc-two-column {
		    flex-direction: column;
		    justify-content: center;
	        padding-right: 150px;
	        @media(max-width: nf-breakpoints(md)){
        	    padding-right: 0;
	        }
		    .navIconList {
		    	height: 100%;
		    	width: 100%;

		    	.navIconItem {
			        width: 100%;
				    padding: 20px 0;
				    border-bottom: 1px solid #7A7A7A;
			        display: flex;
				    flex-direction: column;
				    justify-content: center;
				    flex: 1;
			     	@media(max-width: nf-breakpoints(md)){
		        	    padding: 15px 0;
			        }
			        @media(max-width: nf-breakpoints(sm)){
		        	  padding: 0;
		        	  border: 0;
			        }
				    &:last-child{
				    	border-bottom: none;
				    	}
					}
					.navLink {
					    margin-left: 0;

					    border: 0;
					     @media(max-width: nf-breakpoints(sm)){
					     	padding: 0 30px;
					     }
					    a{
					    	text-decoration: none;
					    	@media(max-width: nf-breakpoints(sm)){
					    	padding: 10px 0;
					    	border-bottom: 1px solid #ECECEC;
					    }
					    }
					    p{
					     @media(max-width: nf-breakpoints(sm)){
					     	display: none;
					     }
					    }
					}
				}
		    }
    	}
	.reverse{
		    flex-direction: row-reverse;
		    @media(max-width: nf-breakpoints(sm)){
		    	flex-direction: column-reverse;
		    }
		    .leftContent-1{
		    	width: 100%;
		    	padding: 30px;
    			padding-right: 200px;
    			@media (max-width: $res1280){
			    	padding-right: 85px;
			    }
			    @media(max-width: nf-breakpoints(sm)){
			    	display: block;
			    	padding-right: 30px;
			    }
			    .cta2-btn-primary{
			    	font-family: inherit;
					font-weight: 400;
					font-style: normal;
					// border: solid 1px $primary1;
				  	border-radius: 50px;
				  	padding: 3% 8%;
				  	// background-color: $primary1;
				  	// color: $bgWhite !important;
				    display: inline-block !important;
				    margin-top: 20px;
			    }

		    }
		    .rightContent-1.rc-two-column{
		    	padding: 30px;
    			padding-left: 200px;
    			@media (max-width: $res1280){
			    	padding-left: 85px;
			    }
			    @media(max-width: nf-breakpoints(md)){
			    	padding-left: 30px;
			    }
			    @media(max-width: nf-breakpoints(sm)){
			    	padding: 0;
			    }
			    .navIconList {
			    	height: 100%;
		    	    width: 100%;
			    }
		    }

    	}
	}
}
.footer-container-wrapper {
    background: transparent;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}