@media screen and (min-width: 836px) {
	.two-column-richt-text-module .grid-row {
    display: grid;
    grid-gap: 72px;
  }
  .two-column-richt-text-module .grid-row.grid-3-7 {
    grid-template-columns: 4fr 8fr;
  }
  .two-column-richt-text-module .grid-row.grid-7-3 {
    grid-template-columns: 8fr 4fr;
  }
  .two-column-richt-text-module .grid-row.grid-5-5 {
    grid-template-columns: 5fr 5fr;
  }
}
.two-column-richt-text-module .grid-row .item-row {
    font-family: proxima-nova, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    color: #354671;
    letter-spacing: 1px;
}
.two-column-richt-text-module .grid-row .item-row img {
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 736px) {
	.two-column-richt-text-module .grid-row .item-row img {
	    width: 100% !important;
	    float: unset;
	    width: 100% !important;
      float: unset !important;
      margin: 0 !important;
	}
}