#nf-homepage {
	.heroshot_animation_cta {
		.type-animation {
			letter-spacing: -0.39px;
			text-shadow: 6px 6px 18px rgba(0,0,0,0.4)!important;
		}

		.content-text {
			line-height: 1.65em !important;
		}

		.simple-button {
			padding-top: 44px !important;
		}
	}

	.text-card-content {
		.head-text {
			padding-bottom: 9px !important;
		}

		.card-content-row {
			.card-content-column {
				.label-text {
					h4 {
						padding-bottom: 2px !important;
					}
				}
			}
		}
	}

	.text-image-row1 {
		padding-bottom: 64px !important;
	}

	.two-column-text-image.image-row-2 img {
		height: 556.516px;
	}
}

@media screen and (max-width: 1024px) {
	#nf-homepage {
		.heroshot_animation_cta {
			.head-text {
				padding-top: 27px;
			}

			.simple-button {
				padding-top: 28px !important;
				padding-top: 32px !important;
			}
		}

		.text-image-row {
			padding-top: 21px;
    	padding-bottom: 32.4px;
		}

		.text-card-content {
			.content-main-text {
				padding: 23px 0px;
				width: 63.8%;
			}

			.card-content-row {
				padding: 19px 0px;
			}
		}

		.text-image-row1 {
			padding-top: 20px;
			padding-bottom: 97px !important;

			.content-text1 {
				padding-bottom: 32.56px;
			}
		}

		.two-column-text-image.image-row-2 {
			margin-bottom: -5px;

			img {
				height: unset !important;
			}
		}

		.nf-text-and-cta {
			margin-bottom: -23px;

			.section-text {
				margin-bottom: 2.7%;
			}
		}
	}
}

@media screen and (max-width: 980px) {
	#nf-homepage {
		.heroshot_animation_cta {
			padding-top: 70px !important;
			height: 402px;
			min-height: unset !important;

			.head-text {
				display: none;
			}

			.content-text {
				padding-bottom: 26px;
			}

			.simple-button {
				a {
					border-radius: unset !important;
					padding-bottom: 0.5em;
				}
			}
		}

		.text-image-row {
			padding-top: 0px;
			padding-bottom: 0px;
			margin-top: -2px;

			.text-column {
				.label-text {
					margin-bottom: 5%;
				}
			}

			.image-column {
				padding-top: 78px;
				margin-bottom: -5px;
			}
		}

		.text-card-content {
			.content-main-text {
				width: unset !important;
				padding: 31px 0px;

				.label-text {
					margin-bottom: 4.6%;
				}
			}

			.card-content-row {
				padding: 60px 0px 33px 0px;
			}
		}

		.text-image-row1 {
			padding-top: 19px;
			padding-bottom: 22px !important;

			.text-column1 {
				margin-right: unset;

				.label-text1 {
					margin-bottom: 4.5%;
				}

				.content-text1 {
					padding-bottom: 40.56px;
				}
			}
		}

		.two-column-text-image.image-row-2 {
			margin-bottom: 5px;
		}
	}
}

@media screen and (max-width: 500px) {
	#nf-homepage {
		.heroshot_animation_cta {
			height: 496px;

			.simple-button {
				padding-top: 30px !important;
			}
		}

		.nf-two-column-text-image {
			padding-bottom: 36px;

			.text-image-row {
				.text-column {
					margin-right: unset;

					.label-text {
						margin-bottom: 28px;
					}
				}

				.image-column {
					padding-top: 75px;

				}
			}
		}

		.nf-text-with-card {
			.text-card-content {
				.content-main-text {
					.label-text {
						margin-bottom: 8.6%;
					}

					.head-text {
						padding-bottom: 10px !important;
					}
				}
			}
		}

		.nf-two-column-text-img-wanimation {
			padding-top: 68px;
			padding-bottom: 85px;

			.text-image-row1 {
				.text-column1 {
					.label-text1 {
						margin-bottom: 8.5%;
					}

					.content-text1 {
						padding-bottom: 41.56px;
					}
				}
			}

			.image-column1 {
				padding-top: 99px;
			}
		}

		.nf-full-img {
			min-height: unset;
		}
	}
}

@media screen and (max-width: 375px) {
	#nf-homepage {
		.nf-two-column-text-image {
			padding-bottom: 31px;
		}

		.nf-text-with-card {
			padding-bottom: 98px;

			.text-card-content {
				.content-main-text {
					.label-text {
						margin-bottom: 9.6%;
					}

					.head-text {
						padding-bottom: 11px !important;
					}
				}
			}
		}

		.nf-two-column-text-img-wanimation {
			.text-image-row1 {
				.text-column1 {
					.label-text1 {
						margin-bottom: 9.5%;
					}

					.content-text1 {
						padding-bottom: 41.56px;
					}
				}
			}

			.image-column1 {
				padding-top: 112px;
			}
		}
	}
}

@media screen and (max-width: 320px) {
	#nf-homepage {
		.heroshot_animation_cta {
			height: 558px;
		}

		.nf-two-column-text-image {
			padding-bottom: 43px;
		}

		.nf-text-with-card {
			/*margin-top: 1px;*/
			/*margin-bottom: 10.6%;*/

			.text-card-content {
				margin-top: 1px;

				.content-main-text {
					.label-text {
						margin-bottom: 10.6%;
					}
				}
			}
		}

		.nf-text-with-card {
			padding-bottom: 97px;
		}

		.nf-two-column-text-img-wanimation {
			padding-bottom: 84px;

			.text-image-row1 {
				.text-column1 {
					.label-text1 {
						margin-top: 1px;
						margin-bottom: 11.5%;
					}
				}
			}

			.image-column1 {
				padding-top: 117px;
			}
		}
	}
}

body{
	background-color: red !important;
}