#hubspot-vs-wordpress {
  #section_widget_1570776030376 {
    .nf-section {
      @media screen and (max-width: 736px) {
        padding-top: 30px;
        padding-bottom: 0;
        min-height: 500px;
      }
    }
  }
  // #section_widget_1571020777596 {
  //   .nf-section {
  //     @media screen and (max-width: 736px) {
  //       padding-bottom: 0;
  //     }
  //   }
  // }
}
