.nf-lp{
	font-family: Open Sans,Helvetica, Arial, serif, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28.19px;
    color: rgba(0, 0, 0, 1.0);
    text-align: left;
    line-height: 33.0px;
    @media (max-width: 960px ){
    	    font-size: 18px;
    	    line-height: normal;
	    }

	 h1 {

	    font-style: normal;
	    font-size: 56.38px;
	    color: #016baf;
	    text-align: left;
	    line-height: 61.02px;
	    font-weight: normal;
	    margin-bottom: 25px;
        margin-left: 0px;	
	    @media (max-width: 960px ){
    	    margin-bottom: 15px;
    	    font-size: 40.38px;
    	    line-height: normal;
	    }

	    &.has-more-margin{
    	    margin-bottom: .65em;	
	    }
	}
	p{
		margin-bottom: 2.2rem;
    	line-height: 34px;
    	margin-left: 3px;
	}



	// .hero-shot-cards{

	
	// 	.nf-card-image {
	// 	    height: 332px;
	// 		// width: ;
	//     	margin-left: 10px;
	// 		background-repeat: no-repeat;
	// 		background-position: center;
	// 		background-size: cover;
	// 			@media(max-width: 960px){
	// 				margin-left: 10px;
	// 			}
	// 			@media(max-width: 730px){
	// 				width: 100%;	
	// 				margin-top: 16px;
	// 				margin-left: 0px;
	// 			}

	// 			&:first-child{
	// 				margin-left: 6px;
	// 			}
	// 		}
	// }

}
