<section id="{{ module.id }}" class="text-form-content-module nf-section">
  <div class="container">
    <div class="text-form-content"> 
      
      {% if module.text_content.enable_rich_text_content %}
        <div class="left-rich-text-content">
          <div class="rich-text-content">
             {% inline_rich_text field="text_content.richtext_content" value="{{ module.text_content.richtext_content }}" %}
          </div>
        </div>		
      {% endif %}
      
      {% if  module.enable_form_content  %}
        <div class="right-form-content rich-text-form-module-bg">
          <div class="custom-form-content ">
            <div class="custom-form-title">
              {% if module.image_icon.src %}
              <div class="form-image">
                <img src="{{ module.image_icon.src }}" alt="{{ module.image_icon.alt }}" width="{{ module.image_icon.width }}" height="{{ module.image_icon.height }}">
              </div>
              {% endif %}
              <div class="form-content">
                <h3>{{ module.title }}</h3>
                <p>{{ module.sub_title }}</p>
              </div>
            </div>
            
           <div class="form-container">
               
            {% if module.title is truthy %}
              {% set no_title = False %}
            {% else %}
              {% set no_title = True %}
            {% endif %}

            {% if module.form.form_id %}
              {% form
                form_key='{{ name }}',
                form_to_use='{{ module.form.form_id }}',
                follow_up_type_simple='{{ module.follow_up_type_simple }}',
                simple_email_for_live_id='{{ module.simple_email_for_live_id }}',
                follow_up_type_automation='{{ module.follow_up_type_automation }}',
                form_follow_ups_workflow_id='{{ module.form_follow_ups_workflow_id }}',
                response_response_type='{{ module.form.response_type }}',
                response_redirect_id='{{ module.form.redirect_id }}',
                response_redirect_url='{{ module.form.redirect_url }}',
                response_message='{{ module.form.message }}',
                notifications_are_overridden='{{ module.notifications_are_overridden }}',
                notifications_override_email_addresses='{{ module.notifications_override_email_addresses }}'
                gotowebinar_webinar_key='{{ module.form.gotowebinar_webinar_key }}'
                sfdc_campaign='{{ module.sfdc_campaign }}'
              %}
            {% else %}
              {% form
                title='{{ module.title }}',
                no_title='{{ no_title }}',
              %}
            {% endif %}
            </div>                     
          </div>
        </div>
      {% endif %}

		</div>
  </div>
</section>
{% require_css() %}

  <style>    
    section.text-form-content-module {
       padding-top: {{ module.padding_top }}px;
       padding-bottom: {{ module.padding_bottom }}px;
       min-height: {{ module.section_height }}px;
       max-height: {{ module.section_height }}px;
       box-sizing: border-box;
    }
    div.right-form-content.rich-text-form-module-bg .custom-form-content {
        background: #f5f3f3;
    }
  </style>

{% end_require_css %}


