{# background variables #}
{# color #}
{% set bg_color =  module.styles.background_color.color %}

{# gradient #}
{% set bg_grad_top_col = module.styles.gradient_top_color.color %}
{% set bg_grad_top_op = module.styles.gradient_top_color.opacity %}
{% set bg_grad_bot_col =  module.styles.gradient_bottom_color.color %}
{% set bg_grad_bot_op = module.styles.gradient_bottom_color.opacity %}

{# Image #}
{% set bg_image_scr = module.styles.background_image.src %}
{% set bg_image_alt =  module.styles.background_image.alt %}
{% set bg_image_add_overlay =  module.styles.add_overlay %}
{% set bg_image_overlay_color =  module.styles.overlay_color.color|convert_rgb %}
{% set bg_image_overlay_op =  module.styles.overlay_color.opacity /100 %}
{% set bg_image_x_position =  module.styles.x_position  %}
{% set bg_image_y_position =  module.styles.y_position  %}

{# Text color#}
{% set title_color = module.logo_listing_heading.title_color.color %}

{% macro bg_type(type, is_overlay) %}
  {% if type == 'nf_bg-gradient' %}
    .nf-styles-{{ name }}.nf_bg-gradient {
      background: -moz-linear-gradient(top, {{bg_grad_top_col}} {{bg_grad_top_op}}%, {{bg_grad_bot_col}} {{bg_grad_bot_op}}%);
      background: -webkit-linear-gradient(top, {{bg_grad_top_col}} {{bg_grad_top_op}}%, {{bg_grad_bot_col}} {{bg_grad_bot_op}}%);
      background: linear-gradient(to bottom, {{bg_grad_top_col}} {{bg_grad_top_op}}%, {{bg_grad_bot_col}} {{bg_grad_bot_op}}%);
    }
  {% elif type == 'nf_bg-image' %}
    .nf-styles-{{ name }}.nf_bg-image {
      background-image: url('{{ bg_image_scr }} ');
      background-repeat: no-repeat;
      background-position: {%if module.styles.background_position != 'custom' %} {{module.styles.background_position}}{% else %}{{ bg_image_x_position }}% {{ bg_image_y_position }}%  {% endif %}  
    }
    {% if is_overlay == true %}
      .nf_bg-image::before {
       background-color: rgba({{ bg_image_overlay_color }}, {{ bg_image_overlay_op }})
      }
    {% endif %}
  {% else %}
  .nf-styles-{{ name }}.nf_bg-color {
  background-color: {{bg_color}};
  }
  {% endif %}
{% endmacro %}

{% require_css %}
<style>
  {{ bg_type( module.styles.background_type ) }}
  {{ bg_type( module.styles.background_type, bg_image_add_overlay ) }}
</style>
{% end_require_css %}

{% macro displayContent() %}
  <div class="logo-section-main new_module">
    {% if module.logo_listing_heading.enable_title %}
    <div class="logo-listing-heading">
      <h2 style="color: {{ title_color }}" class="nf_tc nf_mb20 nf_mt0">{{ module.logo_listing_heading.logo_section_title }}</h2>  
    </div>
    {% endif %}
    {% if module.logo_listing_heading.enable_text %}
      <div class="logo-listing-text">
        <p>{{ module.logo_listing_heading.heading_text }}</p>
      </div>
    {% endif %}  
    <div class="logo_section_outer"> 
   
    {% if module.logo_group_options.enable_ticker_animation_ %}
      <div class="logo_section">
        {% for slide in module.logo_group %}
          <div class="logo-listing" >
            {% if slide.enable_logo_link %}
              <a href="{{ slide.logo_link.href }}" {% if slide.open_link_in_new_tab %} target="_blank" {% endif %}>
            {% endif %}

            {% if slide.logo.src %}
              <img class="flat-colored" src="{{ slide.logo.src }}" alt="{{ slide.logo.alt }}" width="{{ slide.logo.width }}" height="{{ slide.logo.height }}">
            {% endif %}

            {% if slide.original_logo.src %}
              <img class="orig-colored" src="{{ slide.original_logo.src }}" alt="{{ slide.original_logo.alt }}" width="{{ slide.original_logo.width }}" height="{{ slide.original_logo.height }}">
            {% endif %}

            {% if slide.enable_logo_link %}
              </a>
            {% endif %} 
          </div>
        {% endfor %}
        {% for slide in module.logo_group %}
          <div class="logo-listing" >
            {% if slide.enable_logo_link %}
              <a href="{{ slide.logo_link.href }}" {% if slide.open_link_in_new_tab %} target="_blank" {% endif %}>
            {% endif %}

            {% if slide.logo.src %}
              <img class="flat-colored" src="{{ slide.logo.src }}" alt="{{ slide.logo.alt }}" width="{{ slide.logo.width }}" height="{{ slide.logo.height }}">
            {% endif %}

            {% if slide.original_logo.src %}
              <img class="orig-colored" src="{{ slide.original_logo.src }}" alt="{{ slide.original_logo.alt }}" width="{{ slide.original_logo.width }}" height="{{ slide.original_logo.height }}">
            {% endif %}

            {% if slide.enable_logo_link %}
              </a>
            {% endif %} 
          </div>
        {% endfor %}
        
      </div>
    {% else %}
      <div class="logo_section">
      {% for item in module.logo_group %}
          <div class="logo-listing" >
            {% if item.enable_logo_link %}
              <a href="{{ item.logo_link.href }}" {% if item.open_link_in_new_tab %} target="_blank" {% endif %}>
            {% endif %}
            
            {% if item.logo.src %}
              <img class="flat-colored" src="{{ item.logo.src }}" alt="{{ item.logo.alt }}" width="{{ item.logo.width }}" height="{{ item.logo.height }}">
            {% endif %} 
                
            {% if item.original_logo.src %}
              <img class="orig-colored" src="{{ item.original_logo.src }}" alt="{{ item.original_logo.alt }}" width="{{ item.original_logo.width }}" height="{{ item.original_logo.height }}">
            {% else %}
              {% if item.enable_hover %}
                <!-- HTML to show when checked -->
                  {% if item.original_logo.src %}
                    <img class="orig-colored" src="{{ item.original_logo.src }}" alt="{{ item.original_logo.alt }}" width="{{ item.original_logo.width }}" height="{{ item.original_logo.height }}">
                    <style>
                      .orig-colored {
                         display:none;
                      }
                    </style>  
                  {% else %}
                    <img class="flat-colored" src="{{ item.logo.src }}" alt="{{ item.logo.alt }}" width="{{ item.logo.width }}" height="{{ item.logo.height }}">
                  {% endif %}
              {% endif %}
            {% endif %}    
            

            {% if item.enable_logo_link %}
              </a>
            {% endif %} 
          </div>
      {% endfor %}
      </div>
    {% endif %}

    </div>
  </div>
{% endmacro %}


<section id="section_{{name}}" class="nf-styles-{{ name }} {{ module.styles.background_type }}">
  <div id="" class="nf-section" >   
    <div class="container">
      {{ displayContent() }}
    </div>
  </div>
</section>



{% require_css %}
  <style>
    #section_{{name}} .nf-section{
       padding-top:     {{ module.styles.padding_top }}px;
       padding-bottom:  {{ module.styles.padding_bottom }}px;   
       min-height: {{ module.styles.height }}px;
    }
   	
		{% if module.logo_group_options.enable_ticker_animation_ %}   	
    	@media screen and (max-width: 767px) {
  			#section_{{name}} .logo_section {
  				display: block !important;
  			}
			}
    {% endif %}
  </style>
{% end_require_css %}

{% if module.logo_group_options.enable_ticker_animation_ %}
  {% require_js %}
  <script>
    $(document).ready(function(){
      
    	initializeSlickSlider();

      function initializeSlickSlider() {
	      $('.logo_section').slick({
	        slidesToShow: 6,
	        centerPadding: 0,
	        slidesToScroll: 1,
	        autoplay: true,
	        autoplaySpeed: 2000,
	        arrows: false,
	        centerMode : true,
	        infinite: true,
	        responsive: [
				    {
				      breakpoint: 1025,
				      settings: {
				        slidesToShow: 5,
				        slidesToScroll: 1,
				      }
				    },
				    {
				      breakpoint: 813,
				      settings: {
				        slidesToShow: 3,
				        slidesToScroll: 1
				      }
				    },
				    {
				      breakpoint: 700,
				      settings: {
				        slidesToShow: 1,
				        slidesToScroll: 1
				      }
				    }
			  	]
	      });
      }
    });
  </script>
  {% end_require_js %}
{% endif %}
{% if module.enable_hover %}
	<!-- HTML to show when checked -->
    {% require_js %}
       <script>
         $(document).ready(function(){
          $('#section_{{name}} .logo-listing img.flat-colored').on('mouseover', function() {
            let $this = $(this);

            resetLogos();

            $this.addClass('logo-display-none');
            $this.closest('.logo-listing').find('.orig-colored').addClass('logo-display-unset');
          });

          $('#section_{{name}} .logo-listing img.orig-colored').on('mouseout', function() {
            resetLogos();
          });

          function resetLogos() {
            $('#section_{{name}} .logo-listing').each(function(){
              let $this = $(this);

              $this.find('img.orig-colored').removeClass('logo-display-unset');
              $this.find('.flat-colored').removeClass('logo-display-none');
            }); 
          }
        });
       </script>
    {% end_require_js %}
{% endif %}