{% if module.footer_type == 'local_footer' %}

{% require_js %}
  <script>
    $('.footer-container-wrapper').html('');
  </script>

{% end_require_js  %}


{% require_js %}
<script>
  $( document ).ready(function() {
    // function under email subscribe    
    setTimeout(function(){ 
      $('.nf__cbFooter .hs_submit input').on( "click", function() {
        $('.nf__cbFooter .hs_email .input').addClass('click');
      });
    }, 2000);
  });
</script>
{% end_require_js %}
<footer class="nf__cbFooter nf-styles-{{ name }}">
  <div class="main-footer-section container-fluid">
    <div class="main-footer-content nf-container">
      <div class="content-item item-1">
        {% if module.content_settings.company_logo.src %}
        <div class="company-logo">
        	<img src="{{ module.content_settings.company_logo.src }}" alt="{{ module.content_settings.company_logo.alt }}" width="{{ module.content_settings.company_logo.width }}" height="{{ module.content_settings.company_logo.height }}">
        </div>
        {% endif %}
        <div class="description-text">
          {{ module.content_settings.description_text }}
        </div>
      </div>
      <div class="content-item item-2">
        <div class="sub-item">
          <h5 class="title-text">Headquarters</h5>
          <div class="body-text">
            <p>{{ site_settings.company_street_address_1 }} <br> {{ site_settings.company_street_address_2 }} <br> {{ site_settings.company_city }}, {{ site_settings.company_state }} {{ site_settings.company_zip }}</p>
          </div>        
        </div>
        <div class="sub-item link-item">
          <div class="tel-number link">
           <a href="tel:{{ site_settings.company_phone }}">312.380.6838</a>
          </div>
          <div class="care-link link">
           <a href="mailto:{{ module.cloudbakers_care }}">{{ module.cloudbakers_care }}</a>
          </div>
        </div>
      </div>
      <div class="content-item item-3">
        {% for item in module.location_settings %}
          <div class="sub-item">
            <h5 class="title-text">{{ item.title_text }}</h5>
            <div class="body-text">
              {{ item.address }}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="content-item subscribe item-4">
        <div class="subscribe-text">
          <h5 class="title-text">{{ module.subscribe_text }}</h5>
        </div>
        <div class="email-subscribe">
          {% form
            form_to_use="{{ module.subscribe_form.form_id }}"
            response_response_type="{{ module.subscribe_form.response_type }}"
            response_message="{{ module.subscribe_form.message }}"
            response_redirect_id="{{ module.subscribe_form.redirect_id }}"
            response_redirect_url="{{module.subscribe_form.redirect_url}}"
            gotowebinar_webinar_key="{{ module.subscribe_form.gotowebinar_webinar_key }}"
          %}
        </div>
      </div>

    </div>
  </div>
  <div class="copyright-section container-fluid">
    <div class="copyright-section-content nf-container">
      <div class="copyright-section-content-text left-side">
        <p>&copy; {{year}} {{ site_settings.company_name }} | <a href="{{ module.footer_info_settings.privacy_policy_link }}">{{ module.footer_info_settings.privacy_policy_label }}</a></p>
      </div>
      <div class="copyright-section-content-text right-side">
       {% for item in module.footer_info_settings.social_follow %}
          <div class="social-item">
            {% set href = item.social_link.url.href %}
            {% if item.social_link.url.type is equalto "EMAIL_ADDRESS" %}
              {% set href = "mailto:" + href %}
            {% endif %}
            <a href="{{ href }}"
              {% if item.social_link.open_in_new_tab %}target="_blank"{% endif %}
              {% if item.social_link.no_follow %}rel="nofollow"{% endif %}
              >
              <i class="fab {{ item.social_icon }}"></i>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</footer>

{% require_css %}


<style>
  .nf-styles-{{ name }} .main-footer-section {
      background-color: rgba({{ module.background_settings.background_color.color|convert_rgb }}, {{ module.background_settings.background_color.opacity }});
  }
  .nf-styles-{{ name }} .content-item .title-text, .nf-styles-{{ name }} .content-item.subscribe p, .nf-styles-{{ name }} .content-item.subscribe input {
      color: rgba({{ module.background_settings.title_text_color.color|convert_rgb }}, calc({{ module.background_settings.title_text_color.opacity }} / 100));
  }
  .nf-styles-{{ name }} .content-item .link {
      color: rgba({{ module.background_settings.link_color.color|convert_rgb }}, calc({{ module.background_settings.link_color.opacity }} / 100));
  }
  .nf-styles-{{ name }} .content-item .link a:hover {
      color: rgba({{ module.background_settings.hove_color.color|convert_rgb }}, calc({{ module.background_settings.hove_color.opacity }} / 100));
  }
  .nf-styles-{{ name }} .content-item .link a:active {
      color: rgba({{ module.background_settings.active_color.color|convert_rgb }}, calc({{ module.background_settings.active_color.opacity }} / 100));
  }
  .nf-styles-{{ name }} .main-footer-section .main-footer-content .content-item .description-text p {
      color: rgba({{ module.background_settings.body_text_color.color|convert_rgb }}, calc({{ module.background_settings.body_text_color.opacity }} / 100));
  }
  .nf-styles-{{ name }} .content-item .sub-item .body-text p {
      color: rgba({{ module.background_settings.body_text_color.color|convert_rgb }}, calc({{ module.background_settings.body_text_color.opacity }} / 100));
  }
  .nf-styles-{{ name }} .content-item .hs-form-required {
      display: none;
  }
  .nf-styles-{{ name }} .copyright-section {
      background-color: rgba({{ module.footer_info_settings.background_color.color|convert_rgb }}, calc({{ module.footer_info_settings.background_color.opacity }} / 100));
  }
  .nf-styles-{{ name }} .copyright-section .left-side p, .nf-styles-{{ name }} .copyright-section .social-item i {
      color: rgba({{ module.footer_info_settings.link_color.color|convert_rgb }}, calc({{ module.footer_info_settings.link_color.opacity }} / 100));
  }
  .nf-styles-{{ name }} .copyright-section .left-side a:hover, .nf-styles-{{ name }} .copyright-section .social-item i:hover {
      color: rgba({{ module.footer_info_settings.hover_color.color|convert_rgb }}, calc({{ module.footer_info_settings.hover_color.opacity }} / 100));
  }
  .nf-styles-{{ name }} .copyright-section .left-side a:active, .nf-styles-{{ name }} .copyright-section .social-item i:active {
      color: rgba({{ module.footer_info_settings.active_color.color|convert_rgb }}, calc({{ module.footer_info_settings.active_color.opacity }} / 100));
  }
</style>
{% end_require_css %}

{% endif %}