.hs_cos_wrapper_type_widget_container{
> .hs_cos_wrapper_type_module{
 > .hs_cos_wrapper_type_form  {
  	max-width: 1080px;
    margin: auto;
    width: 80%;
    display: block;
    padding-left: 0px;
    padding-right: 0px;
    @media(max-width: $breakpoints-tablet){
 		padding: 0 15px;
 		text-align: center;
 	}


	 form {
	  margin: 0 auto;
	  box-shadow: transparent;
	  background: transparent;
	  padding: 52px;


	 input {
	    width: 100%;
	    border: none;
	    height: 50px;
	    padding: 16.4px 17.6px;
	    margin-bottom: 2px;
	    border: 1px solid #000;
	}

	 ul {
	    padding-left: 17px;
	}

	 ul li {
	    list-style: none;
	}

	 label.hs-error-msg {
	    color: red;
	}

	 input::-webkit-input-placeholder {
	    color: #343333;
	}
	 .hs-form-field,  .hs-submit,  .hs_error_rollup {
	  width: 100% !important;
	}

	 h2 {
	  font-size: 34px;
	  line-height: 40px;
	  color: #ffffff;
	  margin-bottom: 8px;
	  font-weight: 400;
	}
	 p  {

	  font-size: 16px;
	  line-height: 26px;
	  margin-bottom: 37px;
	}
		a.hs-button.large.primary {
		    background: #a53c9a;
		    width: auto;
		    margin-top: 26px;
		    font-size: 18px;
		    color: #fff;
		    font-weight: 600;
		    padding: 21px 32px;
		    height: auto;
		    display: inline-block;
		}
	}
 }
}
}