
.hs_cos_wrapper_type_widget_container{
	> .hs_cos_wrapper_type_module{
 		>.hs_cos_wrapper_type_gallery {
	    display: block;
	    max-width: 1080px;
	    padding-left: 0;
	    padding-right: 0;
	    padding: 30px 0;
	    width: 80%;
	 
	    @media(max-width: $breakpoints-tablet){
	 		padding: 30px 0;
	 	}
	 }
	}
}