
.hs_cos_wrapper_type_widget_container{
	> .hs_cos_wrapper_type_module{
	  > .hs_cos_wrapper_widget {
	    max-width: 1080px;
	    margin: auto;
	    width: 80%;
	    display: block;
  		padding: 30px 0;	 
	    @media(max-width: $breakpoints-tablet){
	 		padding: 30px 0;
	 	}
	 }
	}
}