.hs_cos_wrapper_type_widget_container{
	> .hs_cos_wrapper_type_module{
 .hs_cos_wrapper_type_linked_image {
    display: block;
    max-width: 1080px;
    width: 80%;
     padding: 30px 0; 
    @media(max-width: $breakpoints-tablet){
 		padding: 30px 0;
 	}
 }
}
}
