.hs_cos_wrapper_type_widget_container{
	> .hs_cos_wrapper_type_module{
 .hs_cos_wrapper_type_rich_text {
    display: block;
    width: 80%;
    max-width: 1080px;
    padding: 30px 0;
    @media(max-width: $breakpoints-tablet){
 		padding: 30px 0;
 	}
 }
}
}