{# background variables #}
{% macro convertColor(color) %}rgba({{ color.color|convert_rgb }}, {{color.opacity /100}}){% endmacro %}
{# color #}
{% set bg_color = module.styles.background_color.color|convert_rgb %}
{% set bg_color_op = module.styles.background_color.opacity %}

{# gradient #}
{% set bg_grad_top_col = module.styles.gradient_top_color.color|convert_rgb %}
{% set bg_grad_top_op = module.styles.gradient_top_color.opacity %}
{% set bg_grad_bot_col = module.styles.gradient_bottom_color.color|convert_rgb %}
{% set bg_grad_bot_op = module.styles.gradient_bottom_color.opacity %}

{# Image #}
{% set bg_image_scr = module.styles.background_image.src %}
{% set bg_image_alt = module.styles.background_image.alt %}
{% set bg_image_add_overlay = module.styles.add_overlay %}
{% set bg_image_overlay_color = module.styles.overlay.overlay_color.color|convert_rgb %}
{% set bg_image_overlay_op = module.styles.overlay.overlay_color.opacity/100 %}
{% set bg_image_x_position = module.styles.x_position  %}
{% set bg_image_y_position = module.styles.y_position  %}
{% set is_overlay = module.styles.add_overlay %}

{% macro bg_type(type, is_overlay) %}
  {% if type == 'nf_bg-gradient' %}
    .nf-styles-{{ name }}.nf_bg-gradient {
      background: -moz-linear-gradient(top, rgba({{ bg_grad_top_col }}, 100% ) {{bg_grad_top_op}}%, rgba({{ bg_grad_bot_col }}, 100% ) {{bg_grad_bot_op }}%);
      background: -webkit-linear-gradient(top, rgba({{ bg_grad_top_col }}, 100% ) {{bg_grad_top_op}}%, rgba( {{bg_grad_bot_col }}, 100% ) {{bg_grad_bot_op }}%);
      background: linear-gradient(to bottom, rgba({{ bg_grad_top_col }}, 100%) {{bg_grad_top_op}}%, rgba({{ bg_grad_bot_col }},100% ) {{bg_grad_bot_op }}%);
    }
  {% elif type == 'nf_bg-image' %}
    .nf-styles-{{ name }}.nf_bg-image {
      background-image: url('{{ bg_image_scr }} ');
      background-position: {%if module.styles.background_position != 'custom' %} {{module.styles.background_position}}{% else %}{{ bg_image_x_position }}% {{ bg_image_y_position }}%  {% endif %}  
    }

    {% if is_overlay %}
      .nf-styles-{{ name }}.nf_bg-image::before {
        background-color: rgba({{ bg_image_overlay_color }}, {{ bg_image_overlay_op }});
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
      }

      .nf-styles-{{ name }} .nf-section {
        position: relative;
      }
    {% endif %}
  {% else %}
    .nf-styles-{{ name }}.nf_bg-color {
      background-color: rgba({{ bg_color }}, {{ bg_color_op }} );
    }
  {% endif %}
{% endmacro %}




{% require_css %}
<style>
  {{ bg_type( module.styles.background_type ) }}
  {{ bg_type( module.styles.background_type, bg_image_add_overlay ) }}
</style>
{% end_require_css %}

{% macro manual_item(item, link_name, font_size, open_in_new_tab) %}
{% set content1 =  content_by_id( item )  %}
 <div class="blog-item">
   <div class="thumbnail" style="background-image: url('{{ content1.featured_image }}')">
   </div>
   <div class="blog-item-content">
     <h3 class="" style="font-size: {{ font_size }}px">{{ content1.title|truncatehtml(45, '...', false) }}</h3> 
     <p class="">{{content1.meta_description|truncatehtml(100, '..', false)  }}</p>
     <a href="{{ content1.absolute_url }}" {% if open_in_new_tab %}target="_blank"{% endif %}>{{ link_name }}  <i class="fas fa-angle-right"></i></a>
   </div>  
</div>
{% endmacro %}


{% require_css %}
  <style>
    #section_{{name}} .nf-section{
      padding-top:     {{ module.general_settings.adjust_section_height_and_spacing.padding_top }}px;
      padding-bottom:  {{ module.general_settings.adjust_section_height_and_spacing.padding_bottom }}px;   
      min-height: {{ module.general_settings.adjust_section_height_and_spacing.height }}px;
    }
    #section_{{name}} .style1-blog-listing .blog-listing-titleCon .blog-title-desc h3.title {
      color: {{ module.content_settings.title_color.color }};
    }
    #section_{{name}} .style1-blog-listing .blog-listing-titleCon .blog-title-desc .desc h3 {
      color: {{ module.content_settings.content_color.color }};
    }
  </style>
{% end_require_css %}

{% macro blog_listing() %}
 {% set rec_posts = blog_recent_posts(module.content_settings.blog_contents.blogs, 2) %}
  {% for rec_post in rec_posts %}
    <div class="blog-item">
       <div class="thumbnail" style="background-image: url('{{ rec_post.featured_image }}')">
       </div>
       <div class="blog-item-content">
         <h3 class="" style="font-size: {{ font_size }}px">{{ rec_post.title|truncatehtml(45, '...', false) }}</h3>
         <p class="">{{rec_post.meta_description|truncatehtml(100, '..', false)  }}</p>
          <a href="{{ rec_post.absolute_url }}">{{ module.content_settings.blog_content.link_text }}  <i class="fas fa-angle-right"></i></a>
       </div>  
     </div>
  {% endfor %}
{% endmacro %}
 

{# blogContent #}
{% macro content()%}
<div class="style1-blog-listing">
   <div class="nf-col2 blog-listing-titleCon">
     <div class="blog-title-desc">
       <h3 class="title">{{ module.content_settings.tags }}</h3>
       <div class="desc">
         <h3 style="font-size: {{ module.content_settings.title_font_size }}px">{{ module.content_settings.title }}</h3>
         <p>
           {{ module.content_settings.content }}
         </p>
       </div>
       {% set href = module.content_settings.links_url.url.href %}
        {% if module.content_settings.links_url.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
        {% endif %}
     <a class="related-post-link" href="{{ href }}"
        {% if module.content_settings.links_url.open_in_new_tab %}target="_blank"{% endif %}
        {% if module.content_settings.links_url.no_follow %}rel="nofollow"{% endif %}
        >
       {{ module.content_settings.link_text }}   <i class="fas fa-angle-right"></i>
     </a>
   </div>
  </div>
 <div class="nf-col2">
   <div class="blog-listings">
     {% if module.content_settings.item_options.data_option == 'blog' %}
      {{  blog_listing( module.content_settings.item_options.title_font_size) }}    
     {% else %}
       {% for item in module.content_settings.manual %}
        {{ manual_item(item.page_field,  item.link_text,  module.content_settings.item_options.title_font_size, item.open_link_in_new_tab_ ) }} 
       {% endfor %}
     {%endif%}
   </div>
   
 </div> 
  <a class="related-post-link mob-only" href="{{ href }}"
  {% if module.content_settings.links_url.open_in_new_tab %}target="_blank"{% endif %}
  {% if module.content_settings.links_url.no_follow %}rel="nofollow"{% endif %}
  >
  {{ module.content_settings.link_text }}   <i class="fas fa-angle-right"></i>
  </a> 
</div>
{% endmacro %}

<section id="section_{{name}}" class="nf-styles-{{ name }} {{ module.styles.background_type }}">
  <div id="" class="nf-section nf-related-post-section" >   
    <div class="nf-container">
      <!--   start your code here    -->
      {{ content() }}   
    </div>
  </div>
</section>
