{# background variables #}
{% macro converColor(color) %}rgba({{ color.color|convert_rgb }}, {{color.opacity /100}}){% endmacro %}
{# color #}
{% set bg_color = module.styles.background_color.color|convert_rgb %}
{% set bg_color_op = module.styles.background_color.opacity %}

{# gradient #}
{% set bg_grad_top_col = module.styles.gradient_top_color.color|convert_rgb %}
{% set bg_grad_top_op = module.styles.gradient_top_color.opacity %}
{% set bg_grad_bot_col = module.styles.gradient_bottom_color.color|convert_rgb %}
{% set bg_grad_bot_op = module.styles.gradient_bottom_color.opacity %}

{# Image #}
{% set bg_image_scr = module.styles.background_image.src %}
{% set bg_image_alt = module.styles.background_image.alt %}
{% set bg_image_add_overlay = module.styles.add_overlay %}
{% set bg_image_overlay_color = module.styles.overlay.overlay_color.color|convert_rgb %}
{% set bg_image_overlay_op = module.styles.overlay.overlay_color.opacity/100 %}
{% set bg_image_x_position = module.styles.x_position  %}
{% set bg_image_y_position = module.styles.y_position  %}
{% set is_overlay = module.styles.add_overlay %}

{% macro bg_type(type, is_overlay) %}
  {% if type == 'nf_bg-gradient' %}
    .nf-styles-{{ name }}.nf_bg-gradient {
      background: -moz-linear-gradient(top, rgba({{ bg_grad_top_col }}, 100% ) {{bg_grad_top_op}}%, rgba({{ bg_grad_bot_col }}, 100% ) {{bg_grad_bot_op }}%);
      background: -webkit-linear-gradient(top, rgba({{ bg_grad_top_col }}, 100% ) {{bg_grad_top_op}}%, rgba( {{bg_grad_bot_col }}, 100% ) {{bg_grad_bot_op }}%);
      background: linear-gradient(to bottom, rgba({{ bg_grad_top_col }}, 100%) {{bg_grad_top_op}}%, rgba({{ bg_grad_bot_col }},100% ) {{bg_grad_bot_op }}%);
    }
  {% elif type == 'nf_bg-image' %}
    .nf-styles-{{ name }}.nf_bg-image {
      background-image: url('{{ bg_image_scr }} ');
      background-position: {%if module.styles.background_position != 'custom' %} {{module.styles.background_position}}{% else %}{{ bg_image_x_position }}% {{ bg_image_y_position }}%  {% endif %}
    }

    {% if is_overlay %}
      .nf-styles-{{ name }}.nf_bg-image::before {
        background-color: rgba({{ bg_image_overlay_color }}, {{ bg_image_overlay_op }});
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
      }

      .nf-styles-{{ name }} .nf-section {
        position: relative;
      }
    {% endif %}
  {% else %}
    .nf-styles-{{ name }}.nf_bg-color {
      background-color: rgba({{ bg_color }}, {{ bg_color_op }} );
    }
  {% endif %}
{% endmacro %}

{% macro animationEffect(dataDuration, dataAnimation, dataDelay, dataEasing)  %}
  data-sal-duration="{{ dataDuration }}"
  data-sal="{{ dataAnimation }}"
  data-sal-delay="{{ dataDelay }}"
  data-sal-easing="{{ dataEasing }}"
{% endmacro %}
{# animationEffect('1200', 'fade', '600', 'ease-out-bounce') #}

{% require_css %}
<style>
  {{ bg_type( module.styles.background_type ) }}
  {{ bg_type( module.styles.background_type, bg_image_add_overlay ) }}
</style>
{% end_require_css %}


{% macro simpleButtonStyle(style) %}
  {% if style == 'primary' %} cta-btn-primary {% elif style == 'secondary' %} cta-btn-secondary {% elif style == 'dark' %} cta-btn-dark {% elif style == 'link' %} text18 {% endif %}
{% endmacro %}



<section id="section_{{name}}" class="nf-text-and-cta-container nf-styles-{{ name }} {{ module.styles.background_type }}" {% if module.content_settings.display_animation %}{{ animationEffect('1200', 'fade', '600', 'ease-out-bounce') }}{% endif %}>
     
    {% if module.content_settings.toggle_accent %}
    <div class="nf-four-box">       
      <div class="accent1 left-heroshot-img-accent">
        <div class="square-accent square-lt-blue"></div>
        <div class="square-accent"></div>
        <div class="square-accent square-trans-blue"></div>
        <div class="square-accent square-lt-blue square-last"></div>
      </div>
    </div>
    {% endif %}
  
  <div  class="nf-section nf-text-and-cta">  
    {% if module.content_settings.toggle_accent %}
      <!-- HTML to show when checked -->
      <div class="accent-left">
<!--         <img src="https://www.cloudbakers.com/hubfs/VPB-Assets/Text-Action/accent-left.png"> -->
      </div>
      <div class="accent-right">
<!--         <img src="https://www.cloudbakers.com/hubfs/VPB-Assets/Text-Action/accent-right.png"> -->
      </div>
    {% endif %}
    
    
    <div class="nf-container">
      <div class="nf-text-and-cta-content {% if module.general_settings.advance_settings == true %} top-spacer {% endif %}">
        {% if module.content_settings.title_section_group.add_section_title %}
          <div>
              <h3 class="title center-aligned title-display {% if module.general_settings.advance_settings == true %} title-fs {% endif %}">{{ module.content_settings.title_section_group.section_title }}</h3>
           </div>
        {% endif %}

        {% if module.content_settings.display_text_section.add_display_text  %}
           <div class="display-text display-text-center {% if module.general_settings.advance_settings == true %} display-text-lr-padding display-fs {% endif %}" >
              {{ module.content_settings.display_text_section.display_text }}
           </div>  
         {% endif %}


        {% if module.content_settings.text_section_group.add_section_text %}
          <div class="section-text">
            {{ module.content_settings.text_section_group.body_text }}
          </div>
        {% endif %}

        {% if module.content_settings.buttons.button_type == "call_to_action" %}
          <div class="cta-container {{ module.content_settings.buttons.cta_button_alignment }}"> <!-- class used to be just 'cta-container' but I needed a quick fix here - vince -->
            {% cta guid="{{ module.content_settings.buttons.call_to_action }}" %}
          </div>

        {% else if module.content_settings.buttons.button_type == "simple_button"   %}

          <div class="simple-button {{ module.content_settings.buttons.cta_button_alignment }}">
            {% set href = module.content_settings.buttons.button_link.href %}
            {% if module.content_settings.buttons.button_link.type is equalto "EMAIL_ADDRESS" %}
            {% set href = "mailto:" + href %}
            {% endif %} 
            <a class="{{simpleButtonStyle(module.content_settings.buttons.button_style)}}" href="{{ href }}"
               {% if module.content_settings.buttons.button_link.open_in_new_tab %}target="_blank"{% endif %}
               {% if module.content_settings.buttons.button_link.no_follow %}rel="nofollow"{% endif %}

               {% if module.content_settings.buttons.open_link_in_new_tab_ %}target="_blank"{% endif %}
               >
              {{ module.content_settings.buttons.button_label }}
            </a>
          </div>

        {% endif %}
      </div>
    </div>
  </div>
</section>


{% require_css %}
  <style>
    #section_{{name}} {
      position: relative;
      padding-top: 0;
    }
    #section_{{name}} .nf-section{
      padding-top:     {{ module.general_settings.adjust_section_height.padding_top }}px;
      padding-bottom:  {{ module.general_settings.adjust_section_height.padding_bottom }}px;   
      min-height: {{ module.general_settings.adjust_section_height.height }}px;
      box-shadow: inset 0px 0px 18px 0px #000000;
      
    }
    #section_{{name}} .nf-text-and-cta .accent-left {
      background-image: url(https://www.cloudbakers.com/hubfs/VPB-Assets/Text-Action/accent-left.png);
      background-size: auto 100%;
    }
    #section_{{name}} .nf-text-and-cta .accent-right {
      background-image: url(https://www.cloudbakers.com/hubfs/VPB-Assets/Text-Action/accent-right.png);
      background-size: auto 100%;
    }
    #section_{{name}} .nf-section h2{
      color: rgba({{ module.content_settings.section_text_color.color|convert_rgb }}, {{ module.content_settings.section_text_color.opacity/100 }});
    }
    
    #section_{{name}} .nf-text-and-cta h3.title{
      color: {{ module.content_settings.title_section_group.section_title_color.color }}
    }
    
    #section_{{name}} .nf-text-and-cta .display-text {
      color: {{ module.content_settings.display_text_section.display_color.color }}
    }
    
    #section_{{name}} .nf-text-and-cta .section-text p {
      color: {{ module.content_settings.text_section_group.section_text_color.color }}
    }
    
    #section_{{name}} .left {
      text-align: left !important;
    }
    
    #section_{{name}} .center {
      text-align: center !important;
    }
    
    #section_{{name}} .right {
      text-align: right !important;
    }
    {% if module.content_settings.title_section_group.add_section_title %}
    {% else %}
      #section_{{name}} .nf-text-and-cta .title-display {
        display: none;
      }
    {% endif %}
    {# Advance Settings #}
    #section_{{name}} .nf-text-and-cta .top-spacer {
      margin-top: {{ module.general_settings.desktop_advance_settings.text_content_top_spacer }}px;
    } 
    #section_{{name}} .nf-text-and-cta .display-text-lr-padding {
      padding: 0 {{ module.general_settings.desktop_advance_settings.display_text_left_and_right_padding }}px;
    }
    #section_{{name}} .nf-text-and-cta .title-fs {
      font-size: {{ module.general_settings.desktop_advance_settings.title_font_size }}px;
    }
    #section_{{name}} .nf-text-and-cta .display-fs {
      font-size: {{ module.general_settings.desktop_advance_settings.display_text_font_size }}px;
    }
    @media screen and (max-width: 834px) {
      #section_{{name}} .nf-text-and-cta .top-spacer {
        margin-top: {{ module.general_settings.tablet_advance_settings.text_content_top_spacer }}px;
      } 
      #section_{{name}} .nf-text-and-cta .display-text-lr-padding , #section_{{name}} {
        padding: 0 {{ module.general_settings.tablet_advance_settings.display_text_left_and_right_padding }}px;
      }
      #section_{{name}} .nf-text-and-cta .title-fs {
        font-size: {{ module.general_settings.tablet_advance_settings.title_font_size }}px;
      }
      #section_{{name}} .nf-text-and-cta .display-fs {
        font-size: {{ module.general_settings.tablet_advance_settings.display_text_font_size }}px;
      }
    }
    @media screen and (max-width: 736px) {
      #section_{{name}} .nf-text-and-cta .top-spacer {
        margin-top: {{ module.general_settings.mobile_advance_settings.text_content_top_spacer }}px;
      } 
      #section_{{name}} .nf-text-and-cta .display-text-lr-padding , #section_{{name}} {
        padding: 0 {{ module.general_settings.mobile_advance_settings.display_text_left_and_right_padding }}px;
      }
      #section_{{name}} .nf-text-and-cta .title-fs {
        font-size: {{ module.general_settings.mobile_advance_settings.title_font_size }}px;
      }
      #section_{{name}} .nf-text-and-cta .display-fs {
        font-size: {{ module.general_settings.mobile_advance_settings.display_text_font_size }}px;
      }
    }
    {# Advance Settings #}
  </style>
{% end_require_css %}