{# background variables #}
{% macro convertColor(color) %}rgba({{ color.color|convert_rgb }}, {{color.opacity /100}}){% endmacro %}
{# color #}
{% set bg_color = module.styles.background_color.color|convert_rgb %}
{% set bg_color_op = module.styles.background_color.opacity %}

{# gradient #}
{% set bg_grad_top_col = module.styles.gradient_top_color.color|convert_rgb %}
{% set bg_grad_top_op = module.styles.gradient_top_color.opacity %}
{% set bg_grad_bot_col = module.styles.gradient_bottom_color.color|convert_rgb %}
{% set bg_grad_bot_op = module.styles.gradient_bottom_color.opacity %}

{# Image #}
{% set bg_image_scr = module.styles.background_image.src %}
{% set bg_image_alt = module.styles.background_image.alt %}
{% set bg_image_add_overlay = module.styles.add_overlay %}
{% set bg_image_overlay_color = module.styles.overlay.overlay_color.color|convert_rgb %}
{% set bg_image_overlay_op = module.styles.overlay.overlay_color.opacity/100 %}
{% set bg_image_x_position = module.styles.x_position  %}
{% set bg_image_y_position = module.styles.y_position  %}
{% set is_overlay = module.styles.add_overlay %}

{% macro bg_type(type, is_overlay) %}
  {% if type == 'nf_bg-gradient' %}
    .nf-styles-{{ name }}.nf_bg-gradient {
      background: -moz-linear-gradient(top, rgba({{ bg_grad_top_col }}, 100% ) {{bg_grad_top_op}}%, rgba({{ bg_grad_bot_col }}, 100% ) {{bg_grad_bot_op }}%);
      background: -webkit-linear-gradient(top, rgba({{ bg_grad_top_col }}, 100% ) {{bg_grad_top_op}}%, rgba( {{bg_grad_bot_col }}, 100% ) {{bg_grad_bot_op }}%);
      background: linear-gradient(to bottom, rgba({{ bg_grad_top_col }}, 100%) {{bg_grad_top_op}}%, rgba({{ bg_grad_bot_col }},100% ) {{bg_grad_bot_op }}%);
    }
  {% elif type == 'nf_bg-image' %}
    .nf-styles-{{ name }}.nf_bg-image {
      background-image: url('{{ bg_image_scr }} ');
      background-position: {%if module.styles.background_position != 'custom' %} {{module.styles.background_position}}{% else %}{{ bg_image_x_position }}% {{ bg_image_y_position }}%  {% endif %}  
    }

    {% if is_overlay %}
      .nf-styles-{{ name }}.nf_bg-image::before {
        background-color: rgba({{ bg_image_overlay_color }}, {{ bg_image_overlay_op }});
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
      }

      .nf-styles-{{ name }} .nf-section {
        position: relative;
      }
    {% endif %}
  {% else %}
    .nf-styles-{{ name }}.nf_bg-color {
      background-color: rgba({{ bg_color }}, {{ bg_color_op }} );
    }
  {% endif %}
{% endmacro %}

{% macro animationEffect(dataDuration, dataAnimation, dataDelay, dataEasing)  %}
  data-sal-duration="{{ dataDuration }}"
  data-sal="{{ dataAnimation }}"
  data-sal-delay="{{ dataDelay }}"
  data-sal-easing="{{ dataEasing }}"
{% endmacro %}
{# animationEffect('1200', 'fade', '600', 'ease-out-bounce') #}

{% macro simpleButtonStyle(style) %}
  {% if style == 'primary' %} cta-btn-primary {% elif style == 'secondary' %} cta-btn-secondary {% elif style == 'dark' %} cta-btn-dark {% elif style == 'link' %} link-cta text18 {% endif %}
{% endmacro %}

{% macro displayChevronRight(style) %}
  {% if style == 'link' %} <i class="fa fa-chevron-right" aria-hidden="true"></i> {% endif %}
{% endmacro %}

{% require_css %}
<style>
  {{ bg_type( module.styles.background_type ) }}
  {{ bg_type( module.styles.background_type, bg_image_add_overlay ) }}
</style>
{% end_require_css %}


<section id="section_{{name}}" class="nf-styles-{{ name }} {{ module.styles.background_type }} card-with-zoom-container">
  <div class="top-accent">
    <div class="left-accent"></div>
    <div class="right-accent"></div>
  </div>
  <div id="" class="nf-section nf-card-with-hover-section" > 
    <div class="nf-container">
      <!--   start your code here    -->
      <div class="nf-card-with-hover">
        <div>
          <h3 class="title center-aligned title-color top-spacer title-fs">
            {{ module.content_settings.title }}
          </h3>
        </div>
        <div class="display-text display-text-center display-color display-text-lr-padding display-fs">
          {{ module.content_settings.display_text }}
          
        </div>
        <div class="text18">
          {{ module.content_settings.body_text }}
        </div>
        <div class="nf-card-repeater">
          {% for cards in module.content_settings.card_repeater %}

            <div class="nf-card-container">
              <div class="nf-card-wrap">
                <div class="nf-card-image">
                  {% if cards.card_image.src %}
                    <img src="{{ cards.card_image.src }}" alt="{{ cards.card_image.alt }}">
                  {% endif %}
                </div>
                <div >
                  <h3 class="title center-aligned">
                    {{ cards.card_title }}
                  </h3>
                </div>
                <div class="text14 center-aligned">
                  {{ cards.body_text }}
                </div>
                {% if cards.button_type == 'cta' %}
                  {% cta guid="{{ cards.hubspot_cta }}" %}
                  {% elif cards.button_type == 'simple' %}
                    {% set href = cards.button_link.url.href %}
                    {% if cards.button_link.url.type is equalto "EMAIL_ADDRESS" %}
                    {% set href = "mailto:" + href %}
                    {% endif %}
                    <a class="{{simpleButtonStyle(cards.button_style)}}" href="{{ href }}"
                       {% if cards.button_link.open_in_new_tab %}target="_blank"{% endif %}
                       {% if cards.button_link.no_follow %}rel="nofollow"{% endif %}
                       >{{ cards.button_label }} {{ displayChevronRight(cards.button_style) }}
                    </a> 
                {% endif %}
              </div>
              
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>


{% require_css %}
  <style>
    #section_{{name}} .nf-section{
      padding-top:     {{ module.general_settings.adjust_section_height_and_spacing.padding_top }}px;
      padding-bottom:  {{ module.general_settings.adjust_section_height_and_spacing.padding_bottom }}px;   
      min-height: {{ module.general_settings.adjust_section_height_and_spacing.height }}px;
      position: relative;
      z-index: 9;
    }
    #section_{{name}} .nf-card-with-hover-section .nf-card-repeater .nf-card-container {
      height: {{ module.content_settings.card_zoom_hover }}px;
    }
    #section_{{name}} .nf-card-with-hover-section .nf-card-repeater .nf-card-container .nf-card-wrap {
      min-height: {{ module.content_settings.card_height }}px;
    }
    #section_{{name}} .nf-card-with-hover-section h3.title-color{
      color: {{ module.content_settings.title_color.color }};
    }
    #section_{{name}} .nf-card-with-hover-section .display-color {
      color: {{ module.content_settings.display_color.color }};
    }
    
    #section_{{name}} .top-accent .left-accent {
        background-color: {{ module.styles.background_color.color }};
    }
    
    {# Advance Settings #}
    #section_{{name}} .nf-card-with-hover-section .top-spacer {
      margin-top: {{ module.general_settings.desktop_advance_settings.text_content_top_spacer }}px;
    } 
    #section_{{name}} .nf-card-with-hover-section .display-text-lr-padding {
      padding: 0 {{ module.general_settings.desktop_advance_settings.display_text_left_and_right_padding }}px;
    }
    #section_{{name}} .nf-card-with-hover-section .title-fs {
      font-size: {{ module.general_settings.desktop_advance_settings.title_font_size }}px;
    }
    #section_{{name}} .nf-card-with-hover-section .display-fs {
      font-size: {{ module.general_settings.desktop_advance_settings.display_text_font_size }}px;
    }
    @media screen and (max-width: 834px) {
      #section_{{name}} .nf-card-with-hover-section .top-spacer {
        margin-top: {{ module.general_settings.tablet_advance_settings.text_content_top_spacer }}px;
      } 
      #section_{{name}} .nf-card-with-hover-section .display-text-lr-padding {
        padding: 0 {{ module.general_settings.tablet_advance_settings.display_text_left_and_right_padding }}px;
      }
      #section_{{name}} .nf-card-with-hover-section .title-fs {
        font-size: {{ module.general_settings.tablet_advance_settings.title_font_size }}px;
      }
      #section_{{name}} .nf-card-with-hover-section .display-fs {
        font-size: {{ module.general_settings.tablet_advance_settings.display_text_font_size }}px;
      }
    }
    @media screen and (max-width: 736px) {
      #section_{{name}} .nf-card-with-hover-section .top-spacer {
        margin-top: {{ module.general_settings.mobile_advance_settings.text_content_top_spacer }}px;
      } 
      #section_{{name}} .nf-card-with-hover-section .display-text-lr-padding {
        padding: 0 {{ module.general_settings.mobile_advance_settings.display_text_left_and_right_padding }}px;
      }
      #section_{{name}} .nf-card-with-hover-section .title-fs {
        font-size: {{ module.general_settings.mobile_advance_settings.title_font_size }}px;
      }
      #section_{{name}} .nf-card-with-hover-section .display-fs {
        font-size: {{ module.general_settings.mobile_advance_settings.display_text_font_size }}px;
      }
    }
    {# Advance Settings #}
  </style>
{% end_require_css %}
