{# background variables #}
{% macro convertColor(color) %}rgba({{ color.color|convert_rgb }}, {{color.opacity /100}}){% endmacro %}
{# color #}
{% set bg_color = module.styles.background_color.color|convert_rgb %}
{% set bg_color_op = module.styles.background_color.opacity %}

{# gradient #}
{% set bg_grad_top_col = module.styles.gradient_top_color.color|convert_rgb %}
{% set bg_grad_top_op = module.styles.gradient_top_color.opacity %}
{% set bg_grad_bot_col = module.styles.gradient_bottom_color.color|convert_rgb %}
{% set bg_grad_bot_op = module.styles.gradient_bottom_color.opacity %}

{# Image #}
{% set bg_image_scr = module.styles.background_image.src %}
{% set bg_image_alt = module.styles.background_image.alt %}
{% set bg_image_add_overlay = module.styles.add_overlay %}
{% set bg_image_overlay_color = module.styles.overlay.overlay_color.color|convert_rgb %}
{% set bg_image_overlay_op = module.styles.overlay.overlay_color.opacity/100 %}
{% set bg_image_x_position = module.styles.x_position  %}
{% set bg_image_y_position = module.styles.y_position  %}
{% set is_overlay = module.styles.add_overlay %}

{% macro bg_type(type, is_overlay) %}
  {% if type == 'nf_bg-gradient' %}
    .nf-styles-{{ name }}.nf_bg-gradient {
      background: -moz-linear-gradient(top, rgba({{ bg_grad_top_col }}, 100% ) {{bg_grad_top_op}}%, rgba({{ bg_grad_bot_col }}, 100% ) {{bg_grad_bot_op }}%);
      background: -webkit-linear-gradient(top, rgba({{ bg_grad_top_col }}, 100% ) {{bg_grad_top_op}}%, rgba( {{bg_grad_bot_col }}, 100% ) {{bg_grad_bot_op }}%);
      background: linear-gradient(to bottom, rgba({{ bg_grad_top_col }}, 100%) {{bg_grad_top_op}}%, rgba({{ bg_grad_bot_col }},100% ) {{bg_grad_bot_op }}%);
    }
  {% elif type == 'nf_bg-image' %}
    .nf-styles-{{ name }}.nf_bg-image {
      background-image: url('{{ bg_image_scr }} ');
      background-position: {%if module.styles.background_position != 'custom' %} {{module.styles.background_position}}{% else %}{{ bg_image_x_position }}% {{ bg_image_y_position }}%  {% endif %}  
    }

    {% if is_overlay %}
      .nf-styles-{{ name }}.nf_bg-image::before {
        background-color: rgba({{ bg_image_overlay_color }}, {{ bg_image_overlay_op }});
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
      }

      .nf-styles-{{ name }} .nf-section {
        position: relative;
      }
    {% endif %}
  {% else %}
    .nf-styles-{{ name }}.nf_bg-color {
      background-color: rgba({{ bg_color }}, {{ bg_color_op }} );
    }
  {% endif %}
{% endmacro %}

{% macro animationEffect(dataDuration, dataAnimation, dataDelay, dataEasing)  %}
  data-sal-duration="{{ dataDuration }}"
  data-sal="{{ dataAnimation }}"
  data-sal-delay="{{ dataDelay }}"
  data-sal-easing="{{ dataEasing }}"
{% endmacro %}
{# animationEffect('1200', 'fade', '600', 'ease-out-bounce') #}

{% require_css %}
<style>
  {{ bg_type( module.styles.background_type ) }}
  {{ bg_type( module.styles.background_type, bg_image_add_overlay ) }}
</style>
{% end_require_css %}


<section id="section_{{name}}" class="nf-styles-{{ name }} {{ module.styles.background_type }}">
  <div id="" class="nf-section location-module-section" >   
    <div class="nf-container location-module {% if module.general_settings.advance_settings == true %} top-spacer {% endif %}">
      
      <div>
         <h1 class="header-color center-aligned {% if module.general_settings.advance_settings == true %} display-fs {% endif %}"> {{ module.content_settings.header_group.header_title }} </h1>
      </div>
     
      <div class="location_addresses_wrapper">
        <div class="location_addresses">
        {% for item in module.content_settings.map_address %}
        <div class="loc_addr" data-address_id="location_{{ loop.index }}">
          <div class="list"></div>
          <div class="addr" data-map_id="{{ loop.index }}" >
            <a class="anchor_location" href="javascript:void(0);">
       
              <div class="city">{{ item.city }}</div>
              <div class="address">{{ item.address }}</div>
              <div class="address2">{{ item.additional_address }}</div>
              <div class="city2">{{ item.city }} {{ item.zip_code }}</div>
            </a>
          </div>
      
        </div>
        {% endfor %}
      </div>
      
      <div class="maps">
        {% for item in module.content_settings.map_address %}
            <div id="location_map_{{ loop.index }}" >{{ item.google_map_code }}</div>
         {% endfor %}
      </div>
      </div>
  
     
      
    </div>
  </div>
</section>


{% require_css %}
  <style>
    #section_{{name}} .nf-section{
      padding-top:     {{ module.general_settings.adjust_section_height_and_spacing.padding_top }}px;
      padding-bottom:  {{ module.general_settings.adjust_section_height_and_spacing.padding_bottom }}px;   
      min-height: {{ module.general_settings.adjust_section_height_and_spacing.height }}px;
    }
    
     #section_{{name}} .header-color { 
      color:  {{ module.content_settings.header_group.header_color.color }} !important;
    }
    
    {# Advance Settings #}
    #section_{{name}} .location-module-section .top-spacer  {
      margin-top: {{ module.general_settings.desktop_advance_settings.text_content_top_spacer }}px;
    } 
    #section_{{name}} .location-module-section .display-fs {
      font-size: {{ module.general_settings.desktop_advance_settings.display_text_font_size }}px;
    }
    @media screen and (max-width: 834px) {
      #section_{{name}} .location-module-section .top-spacer {
        margin-top: {{ module.general_settings.tablet_advance_settings.text_content_top_spacer }}px;
      } 
      #section_{{name}} .location-module-section .display-fs {
        font-size: {{ module.general_settings.tablet_advance_settings.display_text_font_size }}px;
      }
    }
    @media screen and (max-width: 736px) {
      #section_{{name}} .location-module-section .top-spacer {
        margin-top: {{ module.general_settings.mobile_advance_settings.text_content_top_spacer }}px;
      } 
      #section_{{name}} .location-module-section .display-fs {
        font-size: {{ module.general_settings.mobile_advance_settings.display_text_font_size }}px;
      }
    }
    {# Advance Settings #}
  </style>
{% end_require_css %}


{% require_js position="footer"  %}
    <script>
      $(document).ready(() => {
       $("#section_{{name}} a[href^=#]").on("click", function(e) {
          e.preventDefault();
          history.pushState({}, "", this.href);
        });
      })
    </script>
{% end_require_js %}


 


