	
	:root {
		/*-------------*/
		/*****Theme******/
		/*-------------*/
		// dark
		--dark-bg: #186d8c;
		--dark-content-header-color: #f5f5f5;
		--dark-content-desc-color: #fff;

		// light
		--light-bg: #f5f5f5;
		--light-content-header-color: #186d8c; 
        --light-content-desc-color: #fff; 

        //button
        --nf-primary: 00FFFF;

		/*-------------*/
		/*****body******/
		/*-------------*/
		--nf-body-line-height: normal;
		--nf-body-font-size: 16px;
		--nf-body-font-style: normal;
		--nf-body-font-weight: normal;
		--nf-body-font-family: "Open Sans","Helvetica", Helvetica, Arial, serif;
		--nf-body-color: #000;
		--nf-body-margin-top: ;
		--nf-body-margin-left: ;
		--nf-body-margin-bottom: ;
		--nf-body-margin-right: ;
		--nf-body-padding-top: ;
		--nf-body-padding-left: ;
		--nf-body-padding-bottom: ;
		--nf-body-padding-right: ;
		--nf-body-background-color: #fff;
		--nf-body-opacity: ;
		--nf-body-border-radius: ;
		--nf-body-border-color: ;
		--nf-body-border-style: ;
		--nf-body-border-width: ;
		
		/*-------------*/
		/*****H1******/
		/*-------------*/
		--nf-h1-line-height: normal;
		--nf-h1-font-size: 2em;
		--nf-h1-font-style: normal;
		--nf-h1-font-weight: bold;
		--nf-h1-font-family: ;
		--nf-h1-color: #000;
		--nf-h1-margin-top: 0.67em;
		--nf-h1-margin-left: ;
		--nf-h1-margin-bottom: 0.67em;
		--nf-h1-margin-right: ;
		--nf-h1-padding-top: ;
		--nf-h1-padding-left: ;
		--nf-h1-padding-bottom: ;
		--nf-h1-padding-right: ;
		--nf-h1-background-color: ;
		--nf-h1-opacity: ;
		--nf-h1-border-radius: ;
		--nf-h1-border-color: ;
		--nf-h1-border-style: ;
		--nf-h1-border-width: ;

		/*-------------*/
		/*****H2******/
		/*-------------*/
		--nf-h2-line-height: normal;
		--nf-h2-font-size: 1.5em;
		--nf-h2-font-style: normal;
		--nf-h2-font-weight: bold;
		--nf-h2-font-family: ;
		--nf-h2-color: #000;
		--nf-h2-margin-top: 0.83em;
		--nf-h2-margin-left: ;
		--nf-h2-margin-bottom: 0.83em;
		--nf-h2-margin-right: ;
		--nf-h2-padding-top: ;
		--nf-h2-padding-left: ;
		--nf-h2-padding-bottom: ;
		--nf-h2-padding-right: ;
		--nf-h2-background-color: ;
		--nf-h2-opacity: ;
		--nf-h2-border-radius: ;
		--nf-h2-border-color: ;
		--nf-h2-border-style: ;
		--nf-h2-border-width: ;

		/*-------------*/
		/*****H3******/
		/*-------------*/
		--nf-h3-line-height: normal;
		--nf-h3-font-size: 1.17em;
		--nf-h3-font-style: normal;
		--nf-h3-font-weight: bold;
		--nf-h3-font-family: ;
		--nf-h3-color: #000;
		--nf-h3-margin-top: 1em;
		--nf-h3-margin-left: ;
		--nf-h3-margin-bottom: 1em;
		--nf-h3-margin-right: ;
		--nf-h3-padding-top: ;
		--nf-h3-padding-left: ;
		--nf-h3-padding-bottom: ;
		--nf-h3-padding-right: ;
		--nf-h3-background-color: ;
		--nf-h3-opacity: ;
		--nf-h3-border-radius: ;
		--nf-h3-border-color: ;
		--nf-h3-border-style: ;
		--nf-h3-border-width: ;

		/*-------------*/
		/*****H4******/
		/*-------------*/
		--nf-h4-line-height: normal;
		--nf-h4-font-size: 1em;
		--nf-h4-font-style: normal;
		--nf-h4-font-weight: bold;
		--nf-h4-font-family: ;
		--nf-h4-color: #000;
		--nf-h4-margin-top: 1.33em;
		--nf-h4-margin-left: ;
		--nf-h4-margin-bottom: 1.33em;
		--nf-h4-margin-right: ;
		--nf-h4-padding-top: ;
		--nf-h4-padding-left: ;
		--nf-h4-padding-bottom: ;
		--nf-h4-padding-right: ;
		--nf-h4-background-color: ;
		--nf-h4-opacity: ;
		--nf-h4-border-radius: ;
		--nf-h4-border-color: ;
		--nf-h4-border-style: ;
		--nf-h4-border-width: ;

		/*-------------*/
		/*****H5******/
		/*-------------*/
		--nf-h5-line-height: normal;
		--nf-h5-font-size: .83em;
		--nf-h5-font-style: normal;
		--nf-h5-font-weight: bold;
		--nf-h5-font-family: ;
		--nf-h5-color: ;
		--nf-h5-margin-top: 1.67em;
		--nf-h5-margin-left: ;
		--nf-h5-margin-bottom: 1.67em;
		--nf-h5-margin-right: ;
		--nf-h5-padding-top: ;
		--nf-h5-padding-left: ;
		--nf-h5-padding-bottom: ;
		--nf-h5-padding-right: ;
		--nf-h5-background-color: ;
		--nf-h5-opacity: ;
		--nf-h5-border-radius: ;
		--nf-h5-border-color: ;
		--nf-h5-border-style: ;
		--nf-h5-border-width: ;

		/*-------------*/
		/*****H6******/
		/*-------------*/
		--nf-h6-line-height: normal;
		--nf-h6-font-size: .67em;
		--nf-h6-font-style: normal;
		--nf-h6-font-weight: bold;
		--nf-h6-font-family: ;
		--nf-h6-color: ;
		--nf-h6-margin-top: 2.33em;
		--nf-h6-margin-left: ;
		--nf-h6-margin-bottom: 2.33em;
		--nf-h6-margin-right: ;
		--nf-h6-padding-top: ;
		--nf-h6-padding-left: ;
		--nf-h6-padding-bottom: ;
		--nf-h6-padding-right: ;
		--nf-h6-background-color: ;
		--nf-h6-opacity: ;
		--nf-h6-border-radius: ;
		--nf-h6-border-color: ;
		--nf-h6-border-style: ;
		--nf-h6-border-width: ;

		/*-------------*/
		/*****li******/
		/*-------------*/
		--nf-li-line-height: normal;
		--nf-li-font-size: 16px;
		--nf-li-font-style: normal;
		--nf-li-font-weight: normal;
		--nf-li-font-family: ;
		--nf-li-color: #000;
		--nf-li-margin-top: ;
		--nf-li-margin-left: ;
		--nf-li-margin-bottom: ;
		--nf-li-margin-right: ;
		--nf-li-padding-top: ;
		--nf-li-padding-left: ;
		--nf-li-padding-bottom: ;
		--nf-li-padding-right: ;
		--nf-li-background-color: ;
		--nf-li-opacity: ;
		--nf-li-border-radius: ;
		--nf-li-border-color: ;
		--nf-li-border-style: ;
		--nf-li-border-width: ;

		/*-------------*/
		/*****Anchor Tags******/
		/*-------------*/
		--nf-aTags-font-size:  ;
        --nf-aTags-color: ;
        --nf-aTags-style: ;
        --nf-aTags-text-decoration: ;
        --nf-aTags-hover-color: ;
        --nf-aTags-hover-text-decoration: ;   




		/*-------------------------------------------------------------------------------------------*/
		/*****---------------------------------------Tablet---------------------------------------******/
		/*-------------------------------------------------------------------------------------------*/

		--nf-tab_body-line-height: normal;
		--nf-tab_body-font-size: 16px;
		--nf-tab_body-font-style: normal;
		--nf-tab_body-font-weight: normal;
		--nf-tab_body-font-family: "Open Sans","Helvetica", Helvetica, Arial, serif;
		--nf-tab_body-color: #000;
		--nf-tab_body-margin-top: ;
		--nf-tab_body-margin-left: ;
		--nf-tab_body-margin-bottom: ;
		--nf-tab_body-margin-right: ;
		--nf-tab_body-padding-top: ;
		--nf-tab_body-padding-left: ;
		--nf-tab_body-padding-bottom: ;
		--nf-tab_body-padding-right: ;
		--nf-tab_body-background-color: #fff;
		--nf-tab_body-opacity: ;
		--nf-tab_body-border-radius: ;
		--nf-tab_body-border-color: ;
		--nf-tab_body-border-style: ;
		--nf-tab_body-border-width: ;
		
		/*-------------*/
		/*****H1******/
		/*-------------*/
		--nf-tab_h1-line-height: normal;
		--nf-tab_h1-font-size: 2em;
		--nf-tab_h1-font-style: normal;
		--nf-tab_h1-font-weight: bold;
		--nf-tab_h1-font-family: ;
		--nf-tab_h1-color: #000;
		--nf-tab_h1-margin-top: 0.67em;
		--nf-tab_h1-margin-left: ;
		--nf-tab_h1-margin-bottom: 0.67em;
		--nf-tab_h1-margin-right: ;
		--nf-tab_h1-padding-top: ;
		--nf-tab_h1-padding-left: ;
		--nf-tab_h1-padding-bottom: ;
		--nf-tab_h1-padding-right: ;
		--nf-tab_h1-background-color: ;
		--nf-tab_h1-opacity: ;
		--nf-tab_h1-border-radius: ;
		--nf-tab_h1-border-color: ;
		--nf-tab_h1-border-style: ;
		--nf-tab_h1-border-width: ;

		/*-------------*/
		/*****H2******/
		/*-------------*/
		--nf-tab_h2-line-height: normal;
		--nf-tab_h2-font-size: 1.5em;
		--nf-tab_h2-font-style: normal;
		--nf-tab_h2-font-weight: bold;
		--nf-tab_h2-font-family: ;
		--nf-tab_h2-color: #000;
		--nf-tab_h2-margin-top: 0.83em;
		--nf-tab_h2-margin-left: ;
		--nf-tab_h2-margin-bottom: 0.83em;
		--nf-tab_h2-margin-right: ;
		--nf-tab_h2-padding-top: ;
		--nf-tab_h2-padding-left: ;
		--nf-tab_h2-padding-bottom: ;
		--nf-tab_h2-padding-right: ;
		--nf-tab_h2-background-color: ;
		--nf-tab_h2-opacity: ;
		--nf-tab_h2-border-radius: ;
		--nf-tab_h2-border-color: ;
		--nf-tab_h2-border-style: ;
		--nf-tab_h2-border-width: ;

		/*-------------*/
		/*****H3******/
		/*-------------*/
		--nf-tab_h3-line-height: normal;
		--nf-tab_h3-font-size: 1.17em;
		--nf-tab_h3-font-style: normal;
		--nf-tab_h3-font-weight: bold;
		--nf-tab_h3-font-family: ;
		--nf-tab_h3-color: #000;
		--nf-tab_h3-margin-top: 1em;
		--nf-tab_h3-margin-left: ;
		--nf-tab_h3-margin-bottom: 1em;
		--nf-tab_h3-margin-right: ;
		--nf-tab_h3-padding-top: ;
		--nf-tab_h3-padding-left: ;
		--nf-tab_h3-padding-bottom: ;
		--nf-tab_h3-padding-right: ;
		--nf-tab_h3-background-color: ;
		--nf-tab_h3-opacity: ;
		--nf-tab_h3-border-radius: ;
		--nf-tab_h3-border-color: ;
		--nf-tab_h3-border-style: ;
		--nf-tab_h3-border-width: ;

		/*-------------*/
		/*****H4******/
		/*-------------*/
		--nf-tab_h4-line-height: normal;
		--nf-tab_h4-font-size: 1em;
		--nf-tab_h4-font-style: normal;
		--nf-tab_h4-font-weight: bold;
		--nf-tab_h4-font-family: ;
		--nf-tab_h4-color: #000;
		--nf-tab_h4-margin-top: 1.33em;
		--nf-tab_h4-margin-left: ;
		--nf-tab_h4-margin-bottom: 1.33em;
		--nf-tab_h4-margin-right: ;
		--nf-tab_h4-padding-top: ;
		--nf-tab_h4-padding-left: ;
		--nf-tab_h4-padding-bottom: ;
		--nf-tab_h4-padding-right: ;
		--nf-tab_h4-background-color: ;
		--nf-tab_h4-opacity: ;
		--nf-tab_h4-border-radius: ;
		--nf-tab_h4-border-color: ;
		--nf-tab_h4-border-style: ;
		--nf-tab_h4-border-width: ;

		/*-------------*/
		/*****H5******/
		/*-------------*/
		--nf-tab_h5-line-height: normal;
		--nf-tab_h5-font-size: .83em;
		--nf-tab_h5-font-style: normal;
		--nf-tab_h5-font-weight: bold;
		--nf-tab_h5-font-family: ;
		--nf-tab_h5-color: ;
		--nf-tab_h5-margin-top: 1.67em;
		--nf-tab_h5-margin-left: ;
		--nf-tab_h5-margin-bottom: 1.67em;
		--nf-tab_h5-margin-right: ;
		--nf-tab_h5-padding-top: ;
		--nf-tab_h5-padding-left: ;
		--nf-tab_h5-padding-bottom: ;
		--nf-tab_h5-padding-right: ;
		--nf-tab_h5-background-color: ;
		--nf-tab_h5-opacity: ;
		--nf-tab_h5-border-radius: ;
		--nf-tab_h5-border-color: ;
		--nf-tab_h5-border-style: ;
		--nf-tab_h5-border-width: ;

		/*-------------*/
		/*****H6******/
		/*-------------*/
		--nf-tab_h6-line-height: normal;
		--nf-tab_h6-font-size: .67em;
		--nf-tab_h6-font-style: normal;
		--nf-tab_h6-font-weight: bold;
		--nf-tab_h6-font-family: ;
		--nf-tab_h6-color: ;
		--nf-tab_h6-margin-top: 2.33em;
		--nf-tab_h6-margin-left: ;
		--nf-tab_h6-margin-bottom: 2.33em;
		--nf-tab_h6-margin-right: ;
		--nf-tab_h6-padding-top: ;
		--nf-tab_h6-padding-left: ;
		--nf-tab_h6-padding-bottom: ;
		--nf-tab_h6-padding-right: ;
		--nf-tab_h6-background-color: ;
		--nf-tab_h6-opacity: ;
		--nf-tab_h6-border-radius: ;
		--nf-tab_h6-border-color: ;
		--nf-tab_h6-border-style: ;
		--nf-tab_h6-border-width: ;

		/*-------------*/
		/*****li******/
		/*-------------*/
		--nf-tab_li-line-height: normal;
		--nf-tab_li-font-size: 16px;
		--nf-tab_li-font-style: normal;
		--nf-tab_li-font-weight: normal;
		--nf-tab_li-font-family: ;
		--nf-tab_li-color: #000;
		--nf-tab_li-margin-top: ;
		--nf-tab_li-margin-left: ;
		--nf-tab_li-margin-bottom: ;
		--nf-tab_li-margin-right: ;
		--nf-tab_li-padding-top: ;
		--nf-tab_li-padding-left: ;
		--nf-tab_li-padding-bottom: ;
		--nf-tab_li-padding-right: ;
		--nf-tab_li-background-color: ;
		--nf-tab_li-opacity: ;
		--nf-tab_li-border-radius: ;
		--nf-tab_li-border-color: ;
		--nf-tab_li-border-style: ;
		--nf-tab_li-border-width: ;

		/*-------------*/
		/*****Anchor Tags******/
		/*-------------*/
		--nf-tab_aTags-font-size:  ;
        --nf-tab_aTags-color: ;
        --nf-tab_aTags-style: ;
        --nf-tab_aTags-text-decoration: ;
        --nf-tab_aTags-hover-color: ;
        --nf-tab_aTags-hover-text-decoration: ;  

        --nf-tab_padding: 30px;


		/*-------------------------------------------------------------------------------------------*/
		/*****---------------------------------------Mobile---------------------------------------******/
		/*-------------------------------------------------------------------------------------------*/

		--nf-mob_body-line-height: normal;
		--nf-mob_body-font-size: 16px;
		--nf-mob_body-font-style: normal;
		--nf-mob_body-font-weight: normal;
		--nf-mob_body-font-family: "Open Sans","Helvetica", Helvetica, Arial, serif;
		--nf-mob_body-color: #000;
		--nf-mob_body-margin-top: ;
		--nf-mob_body-margin-left: ;
		--nf-mob_body-margin-bottom: ;
		--nf-mob_body-margin-right: ;
		--nf-mob_body-padding-top: ;
		--nf-mob_body-padding-left: ;
		--nf-mob_body-padding-bottom: ;
		--nf-mob_body-padding-right: ;
		--nf-mob_body-background-color: #fff;
		--nf-mob_body-opacity: ;
		--nf-mob_body-border-radius: ;
		--nf-mob_body-border-color: ;
		--nf-mob_body-border-style: ;
		--nf-mob_body-border-width: ;
		
		/*-------------*/
		/*****H1******/
		/*-------------*/
		--nf-mob_h1-line-height: normal;
		--nf-mob_h1-font-size: 2em;
		--nf-mob_h1-font-style: normal;
		--nf-mob_h1-font-weight: bold;
		--nf-mob_h1-font-family: ;
		--nf-mob_h1-color: #000;
		--nf-mob_h1-margin-top: 0.67em;
		--nf-mob_h1-margin-left: ;
		--nf-mob_h1-margin-bottom: 0.67em;
		--nf-mob_h1-margin-right: ;
		--nf-mob_h1-padding-top: ;
		--nf-mob_h1-padding-left: ;
		--nf-mob_h1-padding-bottom: ;
		--nf-mob_h1-padding-right: ;
		--nf-mob_h1-background-color: ;
		--nf-mob_h1-opacity: ;
		--nf-mob_h1-border-radius: ;
		--nf-mob_h1-border-color: ;
		--nf-mob_h1-border-style: ;
		--nf-mob_h1-border-width: ;

		/*-------------*/
		/*****H2******/
		/*-------------*/
		--nf-mob_h2-line-height: normal;
		--nf-mob_h2-font-size: 1.5em;
		--nf-mob_h2-font-style: normal;
		--nf-mob_h2-font-weight: bold;
		--nf-mob_h2-font-family: ;
		--nf-mob_h2-color: #000;
		--nf-mob_h2-margin-top: 0.83em;
		--nf-mob_h2-margin-left: ;
		--nf-mob_h2-margin-bottom: 0.83em;
		--nf-mob_h2-margin-right: ;
		--nf-mob_h2-padding-top: ;
		--nf-mob_h2-padding-left: ;
		--nf-mob_h2-padding-bottom: ;
		--nf-mob_h2-padding-right: ;
		--nf-mob_h2-background-color: ;
		--nf-mob_h2-opacity: ;
		--nf-mob_h2-border-radius: ;
		--nf-mob_h2-border-color: ;
		--nf-mob_h2-border-style: ;
		--nf-mob_h2-border-width: ;

		/*-------------*/
		/*****H3******/
		/*-------------*/
		--nf-mob_h3-line-height: normal;
		--nf-mob_h3-font-size: 1.17em;
		--nf-mob_h3-font-style: normal;
		--nf-mob_h3-font-weight: bold;
		--nf-mob_h3-font-family: ;
		--nf-mob_h3-color: #000;
		--nf-mob_h3-margin-top: 1em;
		--nf-mob_h3-margin-left: ;
		--nf-mob_h3-margin-bottom: 1em;
		--nf-mob_h3-margin-right: ;
		--nf-mob_h3-padding-top: ;
		--nf-mob_h3-padding-left: ;
		--nf-mob_h3-padding-bottom: ;
		--nf-mob_h3-padding-right: ;
		--nf-mob_h3-background-color: ;
		--nf-mob_h3-opacity: ;
		--nf-mob_h3-border-radius: ;
		--nf-mob_h3-border-color: ;
		--nf-mob_h3-border-style: ;
		--nf-mob_h3-border-width: ;

		/*-------------*/
		/*****H4******/
		/*-------------*/
		--nf-mob_h4-line-height: normal;
		--nf-mob_h4-font-size: 1em;
		--nf-mob_h4-font-style: normal;
		--nf-mob_h4-font-weight: bold;
		--nf-mob_h4-font-family: ;
		--nf-mob_h4-color: #000;
		--nf-mob_h4-margin-top: 1.33em;
		--nf-mob_h4-margin-left: ;
		--nf-mob_h4-margin-bottom: 1.33em;
		--nf-mob_h4-margin-right: ;
		--nf-mob_h4-padding-top: ;
		--nf-mob_h4-padding-left: ;
		--nf-mob_h4-padding-bottom: ;
		--nf-mob_h4-padding-right: ;
		--nf-mob_h4-background-color: ;
		--nf-mob_h4-opacity: ;
		--nf-mob_h4-border-radius: ;
		--nf-mob_h4-border-color: ;
		--nf-mob_h4-border-style: ;
		--nf-mob_h4-border-width: ;

		/*-------------*/
		/*****H5******/
		/*-------------*/
		--nf-mob_h5-line-height: normal;
		--nf-mob_h5-font-size: .83em;
		--nf-mob_h5-font-style: normal;
		--nf-mob_h5-font-weight: bold;
		--nf-mob_h5-font-family: ;
		--nf-mob_h5-color: ;
		--nf-mob_h5-margin-top: 1.67em;
		--nf-mob_h5-margin-left: ;
		--nf-mob_h5-margin-bottom: 1.67em;
		--nf-mob_h5-margin-right: ;
		--nf-mob_h5-padding-top: ;
		--nf-mob_h5-padding-left: ;
		--nf-mob_h5-padding-bottom: ;
		--nf-mob_h5-padding-right: ;
		--nf-mob_h5-background-color: ;
		--nf-mob_h5-opacity: ;
		--nf-mob_h5-border-radius: ;
		--nf-mob_h5-border-color: ;
		--nf-mob_h5-border-style: ;
		--nf-mob_h5-border-width: ;

		/*-------------*/
		/*****H6******/
		/*-------------*/
		--nf-mob_h6-line-height: normal;
		--nf-mob_h6-font-size: .67em;
		--nf-mob_h6-font-style: normal;
		--nf-mob_h6-font-weight: bold;
		--nf-mob_h6-font-family: ;
		--nf-mob_h6-color: ;
		--nf-mob_h6-margin-top: 2.33em;
		--nf-mob_h6-margin-left: ;
		--nf-mob_h6-margin-bottom: 2.33em;
		--nf-mob_h6-margin-right: ;
		--nf-mob_h6-padding-top: ;
		--nf-mob_h6-padding-left: ;
		--nf-mob_h6-padding-bottom: ;
		--nf-mob_h6-padding-right: ;
		--nf-mob_h6-background-color: ;
		--nf-mob_h6-opacity: ;
		--nf-mob_h6-border-radius: ;
		--nf-mob_h6-border-color: ;
		--nf-mob_h6-border-style: ;
		--nf-mob_h6-border-width: ;

		/*-------------*/
		/*****li******/
		/*-------------*/
		--nf-mob_li-line-height: normal;
		--nf-mob_li-font-size: 16px;
		--nf-mob_li-font-style: normal;
		--nf-mob_li-font-weight: normal;
		--nf-mob_li-font-family: ;
		--nf-mob_li-color: #000;
		--nf-mob_li-margin-top: ;
		--nf-mob_li-margin-left: ;
		--nf-mob_li-margin-bottom: ;
		--nf-mob_li-margin-right: ;
		--nf-mob_li-padding-top: ;
		--nf-mob_li-padding-left: ;
		--nf-mob_li-padding-bottom: ;
		--nf-mob_li-padding-right: ;
		--nf-mob_li-background-color: ;
		--nf-mob_li-opacity: ;
		--nf-mob_li-border-radius: ;
		--nf-mob_li-border-color: ;
		--nf-mob_li-border-style: ;
		--nf-mob_li-border-width: ;

		/*-------------*/
		/*****Anchor Tags******/
		/*-------------*/
		--nf-mob_aTags-font-size:  ;
        --nf-mob_aTags-color: ;
        --nf-mob_aTags-style: ;
        --nf-mob_aTags-text-decoration: ;
        --nf-mob_aTags-hover-color: ;
        --nf-mob_aTags-hover-text-decoration: ;   
        --nf-mob_padding: 30px;       
	}
	
	/* sass variables */

	/* Theme */
	// dark
	$dark-bg: var(--dark-bg);
	$dark-title-color: var(--dark-content-header-color);
	$dark-desc-color: var(--dark-content-desc-color);

	// light
	$light-bg: var(--light-bg);
	$light-title-color: var(--light-content-header-color);
 	$light-desc-color: var(--light-content-desc-color);

 	//button
 	$nf-primary: var(--nf-primary);

	/* Body */
	$body_fontSize: 		var(--nf-body-font-size);
	$body_backgroundColor: 	var(--nf-body-background-color);
	$body_textColor: 		var(--nf-body-color); 
	$body_fontFamily: 		var(--nf-body-font-family);
	$body_lineHeight: 		var(--nf-body-line-height);
	$body_fontStyle: 		var(--nf-body-font-style);
	$body_fontWeight: 		var(--nf-body-font-weight);
	$body_marginTop: 		var(--nf-body-margin-top);
	$body_marginLeft: 		var(--nf-body-margin-left);
	$body_marginBottom: 	var(--nf-body-margin-bottom);
	$body_marginRight: 		var(--nf-body-margin-right);
	$body_paddingTop: 		var(--nf-body-padding-top);
	$body_paddingLeft: 		var(--nf-body-padding-left);
	$body_paddingBottom: 	var(--nf-body-padding-bottom);
	$body_paddingRight: 	var(--nf-body-padding-right);
	$body_opacity: 			var(--nf-body-opacity);
	$body_borderRadius: 	var(--nf-body-border-radius);
	$body_borderColor: 		var(--nf-body-border-color);
	$body_borderStyle: 		var(--nf-body-border-style);
	$body_borderWidth: 		var(--nf-body-border-width);

	/* h1 */
	$h1_fontSize: 			var(--nf-h1-font-size);
	$h1_backgroundColor: 	var(--nf-h1-background-color);
	$h1_textColor: 			var(--nf-h1-color); 
	$h1_fontFamily: 		var(--nf-h1-font-family);
	$h1_lineHeight: 		var(--nf-h1-line-height);
	$h1_fontStyle: 			var(--nf-h1-font-style);
	$h1_fontWeight: 		var(--nf-h1-font-weight);
	$h1_marginTop: 			var(--nf-h1-margin-top);
	$h1_marginLeft: 		var(--nf-h1-margin-left);
	$h1_marginBottom: 		var(--nf-h1-margin-bottom);
	$h1_marginRight: 		var(--nf-h1-margin-right);
	$h1_paddingTop: 		var(--nf-h1-padding-top);
	$h1_paddingLeft: 		var(--nf-h1-padding-left);
	$h1_paddingBottom: 		var(--nf-h1-padding-bottom);
	$h1_paddingRight: 		var(--nf-h1-padding-right);
	$h1_opacity: 			var(--nf-h1-opacity);
	$h1_borderRadius: 		var(--nf-h1-border-radius);
	$h1_borderColor: 		var(--nf-h1-border-color);
	$h1_borderStyle: 		var(--nf-h1-border-style);
	$h1_borderWidth: 		var(--nf-h1-border-width);

		/* h2 */
	$h2_fontSize: 			var(--nf-h2-font-size);
	$h2_backgroundColor: 	var(--nf-h2-background-color);
	$h2_textColor: 			var(--nf-h2-color); 
	$h2_fontFamily: 		var(--nf-h2-font-family);
	$h2_lineHeight: 		var(--nf-h2-line-height);
	$h2_fontStyle: 			var(--nf-h2-font-style);
	$h2_fontWeight: 		var(--nf-h2-font-weight);
	$h2_marginTop: 			var(--nf-h2-margin-top);
	$h2_marginLeft: 		var(--nf-h2-margin-left);
	$h2_marginBottom: 		var(--nf-h2-margin-bottom);
	$h2_marginRight: 		var(--nf-h2-margin-right);
	$h2_paddingTop: 		var(--nf-h2-padding-top);
	$h2_paddingLeft: 		var(--nf-h2-padding-left);
	$h2_paddingBottom: 		var(--nf-h2-padding-bottom);
	$h2_paddingRight: 		var(--nf-h2-padding-right);
	$h2_opacity: 			var(--nf-h2-opacity);
	$h2_borderRadius: 		var(--nf-h2-border-radius);
	$h2_borderColor: 		var(--nf-h2-border-color);
	$h2_borderStyle: 		var(--nf-h2-border-style);
	$h2_borderWidth: 		var(--nf-h2-border-width);

		/* h3 */
	$h3_fontSize: 			var(--nf-h3-font-size);
	$h3_backgroundColor: 	var(--nf-h3-background-color);
	$h3_textColor: 			var(--nf-h3-color); 
	$h3_fontFamily: 		var(--nf-h3-font-family);
	$h3_lineHeight: 		var(--nf-h3-line-height);
	$h3_fontStyle: 			var(--nf-h3-font-style);
	$h3_fontWeight: 		var(--nf-h3-font-weight);
	$h3_marginTop: 			var(--nf-h3-margin-top);
	$h3_marginLeft: 		var(--nf-h3-margin-left);
	$h3_marginBottom: 		var(--nf-h3-margin-bottom);
	$h3_marginRight: 		var(--nf-h3-margin-right);
	$h3_paddingTop: 		var(--nf-h3-padding-top);
	$h3_paddingLeft: 		var(--nf-h3-padding-left);
	$h3_paddingBottom: 		var(--nf-h3-padding-bottom);
	$h3_paddingRight: 		var(--nf-h3-padding-right);
	$h3_opacity: 			var(--nf-h3-opacity);
	$h3_borderRadius: 		var(--nf-h3-border-radius);
	$h3_borderColor: 		var(--nf-h3-border-color);
	$h3_borderStyle: 		var(--nf-h3-border-style);
	$h3_borderWidth: 		var(--nf-h3-border-width);

		/* h4 */
	$h4_fontSize: 			var(--nf-h4-font-size);
	$h4_backgroundColor: 	var(--nf-h4-background-color);
	$h4_textColor: 			var(--nf-h4-color); 
	$h4_fontFamily: 		var(--nf-h4-font-family);
	$h4_lineHeight: 		var(--nf-h4-line-height);
	$h4_fontStyle: 			var(--nf-h4-font-style);
	$h4_fontWeight: 		var(--nf-h4-font-weight);
	$h4_marginTop: 			var(--nf-h4-margin-top);
	$h4_marginLeft: 		var(--nf-h4-margin-left);
	$h4_marginBottom: 		var(--nf-h4-margin-bottom);
	$h4_marginRight: 		var(--nf-h4-margin-right);
	$h4_paddingTop: 		var(--nf-h4-padding-top);
	$h4_paddingLeft: 		var(--nf-h4-padding-left);
	$h4_paddingBottom:		var(--nf-h4-padding-bottom);
	$h4_paddingRight: 		var(--nf-h4-padding-right);
	$h4_opacity: 			var(--nf-h4-opacity);
	$h4_borderRadius: 		var(--nf-h4-border-radius);
	$h4_borderColor: 		var(--nf-h4-border-color);
	$h4_borderStyle: 		var(--nf-h4-border-style);
	$h4_borderWidth: 		var(--nf-h4-border-width);

		/* h5 */
	$h5_fontSize: 			var(--nf-h5-font-size);
	$h5_backgroundColor: 	var(--nf-h5-background-color);
	$h5_textColor: 			var(--nf-h5-color); 
	$h5_fontFamily: 		var(--nf-h5-font-family);
	$h5_lineHeight: 		var(--nf-h5-line-height);
	$h5_fontStyle: 			var(--nf-h5-font-style);
	$h5_fontWeight: 		var(--nf-h5-font-weight);
	$h5_marginTop: 			var(--nf-h5-margin-top);
	$h5_marginLeft: 		var(--nf-h5-margin-left);
	$h5_marginBottom: 		var(--nf-h5-margin-bottom);
	$h5_marginRight: 		var(--nf-h5-margin-right);
	$h5_paddingTop: 		var(--nf-h5-padding-top);
	$h5_paddingLeft: 		var(--nf-h5-padding-left);
	$h5_paddingBottom: 		var(--nf-h5-padding-bottom);
	$h5_paddingRight: 		var(--nf-h5-padding-right);
	$h5_opacity: 			var(--nf-h5-opacity);
	$h5_borderRadius: 		var(--nf-h5-border-radius);
	$h5_borderColor: 		var(--nf-h5-border-color);
	$h5_borderStyle: 		var(--nf-h5-border-style);
	$h5_borderWidth: 		var(--nf-h5-border-width);

		/* h6 */
	$h6_fontSize: 			var(--nf-h6-font-size);
	$h6_backgroundColor: 	var(--nf-h6-background-color);
	$h6_textColor: 			var(--nf-h6-color); 
	$h6_fontFamily: 		var(--nf-h6-font-family);
	$h6_lineHeight: 		var(--nf-h6-line-height);
	$h6_fontStyle: 			var(--nf-h6-font-style);
	$h6_fontWeight: 		var(--nf-h6-font-weight);
	$h6_marginTop: 			var(--nf-h6-margin-top);
	$h6_marginLeft: 		var(--nf-h6-margin-left);
	$h6_marginBottom: 		var(--nf-h6-margin-bottom);
	$h6_marginRight: 		var(--nf-h6-margin-right);
	$h6_paddingTop: 		var(--nf-h6-padding-top);
	$h6_paddingLeft: 		var(--nf-h6-padding-left);
	$h6_paddingBottom: 		var(--nf-h6-padding-bottom);
	$h6_paddingRight: 		var(--nf-h6-padding-right);
	$h6_opacity: 			var(--nf-h6-opacity);
	$h6_borderRadius: 		var(--nf-h6-border-radius);
	$h6_borderColor: 		var(--nf-h6-border-color);
	$h6_borderStyle: 		var(--nf-h6-border-style);
	$h6_borderWidth: 		var(--nf-h6-border-width);

	/* li */
	$li_fontSize: 			var(--nf-li-font-size);
	$li_backgroundColor: 	var(--nf-li-background-color);
	$li_textColor: 			var(--nf-li-color); 
	$li_fontFamily: 		var(--nf-li-font-family);
	$li_lineHeight: 		var(--nf-li-line-height);
	$li_fontStyle: 			var(--nf-li-font-style);
	$li_fontWeight: 		var(--nf-li-font-weight);
	$li_marginTop: 			var(--nf-li-margin-top);
	$li_marginLeft: 		var(--nf-li-margin-left);
	$li_marginBottom: 		var(--nf-li-margin-bottom);
	$li_marginRight: 		var(--nf-li-margin-right);
	$li_paddingTop: 		var(--nf-li-padding-top);
	$li_paddingLeft: 		var(--nf-li-padding-left);
	$li_paddingBottom: 		var(--nf-li-padding-bottom);
	$li_paddingRight: 		var(--nf-li-padding-right);
	$li_opacity: 			var(--nf-li-opacity);
	$li_borderRadius: 		var(--nf-li-border-radius);
	$li_borderColor: 		var(--nf-li-border-color);
	$li_borderStyle: 		var(--nf-li-border-style);
	$li_borderWidth: 		var(--nf-li-border-width);

	/* anchor tags*/
	$anchor_fontSize: 		var(--nf-aTags-font-size);
    $anchor_textColor:		var(--nf-aTags-color);
    $anchor_style:    		var(--nf-aTags-style);
    $anchor_textDecoration:	var(--nf-aTags-text-decoration);
    $anchor_hoverColor:    	var(--nf-aTags-hover-color);
    $anchor_hoverDecoration:var(--nf-aTags-hover-text-decoration);   




    /* tab variables */
	/* Body */
	$tab-body_fontSize: 		var(--nf-tab_body-font-size);
	$tab-body_backgroundColor: 	var(--nf-tab_body-background-color);
	$tab-body_textColor: 		var(--nf-tab_body-color); 
	$tab-body_fontFamily: 		var(--nf-tab_body-font-family);
	$tab-body_lineHeight: 		var(--nf-tab_body-line-height);
	$tab-body_fontStyle: 		var(--nf-tab_body-font-style);
	$tab-body_fontWeight: 		var(--nf-tab_body-font-weight);
	$tab-body_marginTop: 		var(--nf-tab_body-margin-top);
	$tab-body_marginLeft: 		var(--nf-tab_body-margin-left);
	$tab-body_marginBottom: 	var(--nf-tab_body-margin-bottom);
	$tab-body_marginRight: 		var(--nf-tab_body-margin-right);
	$tab-body_paddingTop: 		var(--nf-tab_body-padding-top);
	$tab-body_paddingLeft: 		var(--nf-tab_body-padding-left);
	$tab-body_paddingBottom: 	var(--nf-tab_body-padding-bottom);
	$tab-body_paddingRight: 	var(--nf-tab_body-padding-right);
	$tab-body_opacity: 			var(--nf-tab_body-opacity);
	$tab-body_borderRadius: 	var(--nf-tab_body-border-radius);
	$tab-body_borderColor: 		var(--nf-tab_body-border-color);
	$tab-body_borderStyle: 		var(--nf-tab_body-border-style);
	$tab-body_borderWidth: 		var(--nf-tab_body-border-width);

	/* h1 */
	$tab-h1_fontSize: 			var(--nf-tab_h1-font-size);
	$tab-h1_backgroundColor: 	var(--nf-tab_h1-background-color);
	$tab-h1_textColor: 			var(--nf-tab_h1-color); 
	$tab-h1_fontFamily: 		var(--nf-tab_h1-font-family);
	$tab-h1_lineHeight: 		var(--nf-tab_h1-line-height);
	$tab-h1_fontStyle: 			var(--nf-tab_h1-font-style);
	$tab-h1_fontWeight: 		var(--nf-tab_h1-font-weight);
	$tab-h1_marginTop: 			var(--nf-tab_h1-margin-top);
	$tab-h1_marginLeft: 		var(--nf-tab_h1-margin-left);
	$tab-h1_marginBottom: 		var(--nf-tab_h1-margin-bottom);
	$tab-h1_marginRight: 		var(--nf-tab_h1-margin-right);
	$tab-h1_paddingTop: 		var(--nf-tab_h1-padding-top);
	$tab-h1_paddingLeft: 		var(--nf-tab_h1-padding-left);
	$tab-h1_paddingBottom: 		var(--nf-tab_h1-padding-bottom);
	$tab-h1_paddingRight: 		var(--nf-tab_h1-padding-right);
	$tab-h1_opacity: 			var(--nf-tab_h1-opacity);
	$tab-h1_borderRadius: 		var(--nf-tab_h1-border-radius);
	$tab-h1_borderColor: 		var(--nf-tab_h1-border-color);
	$tab-h1_borderStyle: 		var(--nf-tab_h1-border-style);
	$tab-h1_borderWidth: 		var(--nf-tab_h1-border-width);

		/* h2 */
	$tab-h2_fontSize: 			var(--nf-tab_h2-font-size);
	$tab-h2_backgroundColor: 	var(--nf-tab_h2-background-color);
	$tab-h2_textColor: 			var(--nf-tab_h2-color); 
	$tab-h2_fontFamily: 		var(--nf-tab_h2-font-family);
	$tab-h2_lineHeight: 		var(--nf-tab_h2-line-height);
	$tab-h2_fontStyle: 			var(--nf-tab_h2-font-style);
	$tab-h2_fontWeight: 		var(--nf-tab_h2-font-weight);
	$tab-h2_marginTop: 			var(--nf-tab_h2-margin-top);
	$tab-h2_marginLeft: 		var(--nf-tab_h2-margin-left);
	$tab-h2_marginBottom: 		var(--nf-tab_h2-margin-bottom);
	$tab-h2_marginRight: 		var(--nf-tab_h2-margin-right);
	$tab-h2_paddingTop: 		var(--nf-tab_h2-padding-top);
	$tab-h2_paddingLeft: 		var(--nf-tab_h2-padding-left);
	$tab-h2_paddingBottom: 		var(--nf-tab_h2-padding-bottom);
	$tab-h2_paddingRight: 		var(--nf-tab_h2-padding-right);
	$tab-h2_opacity: 			var(--nf-tab_h2-opacity);
	$tab-h2_borderRadius: 		var(--nf-tab_h2-border-radius);
	$tab-h2_borderColor: 		var(--nf-tab_h2-border-color);
	$tab-h2_borderStyle: 		var(--nf-tab_h2-border-style);
	$tab-h2_borderWidth: 		var(--nf-tab_h2-border-width);

		/* h3 */
	$tab-h3_fontSize: 			var(--nf-tab_h3-font-size);
	$tab-h3_backgroundColor: 	var(--nf-tab_h3-background-color);
	$tab-h3_textColor: 			var(--nf-tab_h3-color); 
	$tab-h3_fontFamily: 		var(--nf-tab_h3-font-family);
	$tab-h3_lineHeight: 		var(--nf-tab_h3-line-height);
	$tab-h3_fontStyle: 			var(--nf-tab_h3-font-style);
	$tab-h3_fontWeight: 		var(--nf-tab_h3-font-weight);
	$tab-h3_marginTop: 			var(--nf-tab_h3-margin-top);
	$tab-h3_marginLeft: 		var(--nf-tab_h3-margin-left);
	$tab-h3_marginBottom: 		var(--nf-tab_h3-margin-bottom);
	$tab-h3_marginRight: 		var(--nf-tab_h3-margin-right);
	$tab-h3_paddingTop: 		var(--nf-tab_h3-padding-top);
	$tab-h3_paddingLeft: 		var(--nf-tab_h3-padding-left);
	$tab-h3_paddingBottom: 		var(--nf-tab_h3-padding-bottom);
	$tab-h3_paddingRight: 		var(--nf-tab_h3-padding-right);
	$tab-h3_opacity: 			var(--nf-tab_h3-opacity);
	$tab-h3_borderRadius: 		var(--nf-tab_h3-border-radius);
	$tab-h3_borderColor: 		var(--nf-tab_h3-border-color);
	$tab-h3_borderStyle: 		var(--nf-tab_h3-border-style);
	$tab-h3_borderWidth: 		var(--nf-tab_h3-border-width);

		/* h4 */
	$tab-h4_fontSize: 			var(--nf-tab_h4-font-size);
	$tab-h4_backgroundColor: 	var(--nf-tab_h4-background-color);
	$tab-h4_textColor: 			var(--nf-tab_h4-color); 
	$tab-h4_fontFamily: 		var(--nf-tab_h4-font-family);
	$tab-h4_lineHeight: 		var(--nf-tab_h4-line-height);
	$tab-h4_fontStyle: 			var(--nf-tab_h4-font-style);
	$tab-h4_fontWeight: 		var(--nf-tab_h4-font-weight);
	$tab-h4_marginTop: 			var(--nf-tab_h4-margin-top);
	$tab-h4_marginLeft: 		var(--nf-tab_h4-margin-left);
	$tab-h4_marginBottom: 		var(--nf-tab_h4-margin-bottom);
	$tab-h4_marginRight: 		var(--nf-tab_h4-margin-right);
	$tab-h4_paddingTop: 		var(--nf-tab_h4-padding-top);
	$tab-h4_paddingLeft: 		var(--nf-tab_h4-padding-left);
	$tab-h4_paddingBottom:		var(--nf-tab_h4-padding-bottom);
	$tab-h4_paddingRight: 		var(--nf-tab_h4-padding-right);
	$tab-h4_opacity: 			var(--nf-tab_h4-opacity);
	$tab-h4_borderRadius: 		var(--nf-tab_h4-border-radius);
	$tab-h4_borderColor: 		var(--nf-tab_h4-border-color);
	$tab-h4_borderStyle: 		var(--nf-tab_h4-border-style);
	$tab-h4_borderWidth: 		var(--nf-tab_h4-border-width);

		/* h5 */
	$tab-h5_fontSize: 			var(--nf-tab_h5-font-size);
	$tab-h5_backgroundColor: 	var(--nf-tab_h5-background-color);
	$tab-h5_textColor: 			var(--nf-tab_h5-color); 
	$tab-h5_fontFamily: 		var(--nf-tab_h5-font-family);
	$tab-h5_lineHeight: 		var(--nf-tab_h5-line-height);
	$tab-h5_fontStyle: 			var(--nf-tab_h5-font-style);
	$tab-h5_fontWeight: 		var(--nf-tab_h5-font-weight);
	$tab-h5_marginTop: 			var(--nf-tab_h5-margin-top);
	$tab-h5_marginLeft: 		var(--nf-tab_h5-margin-left);
	$tab-h5_marginBottom: 		var(--nf-tab_h5-margin-bottom);
	$tab-h5_marginRight: 		var(--nf-tab_h5-margin-right);
	$tab-h5_paddingTop: 		var(--nf-tab_h5-padding-top);
	$tab-h5_paddingLeft: 		var(--nf-tab_h5-padding-left);
	$tab-h5_paddingBottom: 		var(--nf-tab_h5-padding-bottom);
	$tab-h5_paddingRight: 		var(--nf-tab_h5-padding-right);
	$tab-h5_opacity: 			var(--nf-tab_h5-opacity);
	$tab-h5_borderRadius: 		var(--nf-tab_h5-border-radius);
	$tab-h5_borderColor: 		var(--nf-tab_h5-border-color);
	$tab-h5_borderStyle: 		var(--nf-tab_h5-border-style);
	$tab-h5_borderWidth: 		var(--nf-tab_h5-border-width);

		/* h6 */
	$tab-h6_fontSize: 			var(--nf-tab_h6-font-size);
	$tab-h6_backgroundColor: 	var(--nf-tab_h6-background-color);
	$tab-h6_textColor: 			var(--nf-tab_h6-color); 
	$tab-h6_fontFamily: 		var(--nf-tab_h6-font-family);
	$tab-h6_lineHeight: 		var(--nf-tab_h6-line-height);
	$tab-h6_fontStyle: 			var(--nf-tab_h6-font-style);
	$tab-h6_fontWeight: 		var(--nf-tab_h6-font-weight);
	$tab-h6_marginTop: 			var(--nf-tab_h6-margin-top);
	$tab-h6_marginLeft: 		var(--nf-tab_h6-margin-left);
	$tab-h6_marginBottom: 		var(--nf-tab_h6-margin-bottom);
	$tab-h6_marginRight: 		var(--nf-tab_h6-margin-right);
	$tab-h6_paddingTop: 		var(--nf-tab_h6-padding-top);
	$tab-h6_paddingLeft: 		var(--nf-tab_h6-padding-left);
	$tab-h6_paddingBottom: 		var(--nf-tab_h6-padding-bottom);
	$tab-h6_paddingRight: 		var(--nf-tab_h6-padding-right);
	$tab-h6_opacity: 			var(--nf-tab_h6-opacity);
	$tab-h6_borderRadius: 		var(--nf-tab_h6-border-radius);
	$tab-h6_borderColor: 		var(--nf-tab_h6-border-color);
	$tab-h6_borderStyle: 		var(--nf-tab_h6-border-style);
	$tab-h6_borderWidth: 		var(--nf-tab_h6-border-width);

	/* li */
	$tab-li_fontSize: 			var(--nf-tab_li-font-size);
	$tab-li_backgroundColor: 	var(--nf-tab_li-background-color);
	$tab-li_textColor: 			var(--nf-tab_li-color); 
	$tab-li_fontFamily: 		var(--nf-tab_li-font-family);
	$tab-li_lineHeight: 		var(--nf-tab_li-line-height);
	$tab-li_fontStyle: 			var(--nf-tab_li-font-style);
	$tab-li_fontWeight: 		var(--nf-tab_li-font-weight);
	$tab-li_marginTop: 			var(--nf-tab_li-margin-top);
	$tab-li_marginLeft: 		var(--nf-tab_li-margin-left);
	$tab-li_marginBottom: 		var(--nf-tab_li-margin-bottom);
	$tab-li_marginRight: 		var(--nf-tab_li-margin-right);
	$tab-li_paddingTop: 		var(--nf-tab_li-padding-top);
	$tab-li_paddingLeft: 		var(--nf-tab_li-padding-left);
	$tab-li_paddingBottom: 		var(--nf-tab_li-padding-bottom);
	$tab-li_paddingRight: 		var(--nf-tab_li-padding-right);
	$tab-li_opacity: 			var(--nf-tab_li-opacity);
	$tab-li_borderRadius: 		var(--nf-tab_li-border-radius);
	$tab-li_borderColor: 		var(--nf-tab_li-border-color);
	$tab-li_borderStyle: 		var(--nf-tab_li-border-style);
	$tab-li_borderWidth: 		var(--nf-tab_li-border-width);

	/* anchor tags*/
	$tab-anchor_fontSize: 		var(--nf-tab_aTags-font-size);
    $tab-anchor_textColor:		var(--nf-tab_aTags-color);
    $tab-anchor_style:    		var(--nf-tab_aTags-style);
    $tab-anchor_textDecoration:	var(--nf-tab_aTags-text-decoration);
    $tab-anchor_hoverColor:    	var(--nf-tab_aTags-hover-color);
    $tab-anchor_hoverDecoration:var(--nf-tab_aTags-hover-text-decoration);  

    $tab-body-padding: var(--nf-tab_padding);       


    /* mobile variables */
	/* Body */
	$mob-body_fontSize: 		var(--nf-mob_body-font-size);
	$mob-body_backgroundColor: 	var(--nf-mob_body-background-color);
	$mob-body_textColor: 		var(--nf-mob_body-color); 
	$mob-body_fontFamily: 		var(--nf-mob_body-font-family);
	$mob-body_lineHeight: 		var(--nf-mob_body-line-height);
	$mob-body_fontStyle: 		var(--nf-mob_body-font-style);
	$mob-body_fontWeight: 		var(--nf-mob_body-font-weight);
	$mob-body_marginTop: 		var(--nf-mob_body-margin-top);
	$mob-body_marginLeft: 		var(--nf-mob_body-margin-left);
	$mob-body_marginBottom: 	var(--nf-mob_body-margin-bottom);
	$mob-body_marginRight: 		var(--nf-mob_body-margin-right);
	$mob-body_paddingTop: 		var(--nf-mob_body-padding-top);
	$mob-body_paddingLeft: 		var(--nf-mob_body-padding-left);
	$mob-body_paddingBottom: 	var(--nf-mob_body-padding-bottom);
	$mob-body_paddingRight: 	var(--nf-mob_body-padding-right);
	$mob-body_opacity: 			var(--nf-mob_body-opacity);
	$mob-body_borderRadius: 	var(--nf-mob_body-border-radius);
	$mob-body_borderColor: 		var(--nf-mob_body-border-color);
	$mob-body_borderStyle: 		var(--nf-mob_body-border-style);
	$mob-body_borderWidth: 		var(--nf-mob_body-border-width);
   	$mob-body-padding: var(--nf-mob_padding);    

	/* h1 */
	$mob-h1_fontSize: 			var(--nf-mob_h1-font-size);
	$mob-h1_backgroundColor: 	var(--nf-mob_h1-background-color);
	$mob-h1_textColor: 			var(--nf-mob_h1-color); 
	$mob-h1_fontFamily: 		var(--nf-mob_h1-font-family);
	$mob-h1_lineHeight: 		var(--nf-mob_h1-line-height);
	$mob-h1_fontStyle: 			var(--nf-mob_h1-font-style);
	$mob-h1_fontWeight: 		var(--nf-mob_h1-font-weight);
	$mob-h1_marginTop: 			var(--nf-mob_h1-margin-top);
	$mob-h1_marginLeft: 		var(--nf-mob_h1-margin-left);
	$mob-h1_marginBottom: 		var(--nf-mob_h1-margin-bottom);
	$mob-h1_marginRight: 		var(--nf-mob_h1-margin-right);
	$mob-h1_paddingTop: 		var(--nf-mob_h1-padding-top);
	$mob-h1_paddingLeft: 		var(--nf-mob_h1-padding-left);
	$mob-h1_paddingBottom: 		var(--nf-mob_h1-padding-bottom);
	$mob-h1_paddingRight: 		var(--nf-mob_h1-padding-right);
	$mob-h1_opacity: 			var(--nf-mob_h1-opacity);
	$mob-h1_borderRadius: 		var(--nf-mob_h1-border-radius);
	$mob-h1_borderColor: 		var(--nf-mob_h1-border-color);
	$mob-h1_borderStyle: 		var(--nf-mob_h1-border-style);
	$mob-h1_borderWidth: 		var(--nf-mob_h1-border-width);

		/* h2 */
	$mob-h2_fontSize: 			var(--nf-mob_h2-font-size);
	$mob-h2_backgroundColor: 	var(--nf-mob_h2-background-color);
	$mob-h2_textColor: 			var(--nf-mob_h2-color); 
	$mob-h2_fontFamily: 		var(--nf-mob_h2-font-family);
	$mob-h2_lineHeight: 		var(--nf-mob_h2-line-height);
	$mob-h2_fontStyle: 			var(--nf-mob_h2-font-style);
	$mob-h2_fontWeight: 		var(--nf-mob_h2-font-weight);
	$mob-h2_marginTop: 			var(--nf-mob_h2-margin-top);
	$mob-h2_marginLeft: 		var(--nf-mob_h2-margin-left);
	$mob-h2_marginBottom: 		var(--nf-mob_h2-margin-bottom);
	$mob-h2_marginRight: 		var(--nf-mob_h2-margin-right);
	$mob-h2_paddingTop: 		var(--nf-mob_h2-padding-top);
	$mob-h2_paddingLeft: 		var(--nf-mob_h2-padding-left);
	$mob-h2_paddingBottom: 		var(--nf-mob_h2-padding-bottom);
	$mob-h2_paddingRight: 		var(--nf-mob_h2-padding-right);
	$mob-h2_opacity: 			var(--nf-mob_h2-opacity);
	$mob-h2_borderRadius: 		var(--nf-mob_h2-border-radius);
	$mob-h2_borderColor: 		var(--nf-mob_h2-border-color);
	$mob-h2_borderStyle: 		var(--nf-mob_h2-border-style);
	$mob-h2_borderWidth: 		var(--nf-mob_h2-border-width);

		/* h3 */
	$mob-h3_fontSize: 			var(--nf-mob_h3-font-size);
	$mob-h3_backgroundColor: 	var(--nf-mob_h3-background-color);
	$mob-h3_textColor: 			var(--nf-mob_h3-color); 
	$mob-h3_fontFamily: 		var(--nf-mob_h3-font-family);
	$mob-h3_lineHeight: 		var(--nf-mob_h3-line-height);
	$mob-h3_fontStyle: 			var(--nf-mob_h3-font-style);
	$mob-h3_fontWeight: 		var(--nf-mob_h3-font-weight);
	$mob-h3_marginTop: 			var(--nf-mob_h3-margin-top);
	$mob-h3_marginLeft: 		var(--nf-mob_h3-margin-left);
	$mob-h3_marginBottom: 		var(--nf-mob_h3-margin-bottom);
	$mob-h3_marginRight: 		var(--nf-mob_h3-margin-right);
	$mob-h3_paddingTop: 		var(--nf-mob_h3-padding-top);
	$mob-h3_paddingLeft: 		var(--nf-mob_h3-padding-left);
	$mob-h3_paddingBottom: 		var(--nf-mob_h3-padding-bottom);
	$mob-h3_paddingRight: 		var(--nf-mob_h3-padding-right);
	$mob-h3_opacity: 			var(--nf-mob_h3-opacity);
	$mob-h3_borderRadius: 		var(--nf-mob_h3-border-radius);
	$mob-h3_borderColor: 		var(--nf-mob_h3-border-color);
	$mob-h3_borderStyle: 		var(--nf-mob_h3-border-style);
	$mob-h3_borderWidth: 		var(--nf-mob_h3-border-width);

		/* h4 */
	$mob-h4_fontSize: 			var(--nf-mob_h4-font-size);
	$mob-h4_backgroundColor: 	var(--nf-mob_h4-background-color);
	$mob-h4_textColor: 			var(--nf-mob_h4-color); 
	$mob-h4_fontFamily: 		var(--nf-mob_h4-font-family);
	$mob-h4_lineHeight: 		var(--nf-mob_h4-line-height);
	$mob-h4_fontStyle: 			var(--nf-mob_h4-font-style);
	$mob-h4_fontWeight: 		var(--nf-mob_h4-font-weight);
	$mob-h4_marginTop: 			var(--nf-mob_h4-margin-top);
	$mob-h4_marginLeft: 		var(--nf-mob_h4-margin-left);
	$mob-h4_marginBottom: 		var(--nf-mob_h4-margin-bottom);
	$mob-h4_marginRight: 		var(--nf-mob_h4-margin-right);
	$mob-h4_paddingTop: 		var(--nf-mob_h4-padding-top);
	$mob-h4_paddingLeft: 		var(--nf-mob_h4-padding-left);
	$mob-h4_paddingBottom:		var(--nf-mob_h4-padding-bottom);
	$mob-h4_paddingRight: 		var(--nf-mob_h4-padding-right);
	$mob-h4_opacity: 			var(--nf-mob_h4-opacity);
	$mob-h4_borderRadius: 		var(--nf-mob_h4-border-radius);
	$mob-h4_borderColor: 		var(--nf-mob_h4-border-color);
	$mob-h4_borderStyle: 		var(--nf-mob_h4-border-style);
	$mob-h4_borderWidth: 		var(--nf-mob_h4-border-width);

		/* h5 */
	$mob-h5_fontSize: 			var(--nf-mob_h5-font-size);
	$mob-h5_backgroundColor: 	var(--nf-mob_h5-background-color);
	$mob-h5_textColor: 			var(--nf-mob_h5-color); 
	$mob-h5_fontFamily: 		var(--nf-mob_h5-font-family);
	$mob-h5_lineHeight: 		var(--nf-mob_h5-line-height);
	$mob-h5_fontStyle: 			var(--nf-mob_h5-font-style);
	$mob-h5_fontWeight: 		var(--nf-mob_h5-font-weight);
	$mob-h5_marginTop: 			var(--nf-mob_h5-margin-top);
	$mob-h5_marginLeft: 		var(--nf-mob_h5-margin-left);
	$mob-h5_marginBottom: 		var(--nf-mob_h5-margin-bottom);
	$mob-h5_marginRight: 		var(--nf-mob_h5-margin-right);
	$mob-h5_paddingTop: 		var(--nf-mob_h5-padding-top);
	$mob-h5_paddingLeft: 		var(--nf-mob_h5-padding-left);
	$mob-h5_paddingBottom: 		var(--nf-mob_h5-padding-bottom);
	$mob-h5_paddingRight: 		var(--nf-mob_h5-padding-right);
	$mob-h5_opacity: 			var(--nf-mob_h5-opacity);
	$mob-h5_borderRadius: 		var(--nf-mob_h5-border-radius);
	$mob-h5_borderColor: 		var(--nf-mob_h5-border-color);
	$mob-h5_borderStyle: 		var(--nf-mob_h5-border-style);
	$mob-h5_borderWidth: 		var(--nf-mob_h5-border-width);

		/* h6 */
	$mob-h6_fontSize: 			var(--nf-mob_h6-font-size);
	$mob-h6_backgroundColor: 	var(--nf-mob_h6-background-color);
	$mob-h6_textColor: 			var(--nf-mob_h6-color); 
	$mob-h6_fontFamily: 		var(--nf-mob_h6-font-family);
	$mob-h6_lineHeight: 		var(--nf-mob_h6-line-height);
	$mob-h6_fontStyle: 			var(--nf-mob_h6-font-style);
	$mob-h6_fontWeight: 		var(--nf-mob_h6-font-weight);
	$mob-h6_marginTop: 			var(--nf-mob_h6-margin-top);
	$mob-h6_marginLeft: 		var(--nf-mob_h6-margin-left);
	$mob-h6_marginBottom: 		var(--nf-mob_h6-margin-bottom);
	$mob-h6_marginRight: 		var(--nf-mob_h6-margin-right);
	$mob-h6_paddingTop: 		var(--nf-mob_h6-padding-top);
	$mob-h6_paddingLeft: 		var(--nf-mob_h6-padding-left);
	$mob-h6_paddingBottom: 		var(--nf-mob_h6-padding-bottom);
	$mob-h6_paddingRight: 		var(--nf-mob_h6-padding-right);
	$mob-h6_opacity: 			var(--nf-mob_h6-opacity);
	$mob-h6_borderRadius: 		var(--nf-mob_h6-border-radius);
	$mob-h6_borderColor: 		var(--nf-mob_h6-border-color);
	$mob-h6_borderStyle: 		var(--nf-mob_h6-border-style);
	$mob-h6_borderWidth: 		var(--nf-mob_h6-border-width);

	/* li */
	$mob-li_fontSize: 			var(--nf-mob_li-font-size);
	$mob-li_backgroundColor: 	var(--nf-mob_li-background-color);
	$mob-li_textColor: 			var(--nf-mob_li-color); 
	$mob-li_fontFamily: 		var(--nf-mob_li-font-family);
	$mob-li_lineHeight: 		var(--nf-mob_li-line-height);
	$mob-li_fontStyle: 			var(--nf-mob_li-font-style);
	$mob-li_fontWeight: 		var(--nf-mob_li-font-weight);
	$mob-li_marginTop: 			var(--nf-mob_li-margin-top);
	$mob-li_marginLeft: 		var(--nf-mob_li-margin-left);
	$mob-li_marginBottom: 		var(--nf-mob_li-margin-bottom);
	$mob-li_marginRight: 		var(--nf-mob_li-margin-right);
	$mob-li_paddingTop: 		var(--nf-mob_li-padding-top);
	$mob-li_paddingLeft: 		var(--nf-mob_li-padding-left);
	$mob-li_paddingBottom: 		var(--nf-mob_li-padding-bottom);
	$mob-li_paddingRight: 		var(--nf-mob_li-padding-right);
	$mob-li_opacity: 			var(--nf-mob_li-opacity);
	$mob-li_borderRadius: 		var(--nf-mob_li-border-radius);
	$mob-li_borderColor: 		var(--nf-mob_li-border-color);
	$mob-li_borderStyle: 		var(--nf-mob_li-border-style);
	$mob-li_borderWidth: 		var(--nf-mob_li-border-width);

	/* anchor tags*/
	$mob-anchor_fontSize: 		var(--nf-mob_aTags-font-size);
    $mob-anchor_textColor:		var(--nf-mob_aTags-color);
    $mob-anchor_style:    		var(--nf-mob_aTags-style);
    $mob-anchor_textDecoration:	var(--nf-mob_aTags-text-decoration);
    $mob-anchor_hoverColor:    	var(--nf-mob_aTags-hover-color);
    $mob-anchor_hoverDecoration: var(--nf-mob_aTags-hover-text-decoration);   
